extends ../../layouts/case

block head
  - var pageTitle = 'Dezi | Aizkulises'

block header
  - var headerClass = '_light'

block content
  +aizkulises
    +aizkulises-offer('assets/images/aizkulises/logo.svg', 'aizkulises.lv', 'Сайт девелоперского проекта Aizkulises', 'В Риге на улице Aleksandra Čaka 134 был создан новый, стильный девелоперский проект. Фасад дома получил уникальное художественное оформление. Архитекторы проекта черпали вдохновение в занавесе Латвийской национальной оперы, оттуда они позаимствовали узор, ставший визитной карточкой нового здания.')
      +aizkulises-device('assets/images/aizkulises/page_1.jpg', 'assets/images/aizkulises/macbook.png').__device
      +aizkulises-device('assets/images/aizkulises/page_4.jpg', 'assets/images/aizkulises/iphone.png')._static-phone.__phone
    +aizkulises-second
    +aizkulises-third
    +aizkulises-photos([
      'assets/images/aizkulises/photo_1.jpg',
      'assets/images/aizkulises/photo_2.jpg',
      'assets/images/aizkulises/photo_3.jpg',
      'assets/images/aizkulises/photo_4.jpg',
      'assets/images/aizkulises/photo_5.jpg',
      'assets/images/aizkulises/photo_6.jpg',
      'assets/images/aizkulises/photo_7.jpg',
      'assets/images/aizkulises/photo_8.jpg',
      'assets/images/aizkulises/photo_9.jpg',
      'assets/images/aizkulises/photo_10.jpg',
      'assets/images/aizkulises/photo_11.jpg',
      'assets/images/aizkulises/photo_12.jpg'
    ])
    +aizkulises-fourth
    +aizkulises-five
