mixin svg-gradients()
  +b.SVG.svg-gradients&attributes(attributes)
    defs
      linearGradient#nla-red(x1="81%" y1="0%" x2="19%" y2="100%")
        stop(offset="0%" stop-color="rgb(223,6,47)")
        stop(offset="100%" stop-color="rgb(234,46,68)")
      linearGradient#venezia-pink(x1="100%" y1="97%" x2="0%" y2="3%")
        stop(offset="0%" stop-color="rgb(104,62,94)")
        stop(offset="100%" stop-color="rgb(195,66,79)")
      linearGradient#buttons(x1="27.564%" x2="0%" y1="0%" y2="96.126%")
        stop(offset="0%" stop-color="rgb(19,213,215)" stop-opacity="1")
        stop(offset="26%" stop-color="rgb(62,239,199)" stop-opacity="1")
        stop(offset="64%" stop-color="rgb(137,42,94)" stop-opacity="1")
        stop(offset="100%" stop-color="rgb(237,64,54)" stop-opacity="1")
    block
