mixin page-switcher()
  +b.UL.page-switcher&attributes(attributes)
    +e.LI.item
      +link().__link.is-active(href="#") КРАСИВО С КАРТИНКАМИ
    +e.LI.item
      +link().__link(href="#") СТРОГО ПО ДЕЛУ
    block
