mixin page-switcher(active)
  - var active1 = active ? '' : ' is-active'
  - var active2 = active ? 'is-active' : ''
  +b.UL.page-switcher&attributes(attributes)
    +e.LI.item
      +link().__link(href="services-full.html" class=active1) КРАСИВО С КАРТИНКАМИ
    +e.LI.item
      +link().__link(href="services-simple.html" class=active2) СТРОГО ПО ДЕЛУ
    block
