.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: box-shadow $ease-main, background-color $ease-main;

  $b: &;

  &__top {
    display: block;
    width: 100%;
    padding: 45px 0 50px;
  }

  &__bottom {
    display: block;
    width: 100%;
    pointer-events: none;
  }

  &__left {
    pointer-events: auto;
  }

  &__right {
    pointer-events: auto;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 47px 0 46px;

    @include screen('md') {
      padding: 0 25px;
    }
  }

  &__logo {
    display: block;
    width: 66px;

    @include screen('md') {
      width: 40px;
    }
  }

  &__burger {
    width: 66px;
    height: 35px;
    position: relative;
    display: block;
    text-align: left;
    transition: opacity $ease-main;

    @include screen('md') {
      width: 40px;
      height: 26px;
    }

    &:hover {
      opacity: .6;
    }

    span {
      position: absolute;
      display: inline-block;
      right: 0;
      top: -2px;
      width: 30px;
      height: 30px;

      @include screen('md') {
        top: 0;
        width: 20px;
        height: 20px;
      }

      &::before,
      &::after {
        @include pseudo;

        top: 0;
        width: 4px;
        background-color: $color-text;

        @include screen('md') {
          width: 3px;
        }
      }

      &::before {
        right: 0;
        height: 38px;

        @include screen('md') {
          height: 27px;
        }
      }

      &::after {
        right: 12px;
        height: 25px;

        @include screen('md') {
          right: 8px;
          height: 17px;
        }
      }
    }
  }

  &__menu {
    display: block;
    flex: 1;
  }

  &_light {

    .logo {
      color: $color-basic;
    }

    #{$b} {

      &__burger {

        span {

          &::before,
          &::after {
            background-color: $color-basic;
          }
        }
      }
    }
  }
}
