.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  pointer-events: none;
  color: $color-text;
  $b: &;

  &::before {
    @include pseudo;

    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-black;
    transition: transform $ease-main;
    transform-origin: 50% 0 0;
    transform: scaleY(0);

    @include rule(height, (xxl: 130, xl: 130, lg: 130));

    @include screen('md') {
      height: 100%;
      background-color: $color-titles;
    }
  }

  &.is-open {

    &::before {
      background-color: $color-black;
      transform: scaleY(1);

      @include screen('md') {
        background-color: $color-titles;
      }
    }
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // padding-top: 45px;
    width: 100%;
    transition: color $ease-main, height $ease-main;
    z-index: 2;
    // height: 124px;
    box-sizing: border-box;

    @include rule(padding-top, (xxl: 45, xl: 45, lg: 45, md: 22));
    @include rule(height, (xxl: 124, xl: 124, lg: 124, md: 72));

    // @include screen('md') {
    //   padding-top: 22px;
    //   height: 72px;
    // }

    #{$b}.is-open & {
      color: $color-basic;
    }
  }

  &__bottom {
    display: flex;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    // padding-bottom: 45px;

    @include rule(padding-bottom, (xxl: 45, xl: 45, lg: 45, md: 45));

    @include screen('md') {
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
      transition: opacity $ease-main;
      // display: none;
    }

    #{$b}.is-open & {
      @include screen('md') {
        visibility: visible;
        pointer-events: auto;
        color: $color-basic;
        opacity: 1;
      }
    }

    #{$b}__wrapper {
      @include screen('md') {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
      }
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: auto;
    // transform: translate3d(-10px, 0, 0);
    // margin-top: -4px;
    padding-top: 0;
    // width: 20px;
    transition: padding-top $ease-main;
    transform: translate3d(-.52vw, 0, 0);

    @include rule(width, (xxl: 20, xl: 20, lg: 20, md: 20));
    @include rule(margin-top, (xxl: -4, xl: -4, lg: -4, md: -4));

    @include screen('xl') {
      transform: translate3d(-.73vw, 0, 0);
    }

    @include screen('lg') {
      transform: translate3d(-.98vw, 0, 0);
    }

    @include screen('md') {
      transform: translate3d(0, 0, 0);
      order: 2;
    }

    #{$b}.is-open & {
      // padding-top: 20px;
      @include rule(padding-top, (xxl: 20, xl: 20, lg: 20, md: 45));
    }
  }

  &__right {
    pointer-events: auto;
    // margin-top: -4px;
    padding-top: 0;
    transition: padding-top $ease-main;

    @include rule(margin-top, (xxl: -4, xl: -4, lg: -4, md: -4));

    #{$b}.is-open & {
      // padding-top: 20px;

      @include rule(padding-top, (xxl: 20, xl: 20, lg: 20, md: 20));
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0;

    @include rule(padding-left, (xxl: 46, xl: 46, lg: 46, md: 25));
    @include rule(padding-right, (xxl: 46, xl: 46, lg: 46, md: 25));
  }

  &__logo {
    display: block;
    align-self: center;
    pointer-events: auto;

    @include rule(width, (xxl: 54, xl: 54, lg: 54, md: 40));
  }

  &__titles {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    // margin-bottom: 34px;

    @include rule(margin-bottom, (xxl: 34, xl: 34, lg: 34, md: 34));

    @include screen('md') {
      display: none;
    }
  }

  &__burger {
    // width: 54px;
    // height: 30px;
    position: relative;
    display: block;
    text-align: left;
    transition: opacity $ease-main;
    align-self: center;
    pointer-events: auto;

    @include rule(width, (xxl: 54, xl: 54, lg: 54, md: 40));
    @include rule(height, (xxl: 30, xl: 30, lg: 30, md: 20));

    // @include screen('md') {
    //   width: 40px;
    //   height: 20px;
    // }

    &::before {
      @include pseudo;
      @include rule(width, (xxl: 60, xl: 60, lg: 60, md: 60));
      @include rule(height, (xxl: 60, xl: 60, lg: 60, md: 50));

      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
    }

    &:hover {
      opacity: .6;
    }

    span {
      position: absolute;
      display: inline-block;
      right: 0;
      // top: -2px;
      // width: 30px;
      // height: 30px;
      transition: top $ease-main;

      @include rule(top, (xxl: -2, xl: -2, lg: -2, md: -2));
      @include rule(width, (xxl: 30, xl: 30, lg: 30, md: 21));
      @include rule(height, (xxl: 30, xl: 30, lg: 30, md: 21));

      // @include screen('md') {
      //   width: 21px;
      //   height: 21px;
      // }

      #{$b}.is-open & {
        @include rule(top, (xxl: 2, xl: 2, lg: 2, md: 2));
        // top: 2px;
      }

      &::before,&::after {
        @include pseudo;

        top: 0;
        // width: 4px;
        background-color: currentColor;
        transition: background $ease-main, height $ease-main, transform $ease-main, right $ease-main;

        @include rule(width, (xxl: 4, xl: 4, lg: 4, md: 3));

        #{$b}.is-open & {
          background-color: $color-basic;
        }
      }

      &::before {
        transform-origin: 100% 0 0;
        right: 0;

        @include rule(height, (xxl: 38, xl: 38, lg: 38, md: 27));

        #{$b}.is-open & {
          transform: translate3d(.36vw, 0, 0) rotate(45deg);

          @include screen('xl') {
            transform: translate3d(.51vw, 0, 0) rotate(45deg);
          }

          @include screen('lg') {
            transform: translate3d(.68vw, 0, 0) rotate(45deg);
          }

          @include screen('md') {
            transform: translate3d(1.56vw, 0, 0) rotate(45deg);
          }
        }
      }

      &::after {
        transform-origin: 0 0 0;
        // right: 12px;
        // height: 25px;

        @include rule(height, (xxl: 25, xl: 25, lg: 25, md: 17));
        @include rule(right, (xxl: 12, xl: 12, lg: 12, md: 8));

        #{$b}.is-open & {
          transform: translate3d(-.36vw, 0, 0) rotate(-45deg);
          @include rule(height, (xxl: 38, xl: 38, lg: 38, md: 27));

          @include screen('xl') {
            transform: translate3d(-.51vw, 0, 0) rotate(-45deg);
          }

          @include screen('lg') {
            transform: translate3d(-.68vw, 0, 0) rotate(-45deg);
          }

          @include screen('md') {
            transform: translate3d(-1.56vw, 0, 0) rotate(-45deg);
          }
        }
      }
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 124px;
    display: flex;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity $ease-main;
    // padding: 0 4.6vw;
    box-sizing: border-box;
    padding: 0;

    @include rule(height, (xxl: 124, xl: 124, lg: 124));

    @include screen('md') {
      // padding-top: 80px;
      // padding-bottom: 80px;
      height: 100%;
      max-height: 100%;
      overflow: auto;
    }

    #{$b}.is-open & {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
      transition-delay: .3s;
    }

    .container {
      display: flex;
      box-sizing: border-box;

      @include rule(padding-top, (md: 80));
      @include rule(padding-bottom, (md: 32));

      @include screen('md') {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        overflow: auto;
      }
    }
  }

  &__languages {
    box-sizing: border-box;
    // padding-top: 18px;
    @include rule(padding-top, (xxl: 18, xl: 18, lg: 18, md: 25));

    .link {
      color: currentColor;
    }

    &:not(:last-child) {
      // margin-bottom: 74px;
      @include rule(margin-bottom, (xxl: 74, xl: 74, lg: 74, md: 0));
    }
  }

  .logo {
    transition: none;
    color: currentColor;
  }

  &__socials {
    @include screen('md') {
      text-align: right;
    }
  }

  .social {
    color: currentColor;

    @include screen('md') {
      display: inline-block;
    }

    @include rule(width, (md: 15));
    @include rule(height, (md: 18));
  }

  &_light {
    color: $color-basic;

    #{$b} {

      &__burger {

        span {

          &::before, &::after {
            background-color: $color-basic;
          }
        }
      }
    }
  }
}
