mixin header(data)
  +b.HEADER.header&attributes(attributes)
    +e.top
      +e.wrapper
        +e.logo
          +logo()(href="./")
        +e.NAV.menu
          +header-navigation(data.active)
        +e.BUTTON.burger.js-show-menu(type="button")
          span
    +e.bottom
      +e.wrapper
        +e.left
          +e.titles
            +nav-titles(data.titles)
          +socials([{tag: '', icon: 'behance-round', name: 'Behance', cls: ''}, {tag: '', icon: 'instagramm-round', name: 'Instagramm', cls: ''}, {tag: '', icon: 'facebook-round', name: 'Facebook', cls: ''}]).__socials
        +e.right
          +languages.__languages
          block
