.languages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  $b: &;

  &__item {
    display: inline-block;

    &:not(:last-child) {
      // margin-bottom: 38px;
      @include rule(margin-bottom, (xxl: 38, xl: 38, lg: 38, md: 38));
    }
  }

  &__link {
    text-transform: uppercase;
    // font-size: $fz12;
    line-height: $lh-default;
    letter-spacing: $ls-header;
    font-weight: 700;

    @include rule(font-size, (xxl: $fz12, xl: $fz12, lg: $fz12, md: $fz12));
  }
}
