mixin splace()
  +b.SECTION.splace&attributes(attributes)
    block

mixin splace-column-left()
  .splace__col.splace__col_left&attributes(attributes)
    block

mixin splace-column-right()
  .splace__col.splace__col_right&attributes(attributes)
    block

mixin splace-lead()
  +b.SECTION.splace-lead&attributes(attributes)
    .container.container_inner.container_flex
      +splace-column-left
        +e.header
          +e.logo.js-sr_1
            +icon('splace-logo').__logo-icon
          +e.A.link.js-sr_2(href="https://secretplacestore.com") secretplacestore.com
        +case-section.__section
          +case-section-heading.js-sr_3 Design of an online store “Secret&nbsp;place”
          +case-section-text.js-sr_4 The boutique showroom Secret Place specializes in unusual designer clothing from rare and single-piece brands. The client wanted to create an unusual visual image of the store and emphasize the simplicity and elegance of the collections presented.
        +e.applique
          +e.images
            +e.item_w1.js-sr_8
              +e.IMG.image(src="assets/images/secretplace/lead-woman-1.png")
            +e.item_w2.js-sr_8
              +e.IMG.image(src="assets/images/secretplace/lead-woman-2.png")
            +e.item_w3.js-sr_8
              +e.IMG.image(src="assets/images/secretplace/lead-woman-3.png")
            +e.images-woman.js-sr_9(data-slot-id="splace-woman" data-slot-res="md")
            +e.item_w4.js-sr_8
              +e.IMG.image(src="assets/images/secretplace/lead-woman-4.png")
        +case-section.__section
          +case-section-text.js-sr_1
            p The key visual element of the design is the keyhole, borrowed from the logo. There it plays the role of the enclosed area in the letter A. In the case of the site, it became a window into the world of Secret Place.
            p The viewer as if peeps into a secret place through the keyhole.
      +splace-column-right
        +e.woman.js-sr_6(data-slot-id="splace-woman" data-slot-res="xl")
          +e.IMG.woman-image(src="assets/images/secretplace/lead-image.png" data-target-slot="splace-woman")
    block

mixin splace-about()
  +b.SECTION.splace-about&attributes(attributes)
    .container.container_inner.container_flex
      +splace-column-left
        +e.describe
          +case-section.__section
            +case-section-text.js-sr_1
              p The homepage is filled with several blocks of different meaning. The attention of customers is attracted not only to online products, but also to the real showroom in the centre of Moscow.
          +e.woman.js-sr_6
            +e.IMG.woman-image(src="assets/images/secretplace/long-woman.png")
      +splace-column-right
        +e.PICTURE.page.js-sr_2
          source(srcset="assets/images/secretplace/site-page-2.png" media="(max-width: 1366px)")
          +e.IMG.page-image(srcset="assets/images/secretplace/site-page.png")
    block

mixin splace-pages()
  +b.SECTION.splace-pages&attributes(attributes)
    .container.container_inner.container_flex
      +splace-column-left
        +case-section.__section
          +case-section-heading.js-sr_1 All the main pages of the website are made in the same restrained minimalist manner. The emphasis is shifted to the products.
      +splace-column-right
    +e.images
      +e.screen.js-splace-pages
        +e.IMG.screen-image(src="assets/images/secretplace/pages.png")
      +e.car.js-sr_10
        +e.IMG.car-image(src="assets/images/secretplace/car.png")
    block

mixin splace-design()
  +b.SECTION.splace-design&attributes(attributes)
    +e.images
      +e.woman.js-sr_1
        +e.IMG.woman-image(src="assets/images/secretplace/notebook-woman.png")
      +e.rock.js-sr_10
        +e.IMG.rock-image(src="assets/images/secretplace/rock-sign.png")
    .container.container_inner.container_flex
      +splace-column-left
        +case-section.__section
          +case-section-heading.js-sr_2 We have created graphic elements that would give the design additional depth and multi-level effect.
      +splace-column-right
    block

mixin splace-look()
  +b.SECTION.splace-look&attributes(attributes)
    +e.figure
      +e.images
        +e.IMG.image_base(src="assets/images/secretplace/look-base.png")
        +e.IMG.image_left(src="assets/images/secretplace/look-left.png")
        +e.IMG.image_right(src="assets/images/secretplace/look-right.png")
      +e.SECTION.describe
        +e.H3.heading Купить весь лук
        +e.text В каждом товаре есть опция покупки целого лука, который видно в галерее фотографий конкретного товара.
    block

mixin splace-call()
  +b.SECTION.splace-call&attributes(attributes)
    .container.container_inner
      +e.images.js-sr_1
        +e.IMG.image(src="assets/images/secretplace/call.png")
    block
