.splace {
  $b: &;

  display: block;
  width: 100%;
  background-color: $color-smoke-white;
  color: $color-grey-dark-8;
  font-family: $font-second;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: -1px;

  @include screen('lg') {
    font-size: 18px;
  }

  @include screen('md') {
    font-size: 15px;
  }

  .case-section {
    display: block;
    margin-left: -4px;

    @include screen('xl') {
      margin-left: -2px;
    }

    @include screen('lg') {
      margin-left: 0;
    }

    &__heading {
      font-size: 40px;
      color: $color-grey-dark-8;
      font-weight: 400;
      letter-spacing: -.02em;

      @include screen('lg') {
        font-size: 35px;
      }

      @include screen('md') {
        font-size: 30px;
      }
    }

    &__text {
      font-weight: 300;
      font-size: 20px;
      line-height: 1.62;

      @include screen('xl') {
        line-height: 1.2;
      }

      @include screen('lg') {
        font-size: 18px;
        line-height: 1.2;
      }

      @include screen('md') {
        font-size: 15px;
      }
    }
  }

  &__col {
    display: block;
  }

  &-lead {
    display: block;
    width: 100%;

    @include screen('md') {
      padding-top: 13.7%;
    }

    &__header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      @include screen('md') {
        align-items: center;
      }

      &:not(:last-child) {
        margin-bottom: 70px;

        @include screen('lg') {
          margin-bottom: 51px;
        }
      }
    }

    &__logo {
      display: block;
      width: 213px;
      height: 73px;
      fill: $color-grey-dark-9;
      margin-left: -11px;

      @include screen('lg') {
        width: 160px;
        height: 55px;
        margin-left: -8px;
      }

      @include screen('md') {
        width: 148px;
        height: 51px;
        margin-left: 0;
      }

      &:not(:last-child) {
        margin-bottom: 67px;

        @include screen('lg') {
          margin-bottom: 52px;
        }

        @include screen('md') {
          margin-bottom: 32px;
        }
      }

      &-icon {
        width: 100%;
        height: 100%;
        fill: inherit;
      }
    }

    &__link {
      display: inline-block;
      font-size: 19px;
      font-weight: 500;
      color: $color-grey-light;
      line-height: 1.2;
      cursor: pointer;

      @include screen('lg') {
        font-size: 14px;
      }

      @include screen('md') {
        font-size: 11px;
      }
    }

    &__applique {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 72.4%;
      margin-top: 8.2%;

      @include screen('xl') {
        margin-top: 23%;
        padding-top: 105.5%;
      }

      @include screen('lg') {
        margin-top: 14%;
        padding-top: 94.8%;
      }

      @include screen('md') {
        margin-top: 10%;
        padding-top: 208%;
      }
    }

    &__images {
      position: absolute;
      top: 0;
      left: -160px;
      min-height: 100%;
      width: calc((10000 / 45) * 1% + 320px);
      display: flex;
      justify-content: flex-start;
      align-items: stretch;

      @include screen('xl') {
        width: calc((10000 / 40) * 1% + 200px);
        left: -100px;
      }

      @include screen('lg') {
        width: calc((10000 / 42.3) * 1% + 150px);
        left: -75px;
      }

      @include screen('md') {
        display: flex;
        height: 100%;
        align-items: flex-end;
        width: calc(100% + 50px);
        left: -25px;
      }

      &-woman {
        display: none;

        @include screen('md') {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          padding-top: 146%;
          z-index: 1;
        }
      }
    }

    &__item {
      position: relative;
      display: inline-block;
      font-size: 0;
      line-height: 0;

      &_w1 {
        margin-left: 4%;
        width: 11.1%;
        margin-right: 5.1%;

        @include screen('xl') {
          margin-left: 5.4%;
          width: 15.6%;
          margin-right: 7.3%;
        }

        @include screen('md') {
          width: 50%;
          margin-left: -6.3%;
          margin-bottom: 14%;
          z-index: 2;
        }
      }

      &_w2 {
        margin-right: 7%;
        width: 11.4%;

        @include screen('xl') {
          width: 16%;
        }

        @include screen('lg') {
        }

        @include screen('md') {
          display: none;
        }

        &::before {
          @include pseudo;

          top: 11.2%;
          left: 0;
          width: 4.5%;
          height: 100%;
          z-index: 1;
          background-image: url('../images/secretplace/plus-line.png');
          background-size: 100% auto;
          background-repeat: no-repeat;
          background-position: 0 0;

          @include screen('xl') {
            top: 9.8%;
          }
        }
      }

      &_w3 {
        margin-right: 7%;
        width: 11.7%;

        @include screen('xl') {
          display: none;
        }
      }

      &_w4 {
        margin-right: 3%;
        width: 10.4%;
        margin-left: auto;

        @include screen('xl') {
          display: none;
        }
      }
    }

    &__image {
      position: relative;
      display: block;
      font-size: 0;
      line-height: 0;
      width: 100%;

      #{$b}-lead__item_w1 & {
        transform: translate3d(0, 16%, 0);

        @include screen('xl') {
          transform: translate3d(0, 14%, 0);
        }

        @include screen('md') {
          transform: translate3d(0, 0, 0);
        }
      }

      #{$b}-lead__item_w2 & {
        transform: translate3d(0, 2%, 0);
        z-index: 2;

        @include screen('xl') {
          transform: translate3d(0, 0, 0);
        }
      }

      #{$b}-lead__item_w3 & {
        transform: translate3d(0, 2%, 0);

        @include screen('xl') {
          transform: translate3d(0, 0, 0);
        }
      }
    }

    &__section {
      width: 100%;

      &_top {
        box-sizing: border-box;
        padding-right: 27%;

        @include screen('xl') {
          padding-right: 0;
        }

        @include screen('lg') {
          padding-right: 0;
        }
      }

      .case-section {
        &__heading {
          box-sizing: border-box;

          @include screen('lg') {
            padding-right: 5%;
          }

          &:not(:last-child) {
            margin-bottom: 47px;

            @include screen('xl') {
              margin-bottom: 50px;
            }

            @include screen('lg') {
              margin-bottom: 55px;
            }

            @include screen('md') {
              margin-bottom: 25px;
            }
          }
        }
      }

      p {
        &:not(:last-child) {
          margin-bottom: 32px;

          @include screen('xl') {
            margin-bottom: 24px;
          }

          @include screen('md') {
            margin-bottom: 18px;
          }
        }
      }
    }

    &__woman {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 171.8%;
      margin-top: 4%;
      margin-left: -3.2%;

      @include screen('xl') {
        margin-left: 3.8%;
        padding-top: 193.7%;
        margin-top: 5.6%;
      }

      @include screen('lg') {
        padding-top: 201.8%;
        margin-top: 6%;
        margin-left: -.3%;
      }

      @include screen('md') {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding-top: 0;
        margin-top: -2%;
        margin-left: 17.8%;
      }

      &-wrapper {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 91.8%;
        height: 100%;
        overflow: hidden;

        @include screen('xl') {
          width: 103.4%;
        }

        @include screen('lg') {
          width: 107.8%;
        }

        @include screen('md') {
          width: 78.1%;
        }
      }

      &-image {
        position: absolute;
        display: block;
        font-size: 0;
        line-height: 0;
        top: 0;
        left: 0;
        width: 100%;

        &_girl {
          margin-left: -1px;
          margin-top: -1px;
          transition: transform .6s ease;
          transform: translate3d(0, 0, 0);

          &.is-animated {
            transform: translate3d(0, 5%, 0);
          }
        }
      }
    }

    #{$b} {
      &__col {
        position: relative;

        &_left {
          padding-top: 12.1%;
          width: 45%;
          z-index: 2;

          @include screen('xl') {
            padding-top: 11.2%;
            width: 40%;
          }

          @include screen('lg') {
            width: 42.3%;
          }

          @include screen('md') {
            padding-top: 0;
            width: 100%;
          }
        }

        &_right {
          width: 55%;
          z-index: 1;

          @include screen('xl') {
            width: 60%;
          }

          @include screen('lg') {
            width: 57.7%;
          }

          @include screen('md') {
            width: 100%;
          }
        }
      }
    }
  }

  &-about {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 1.2%;

    @include screen('xl') {
      padding-top: 4.7%;
    }

    @include screen('lg') {
      padding-top: 1.9%;
    }

    @include screen('md') {
      padding-top: 18.3%;
    }

    &__woman {
      position: absolute;
      top: 0;
      left: 2.1%;
      display: block;
      width: 100%;
      padding-top: 314%;
      margin-top: -105.4%;
      z-index: 2;

      @include screen('xl') {
        left: -1.8%;
        padding-top: 382%;
        margin-top: -128.3%;
      }

      @include screen('lg') {
        padding-top: 382.3%;
      }

      @include screen('md') {
        left: 21%;
        padding-top: 222.2%;
        margin-top: -82%;
      }

      &-image {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        font-size: 0;
        line-height: 0;
        height: 100%;
      }
    }

    &__describe {
      position: relative;
      display: block;
      width: 100%;
      margin-top: 105.4%;
      padding-top: 52.2%;
      padding-bottom: 21%;

      @include screen('xl') {
        margin-top: 128.3%;
        padding-top: 71.9%;
        padding-bottom: 25%;
      }

      @include screen('lg') {
        padding-top: 65%;
        padding-bottom: 23%;
      }

      @include screen('md') {
        padding-top: 23.4%;
        margin-top: 82%;
        margin-bottom: 63%;
      }

      &::before {
        @include pseudo;

        top: 0;
        left: -165px;
        width: calc(100% + 300px);
        height: 100%;
        z-index: 1;
        background-color: $color-black;

        @include screen('xl') {
          left: -105px;
          width: calc(100% + 200px);
        }
      }
    }

    &__section {
      position: relative;
      color: $color-basic;
      padding-right: 18%;
      z-index: 3;

      @include screen('xl') {
        padding-right: 16%;
      }

      @include screen('lg') {
        // padding-right: 18%;
      }

      @include screen('md') {
        padding-right: 0;
      }

      .case-section {
        &__text {
          letter-spacing: -.04em;
        }
      }
    }

    &__page {
      display: block;
      width: 103.1%;
      margin-right: -3.1%;
      margin-left: 0;
      margin-top: 11.2%;

      @include screen('xl') {
        width: 110.5%;
        margin-right: -10.5%;
        margin-top: 16%;
      }

      @include screen('md') {
        width: 112.9%;
        margin-left: -3%;
        margin-right: -9.9%;
        margin-top: 0;
      }

      &-image {
        display: block;
        font-size: 0;
        line-height: 0;
        width: 100%;
      }
    }

    #{$b} {
      &__col {
        position: relative;

        &_left {
          width: 36.5%;
          z-index: 1;

          @include screen('xl') {
            width: 41.1%;
          }

          @include screen('md') {
            order: 2;
            width: 100%;
          }
        }

        &_right {
          width: 63.5%;
          z-index: 2;

          @include screen('xl') {
            width: 58.9%;
          }

          @include screen('md') {
            width: 100%;
          }
        }
      }
    }
  }

  &-pages {
    display: block;
    width: 100%;
    padding-top: 3.4%;

    @include screen('xl') {
      padding-top: 7.5%;
    }

    @include screen('lg') {
      padding-top: 5.8%;
    }

    @include screen('md') {
      padding-top: 17.6%;
    }

    .container {
      position: relative;
      z-index: 2;
    }

    &__images {
      position: relative;
      display: block;
      padding-top: 88.7%;
      width: 100%;
      margin-top: -16.6%;

      @include screen('xl') {
        padding-top: 109.8%;
        margin-top: -7.6%;
      }

      @include screen('lg') {
        margin-top: -8.1%;
      }

      @include screen('md') {
        padding-top: 195.6%;
        margin-top: 1.25%;
      }
    }

    &__screen {
      position: absolute;
      display: block;
      top: 0;
      left: 44.6%;
      transform: translate3d(-50%, 0, 0);
      width: 161.2%;

      @include screen('xl') {
        left: 37.3%;
        width: 195.6%;
      }

      @include screen('md') {
        width: 357.2%;
      }

      &-image {
        display: block;
        width: 100%;
        font-size: 0;
        line-height: 0;
        transition: transform 1s ease;
      }
    }

    &__car {
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      width: 31.5%;
      z-index: 2;
      transform-origin: 50% 50%;
      animation: rotation 60s linear infinite;
      animation-delay: 0;

      @include screen('xl') {
        width: 40.5%;
      }

      @include screen('md') {
        display: none;
      }

      &-image {
        display: block;
        width: 100%;
        font-size: 0;
        line-height: 0;
      }
    }

    #{$b} {
      &__col {
        &_left {
          width: 40%;

          @include screen('xl') {
            width: 56.6%;
          }

          @include screen('md') {
            width: 100%;
          }
        }

        &_right {
          width: 60%;

          @include screen('xl') {
            width: 43.4%;
          }

          @include screen('md') {
            width: 100%;
          }
        }
      }
    }
  }

  &-design {
    display: block;
    width: 100%;
    margin-top: -7.8%;

    @include screen('xl') {
      margin-top: 2.2%;
    }

    @include screen('md') {
      margin-top: 79.6%;
    }

    .container {
      position: relative;
      z-index: 2;
    }

    &__images {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 56.2%;

      @include screen('xl') {
        padding-top: 58.9%;
      }

      @include screen('lg') {
        padding-top: 61.2%;
      }

      @include screen('md') {
        padding-top: 158.6%;
      }
    }

    &__woman {
      position: absolute;
      display: block;
      top: 0;
      left: 2.4%;
      width: 93.3%;

      @include screen('xl') {
        width: 108.2%;
        left: -11.2%;
      }

      @include screen('md') {
        width: 211.8%;
        left: -70.6%;
      }

      &-image {
        display: block;
        width: 100%;
        font-size: 0;
        line-height: 0;
      }
    }

    &__rock {
      position: absolute;
      display: block;
      bottom: 0;
      left: 3.9%;
      width: 39.9%;
      margin-bottom: 6.5%;
      transform-origin: 50% 50%;
      animation: rotation 60s linear infinite;
      animation-delay: 0;

      @include screen('xl') {
        left: -6%;
        width: 52%;
        margin-bottom: 6.4%;
      }

      @include screen('lg') {
        margin-bottom: 8.5%;
      }

      @include screen('md') {
        bottom: 100%;
        margin-bottom: -38.4%;
        width: 93.4%;
        left: -15.9%;
      }

      &-image {
        display: block;
        font-size: 0;
        line-height: 0;
        width: 100%;
      }
    }

    &__section {
      .case-section {
        &__heading {
          line-height: 1.4;

          @include screen('xl') {
            line-height: 1.2;
          }
        }
      }
    }

    #{$b} {
      &__col {
        &_left {
          width: 54.4%;

          @include screen('xl') {
            width: 42.8%;
          }

          @include screen('lg') {
            width: 49%;
          }

          @include screen('md') {
            width: 100%;
          }
        }

        &_right {
          width: 45.6%;

          @include screen('xl') {
            width: 57.2%;
          }

          @include screen('lg') {
            width: 51%;
          }

          @include screen('md') {
            width: 100%;
          }
        }
      }
    }
  }

  &-look {
    display: block;
    width: 100%;
    padding-top: 8.2%;

    @include screen('xl') {
      padding-top: 4.8%;
    }

    @include screen('lg') {
      padding-top: 0;
    }

    @include screen('md') {
      padding-top: 10%;
    }

    &__figure {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 77.3%;
      // padding-top: 82.3%;

      @include screen('xl') {
        padding-top: 75%;
        // padding-top: 80%;
      }

      @include screen('md') {
        padding-top: 110.6%;
        // padding-top: 117.8%;
      }
    }

    &__images {
      position: absolute;
      display: inline-block;
      top: 0;
      left: 7.3%;
      // left: 2.5%;
      height: 100%;

      @include screen('md') {
        left: -13.4%;
        // left: -21.6%;
      }
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      display: block;
      font-size: 0;
      line-height: 0;
    }

    &__describe {
      display: block;
      width: 100%;
      margin-top: -3.6%;

      @include screen('md') {
        margin-top: 0;
      }
    }

    &__section {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding-right: 20%;

      @include screen('lg') {
        padding-right: 0;
      }

      .case-section {
        &__heading {
          &:not(:last-child) {
            margin-bottom: 26px;

            @include screen('md') {
              margin-bottom: 24px;
            }
          }
        }
      }
    }

    #{$b} {
      &__col {
        &_left {
          width: 55%;

          @include screen('md') {
            width: 100%;
          }
        }

        &_right {
          width: 45%;

          @include screen('md') {
            width: 100%;
          }
        }
      }
    }
  }

  &-call {
    display: block;
    width: 100%;
    margin-top: 8.6%;
    padding-bottom: 22%;

    @include screen('xl') {
      margin-top: 10.8%;
      padding-bottom: 3.8%;
    }

    @include screen('md') {
      margin-top: 20%;
      padding-bottom: 17%;
    }

    &__images {
      display: block;
      width: 84.75%;
      margin-left: auto;
      margin-right: auto;

      @include screen('xl') {
        width: 91.8%;
      }

      @include screen('md') {
        width: 102.2%;
        margin-left: -1.1%;
        margin-right: -1.1%;
      }
    }

    &__image {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 100%;
    }
  }
}
