mixin splace()
  +b.SECTION.splace&attributes(attributes)
    block

mixin splace-column-left()
  .splace__col.splace__col_left&attributes(attributes)
    block

mixin splace-column-right()
  .splace__col.splace__col_right&attributes(attributes)
    block

mixin splace-lead()
  +b.SECTION.splace-lead&attributes(attributes)
    .container.container_inner.container_flex
      +splace-column-left
        +e.header
          +e.logo.js-sr_1
            +icon('splace-logo').__logo-icon
          +e.A.link.js-sr_10(href="https://secretplacestore.com") secretplacestore.com
        +case-section.__section_top
          +case-section-heading.js-sr_14 Дизайн <br> интернет-магазина <br>Secret&nbsp;place
          +case-section-text.js-sr_17 Бутик-шоурум Secret Place специализируется на&nbsp;необычной дизайнерской одежде редких и&nbsp;штучных брендов. Клиент хотел создать необычный визуальный образ магазина и&nbsp;подчеркнуть простоту и&nbsp;элегантность представленных коллекций.
        +e.applique
          +e.images.js-trigger
            +e.item_w1
              +e.IMG.image.js-stag(src="assets/images/secretplace/lead-woman-1.png")
            +e.item_w2
              +e.IMG.image.js-stag(src="assets/images/secretplace/lead-woman-2.png")
            +e.item_w3
              +e.IMG.image.js-stag(src="assets/images/secretplace/lead-woman-3.png")
            +e.images-woman(data-slot-id="splace-woman" data-slot-res="md")
            +e.item_w4
              +e.IMG.image.js-stag(src="assets/images/secretplace/lead-woman-4.png")
        +case-section.__section
          +case-section-text.js-sr_14
            p Ключевой визуальный элемент дизайна — замочная скважина, позаимствован у логотипа. Там он играет роль внутреннего пространства в букве А. В случае с сайтом он стал окошком в мир Secret Place.
            p Зритель словно заглядывает в секретное место сквозь замочную скважину.
      +splace-column-right(data-slot-id="splace-woman" data-slot-res="xl")
        +e.woman.js-sr_18(data-target-slot="splace-woman")
          +e.woman-wrapper
            +e.IMG.woman-image_base(src="assets/images/secretplace/lead-lock.png")
            +e.IMG.woman-image_girl.js-girl(src="assets/images/secretplace/lead-girl.png")
            +e.IMG.woman-image_front(src="assets/images/secretplace/lead-bg-lock.png")
    block

mixin splace-about()
  +b.SECTION.splace-about&attributes(attributes)
    .container.container_inner.container_flex
      +splace-column-left
        +e.describe
          +case-section.__section
            +case-section-text.js-sr_1
              p Главная страница наполнена разными по смыслу блоками. Внимание клиентов привлечено не только к товарам в интернете но и к реальному шоуруму в центре Москвы.
          +e.woman.js-sr_6
            +e.IMG.woman-image(src="assets/images/secretplace/long-woman.png")
      +splace-column-right
        +e.PICTURE.page.js-sr_2
          source(srcset="assets/images/secretplace/site-page-2.png" media="(max-width: 1366px)")
          +e.IMG.page-image(srcset="assets/images/secretplace/site-page.png")
    block

mixin splace-pages()
  +b.SECTION.splace-pages&attributes(attributes)
    .container.container_inner.container_flex
      +splace-column-left
        +case-section.__section
          +case-section-heading.js-sr_1 Все основные страницы сайта выполнены в одинаково сдержанной минималистичной манере. Акцент смещен в сторону продуктов.
      +splace-column-right
    +e.images
      +e.screen.js-splace-pages
        +e.IMG.screen-image(src="assets/images/secretplace/pages.png")
      +e.car
        +e.IMG.car-image(src="assets/images/secretplace/car.png")
    block

mixin splace-design()
  +b.SECTION.splace-design&attributes(attributes)
    +e.images
      +e.woman.js-sr_1
        +e.IMG.woman-image(src="assets/images/secretplace/notebook-woman.png")
      +e.rock
        +e.IMG.rock-image(src="assets/images/secretplace/rock-sign.png")
    .container.container_inner.container_flex
      +splace-column-left
        +case-section.__section
          +case-section-heading.js-sr_2 Мы создали графические элементы, которые придавали бы дизайну дополнительной глубины и многоуровневости.
      +splace-column-right
    block

mixin splace-look()
  +b.SECTION.splace-look&attributes(attributes)
    +e.figure
      +e.images
        +e.IMG.image_base.js-splace-1(src="assets/images/secretplace/look-base.png")
        +e.IMG.image_mask.js-splace-2(src="assets/images/secretplace/look-mask.png")
        +e.IMG.image_right.js-splace-6(src="assets/images/secretplace/look-right-shadow.png")
        +e.IMG.image_right.js-splace-4(src="assets/images/secretplace/look-right.png")
        +e.IMG.image_left.js-splace-7(src="assets/images/secretplace/look-left-shadow.png")
        +e.IMG.image_left.js-splace-3(src="assets/images/secretplace/look-left.png")
    +e.describe
      .container.container_inner.container_flex
        +splace-column-left
        +splace-column-right
          +case-section.__section
            +case-section-heading.js-sr_1 Купить весь лук
            +case-section-text.js-sr_2 В каждом товаре есть опция покупки целого лука, который видно в галерее фотографий конкретного товара.
    block

mixin splace-call()
  +b.SECTION.splace-call&attributes(attributes)
    .container.container_inner
      +e.images.js-sr_1
        +e.IMG.image(src="assets/images/secretplace/call.png")
    block
