$default-breakpoit-name: xxl;
$default-breakpoint-value: map_has_key($breakpoints, $default-breakpoit-name);
$new-breakpoints: map_remove($breakpoints, $default-breakpoit-name);

.grid {
  font-size: 0;
  display: block; // fallback для старых браузеров
  display: flex;
  flex-wrap: wrap;
  // margin-left: -$grid-gap / 2;
  // margin-right: -$grid-gap / 2;
  // margin-top: -$grid-gap-vertical;

  @include rule(margin-left, (xxl: -$grid-gap, xl: -$grid-gap, lg: -$grid-gap, md: -$grid-gap));
  @include rule(margin-right, (xxl: -$grid-gap, xl: -$grid-gap, lg: -$grid-gap, md: -$grid-gap));
  @include rule(margin-top, (xxl: -$grid-gap-vertical, xl: -$grid-gap-vertical, lg: -$grid-gap-vertical, md: -$grid-gap-vertical));
  $b: &;

  .grid {
    margin-top: 0;
  }

  &_nogap {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  &_gap100 {
    // margin-left: -50px;
    // margin-right: -50px;
    // margin-top: -128px;

    @include rule(margin-left, (xxl: -50, xl: -50, lg: -50, md: -12));
    @include rule(margin-right, (xxl: -50, xl: -50, lg: -50, md: -12));
    @include rule(margin-top, (xxl: -128, xl: -120, lg: -126, md: -78));

    // @include screen('xl') {
    //   margin-top: -120px;
    // }

    // @include screen('lg') {
    //   margin-top: -126px;
    // }

    // @include screen('md') {
    //   margin-left: -12px;
    //   margin-right: -12px;
    //   margin-top: -78px;
    // }
  }

  &_sb {
    justify-content: space-between;
  }

  &__col {
    display: inline-block; // fallback для старых браузеров
    box-sizing: border-box;
    // padding: $grid-gap-vertical $grid-gap / 2 0;
    margin: 0;

    @include rule(padding-left, (xxl: $grid-gap, xl: $grid-gap, lg: $grid-gap, md: $grid-gap));
    @include rule(padding-right, (xxl: $grid-gap, xl: $grid-gap, lg: $grid-gap, md: $grid-gap));
    @include rule(padding-top, (xxl: $grid-gap-vertical, xl: $grid-gap-vertical, lg: $grid-gap-vertical, md: $grid-gap-vertical));
    @include text;

    @for $i from 1 through 15 {
      &_#{$default-breakpoit-name}_#{$i} {
        width: $i * $grid-col-width;
      }
    }

    @each $key, $val in $new-breakpoints {
      @for $i from 1 through 15 {
        @include screen($key) {
          &_#{$key}_#{$i} {
            width: $i * $grid-col-width;
          }
        }
      }
    }

    #{$b}_12 & {
      @for $i from 1 through 15 {
        &_#{$default-breakpoit-name}_#{$i} {
          width: $i * $grid-col-width-12;
        }
      }

      @each $key, $val in $new-breakpoints {
        @for $i from 1 through 15 {
          @include screen($key) {
            &_#{$key}_#{$i} {
              width: $i * $grid-col-width-12;
            }
          }
        }
      }
    }

    #{$b}_nogap & {
      padding: 0;
    }

    #{$b}_gap100 & {
      @include rule(padding-left, (xxl: 50, xl: 50, lg: 50, md: 12));
      @include rule(padding-right, (xxl: 50, xl: 50, lg: 50, md: 12));
      @include rule(padding-top, (xxl: 128, xl: 120, lg: 126, md: 78));
    }

    &.xxl-order-1 {
      @include screen('xl', min) {
        order: 1;
      }
    }

    &.xxl-order-2 {
      @include screen('xl', min) {
        order: 2;
      }
    }
  }
}
