.text-block {
  display: block;
  box-sizing: border-box;
  width: 100%;
  $b: &;

  &__title {
    display: block;
    width: 100%;
    font-size: $fz-title;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -$ls-main;
    color: $color-titles;

    @include screen('xl') {
      font-size: $fz-xl-title;
    }

    @include screen('md') {
      font-size: $fz-md-title;
    }

    body.is-dark & {
      color: $color-main;
    }

    &:not(:last-child) {
      margin-bottom: 97px;

      @include screen('xl') {
        margin-bottom: 38px;
      }

      @include screen('lg') {
        margin-bottom: 62px;
      }

      @include screen('md') {
        margin-bottom: 37px;
      }
    }

    &_big {
      font-size: $fz-title;

      @include screen('md') {
        font-size: $fz-md-title;
      }
    }

    &_lhdef {
      line-height: $lh-default;

      @include screen('md') {
        line-height: 1;
      }

      &:not(:last-child) {
        margin-bottom: 71px;

        @include screen('lg') {
          margin-bottom: 78px;
        }

        @include screen('md') {
          margin-bottom: 42px;
        }
      }

      br:nth-child(2) {
        @include screen('md') {
          display: none;
        }
      }
    }

    #{$b}_clients & {
      &:not(:last-child) {
        @include screen('lg') {
          margin-bottom: 60px;
        }

        @include screen('md') {
          margin-bottom: 26px;
        }
      }
    }
  }

  &__text {
    display: block;
    width: 100%;
    font-size: $fz-text;
    line-height: ($lh-base / $fz-text);
    font-weight: 300;
    letter-spacing: $ls-main;

    @include screen('md') {
      font-size: $fz-md-text;
      line-height: ($lh-md-base / $fz-md-text);
    }

    &:not(:last-child) {
      margin-bottom: 132px;

      @include screen('xl') {
        margin-bottom: 86px;
      }

      @include screen('lg') {
        margin-bottom: 82px;
      }

      @include screen('md') {
        margin-bottom: 38px;
      }
    }
  }

  &__links {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    margin-top: -10px;

    @include screen('xl') {
      justify-content: space-between;
      width: auto;
      margin-left: -8px;
      margin-right: -8px;
    }

    @include screen('md') {
      width: calc(100% + 3px);
      margin-left: -6px;
      margin-right: -6px;
    }
  }

  &__link {
    font-size: $fz16;
    line-height: $lh-default;
    letter-spacing: $ls-btn;
    margin-top: 10px;

    @include screen('md') {
      font-size: $fz12;
    }

    &:not(:last-child) {
      margin-right: 96px;

      @include screen('xl') {
        margin-right: 50px;
      }

      @include screen('md') {
        margin-right: 20px;
      }
    }
  }

  &__subtitle {
    display: block;
    width: 100%;
    font-size: $fz16;
    line-height: $lh-base / $fz16;
    font-weight: 700;
    letter-spacing: $ls-header;
    color: $color-titles;

    @include screen('md') {
      font-size: $fz12;
      line-height: $lh-base-14 / $fz12;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 180px;

    li {
      display: inline-block;
      margin-right: 56px;
    }
  }

  &_about {
    box-sizing: border-box;
    padding-left: 144px;

    @include screen('xl') {
      padding-left: 98px;
    }

    @include screen('lg') {
      padding-left: 0;
    }

    #{$b} {
      &__content {
        max-width: 76%;

        @include screen('xl') {
          max-width: 94.5%;
        }

        @include screen('lg') {
          max-width: none;
        }
      }
    }
  }

  &_clients {
    box-sizing: border-box;
    padding-left: 144px;

    @include screen('xl') {
      padding-left: 0;
    }

    @include screen('lg') {
      max-width: none;
    }

    #{$b} {
      &__content {
        max-width: 64.5%;

        @include screen('xl') {
          max-width: 89.5%;
        }

        @include screen('lg') {
          max-width: none;
        }
      }
    }
  }

  &_services {
    #{$b} {
      &__title {
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }

      &__text {
        max-width: 800px;

        &:not(:last-child) {
          margin-bottom: 84px;
        }

        p {
          &:not(:last-child) {
            margin-bottom: 29px;

            @include screen('md') {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
