.text-block {
  display: block;
  box-sizing: border-box;
  width: 100%;
  $b: &;

  &__title {
    display: block;
    width: 100%;
    font-size: $fz-title;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -$ls-main;
    color: $color-titles;

    @include screen('xl') {
      font-size: $fz-xl-title;
    }

    @include screen('md') {
      font-size: $fz-md-title;
    }

    body.is-dark & {
      color: $color-main;
    }

    &:not(:last-child) {
      margin-bottom: 97px;

      @include screen('xl') {
        margin-bottom: 38px;
      }

      @include screen('lg') {
        margin-bottom: 62px;
      }

      @include screen('md') {
        margin-bottom: 37px;
      }
    }

    &_big {
      font-size: $fz-title;

      @include screen('md') {
        font-size: $fz-md-title;
      }
    }

    &_lhdef {
      line-height: $lh-default;

      @include screen('md') {
        line-height: 1;
      }

      &:not(:last-child) {
        margin-bottom: 71px;

        @include screen('lg') {
          margin-bottom: 78px;
        }

        @include screen('md') {
          margin-bottom: 42px;
        }
      }

      br:nth-child(2) {
        @include screen('md') {
          display: none;
        }
      }
    }

    &_mb40 {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &_mb115 {
      &:not(:last-child) {
        margin-bottom: 115px;

        @include screen('md') {
          margin-bottom: 40px;
        }
      }
    }

    &_bg {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 140px;
      }
    }

    #{$b}_clients & {
      &:not(:last-child) {
        @include screen('lg') {
          margin-bottom: 60px;
        }

        @include screen('md') {
          margin-bottom: 26px;
        }
      }
    }

    &-text {
      position: relative;
      display: block;
      width: 100%;
      z-index: 2;
    }

    &-bg {
      position: absolute;
      top: 0;
      left: -74px;
      width: 100%;
      height: 100%;
      z-index: 1;

      @include screen('md') {
        left: -33px;
      }

      &::before,&::after {
        @include pseudo;

        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 0);
        width: 186px;
        height: 186px;
        border-radius: 50%;

        @include screen('md') {
          width: 92px;
          height: 92px;
        }
      }

      &::before {
        background-color: $color-blue-2;
      }

      &::after {
        background-color: $color-yellow-2;
        mix-blend-mode: multiply;
        transform: translate3d(124px, -50%, 0);

        @include screen('md') {
          transform: translate3d(62px, -50%, 0);
        }
      }
    }
  }

  &__text {
    display: block;
    width: 100%;
    font-size: $fz-text;
    line-height: ($lh-base / $fz-text);
    font-weight: 300;
    letter-spacing: $ls-main;

    @include screen('md') {
      font-size: $fz-md-text;
      line-height: ($lh-md-base / $fz-md-text);
    }

    &_big {
      font-size: $fz-md-title;
      line-height: $lh-base-45 / $fz-md-title;
      font-weight: 300;

      @include screen('xl') {
        font-size: $fz-text;
        line-height: ($lh-base / $fz-text);
      }

      @include screen('md') {
        font-size: $fz-md-text;
        line-height: ($lh-md-base / $fz-md-text);
      }
    }

    &:not(:last-child) {
      margin-bottom: 132px;

      @include screen('xl') {
        margin-bottom: 86px;
      }

      @include screen('lg') {
        margin-bottom: 82px;
      }

      @include screen('md') {
        margin-bottom: 38px;
      }
    }

    &_mb80 {
      &:not(:last-child) {
        margin-bottom: 80px;

        @include screen('md') {
          margin-bottom: 40px;
        }
      }
    }

    &_mb88 {
      &:not(:last-child) {
        margin-bottom: 88px;

        @include screen('md') {
          margin-bottom: 40px;
        }
      }
    }
  }

  &__links {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    margin-top: -10px;

    @include screen('xl') {
      justify-content: space-between;
      width: auto;
      margin-left: -8px;
      margin-right: -8px;
    }

    @include screen('md') {
      width: calc(100% + 3px);
      margin-left: -6px;
      margin-right: -6px;
    }
  }

  &__link {
    font-size: $fz16;
    line-height: $lh-default;
    letter-spacing: $ls-btn;
    margin-top: 10px;

    @include screen('md') {
      font-size: $fz12;
    }

    &:not(:last-child) {
      margin-right: 96px;

      @include screen('xl') {
        margin-right: 50px;
      }

      @include screen('md') {
        margin-right: 20px;
      }
    }
  }

  &__subtitle {
    display: block;
    width: 100%;
    font-size: $fz16;
    line-height: $lh-base / $fz16;
    font-weight: 700;
    letter-spacing: $ls-header;
    color: $color-titles;

    @include screen('md') {
      font-size: $fz12;
      line-height: $lh-base-14 / $fz12;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &_mb100 {
      &:not(:last-child) {
        margin-bottom: 100px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 172px;

    @include screen('md') {
      height: auto;
    }

    li {
      display: inline-block;
      margin-right: 56px;
    }
  }

  &__collage {
    margin-bottom: 81px;

    @include screen('lg') {
      margin-bottom: 84px;
    }

    @include screen('md') {
      margin-bottom: 43px;
    }
  }

  &__content {
    display: block;
    width: 100%;

    &_grid {
      display: flex;
      width: auto;
      margin-left: -45px;
      margin-right: -45px;
      flex-wrap: wrap;
    }
  }

  &__col {
    display: block;
    box-sizing: border-box;
    padding-left: 45px;
    padding-right: 45px;

    &_desc {
      width: 61.2%;
    }

    &_stretch {
      flex: 1;
    }
  }

  &_about {
    box-sizing: border-box;
    padding-left: 144px;

    @include screen('xl') {
      padding-left: 98px;
    }

    @include screen('lg') {
      padding-left: 0;
    }

    #{$b} {
      &__content {
        max-width: 76%;

        @include screen('xl') {
          max-width: 94.5%;
        }

        @include screen('lg') {
          max-width: none;
        }
      }
    }
  }

  &_clients {
    box-sizing: border-box;
    padding-left: 144px;

    @include screen('xl') {
      padding-left: 0;
    }

    @include screen('lg') {
      max-width: none;
    }

    #{$b} {
      &__content {
        max-width: 64.5%;

        @include screen('xl') {
          max-width: 89.5%;
        }

        @include screen('lg') {
          max-width: none;
        }
      }
    }
  }

  &_services {
    #{$b} {
      &__text {
        max-width: 800px;

        p {
          &:not(:last-child) {
            margin-bottom: 29px;

            @include screen('md') {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  &_features {
    > #{$b} {
      &__content {
        padding-right: 14.4%;

        @include screen('xl') {
          padding-right: 5%;
        }

        @include screen('md') {
          padding-right: 0;
        }
      }
    }
  }

  &_feature {
    #{$b} {
      &__subtitle {
        &:not(:last-child) {
          margin-bottom: 27px;

          @include screen('lg') {
            margin-bottom: 32px;
          }

          @include screen('md') {
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}
