extends ../../layouts/default

block head
  - var pageTitle = 'Dezi | Sitemap'

block header
  - var headerData = getData('headerMain.json')

block content
  +b.sitemap
    .container.container_main
      +e.H2 Страницы
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Главная (index.html)
        +link(href="about.html") О компании (about.html)
        +link(href="contacts.html") Контакты (contacts.html)
        +link(href="services.html") Услуги (services.html)
        +link(href="aizkulises.html") Кейс Aizkulises (aizkulises.html)
        +link(href="redstone.html") Кейс Redstone (redstone.html)
        +link(href="nla.html") Кейс Next Level Agency (nla.html)
        +link(href="venezia.html") Кейс Venezia (venezia.html)
        +link(href="splace.html") Кейс Secret Place (splace.html)
      +e.H2 Попапы
        +e.list
          +link(href="#feedback").js-popup Попап с заявкой (#feedback)

  +popups
    +popup-feedback#feedback
