extends ../../layouts/default

block head
  - var pageTitle = 'Dezi | Sitemap'

block header
  - var headerData = getData('headerMain.json')

block content
  +b.sitemap
    .container.container_main
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Главная (index.html)
        +link(href="about.html") О компании (about.html)
        +link(href="aizkulises.html") Кейс Aizkulises (aizkulises.html)
        +link(href="redstone.html") Кейс Redstone (redstone.html)
        +link(href="nla.html") Кейс Next Level Agency (nla.html)
        +link(href="venezia.html") Кейс Venezia (venezia.html)
        +link(href="splace.html") Кейс Secret Place (splace.html)
