extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.sitemap
    .container
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Главная (index.html)
        +link(href="aizkulises.html") Кейс Aizkulises (aizkulises.html)
        +link(href="redstone.html") Кейс Redstone (redstone.html)
        //- +link(href="nla.html") Кейс Next Level Agency (nla.html)
