@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков
@import 'helpers/animations'; // Анимации
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

body {
  overflow: hidden;
}

.container {
  width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin: 0 auto;
  box-sizing: border-box;

  @include screen('lg') {
    padding-left: 28px;
    padding-right: 28px;
  }

  @include screen('md') {
    padding-left: 7px;
    padding-right: 7px;
  }

  &_inner {
    padding-left: 160px;
    padding-right: 160px;

    @include screen('xl') {
      padding-left: 100px;
      padding-right: 100px;
    }

    @include screen('lg') {
      padding-left: 75px;
      padding-right: 75px;
    }

    @include screen('md') {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &_flex {
    display: flex;
    flex-wrap: wrap;
  }
}

.js-sr {
  visibility: hidden;

  &_animate {
    visibility: visible;
  }
}
