@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/list-styles'; // Стили списков
@import 'helpers/animations'; // Анимации
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

body {
  overflow: hidden;
}

.container {
  width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin: 0 auto;
  box-sizing: border-box;

  @include screen('lg') {
    padding-left: 28px;
    padding-right: 28px;
  }

  @include screen('md') {
    padding-left: 7px;
    padding-right: 7px;
  }

  &_inner {
    padding-left: 160px;
    padding-right: 160px;

    @include screen('xl') {
      padding-left: 100px;
      padding-right: 100px;
    }

    @include screen('lg') {
      padding-left: 75px;
      padding-right: 75px;
    }

    @include screen('md') {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &_main {
    padding-left: 100px;
    padding-right: 100px;

    @include screen('sm') {
      padding-left: 23px;
      padding-right: 23px;
    }
  }

  &_flex {
    display: flex;
    flex-wrap: wrap;
  }

  &_index {
    padding-left: 100px;
    padding-right: 100px;

    @include screen('md') {
      padding-left: 23px;
      padding-right: 23px;
    }
  }

  &_about {
    padding-left: 190px;
    padding-right: 190px;

    @include screen('lg') {
      padding-left: 100px;
      padding-right: 100px;
    }

    @include screen('md') {
      padding-left: 23px;
      padding-right: 23px;
    }
  }

  &_services {
    padding-left: 332px;
    padding-right: 190px;

    @include screen('xl') {
      padding-left: 244px;
      padding-right: 100px;
    }

    @include screen('lg') {
      padding-left: 160px;
    }

    @include screen('md') {
      padding-left: 23px;
      padding-right: 23px;
    }

    &_sp {
      padding-left: 190px;
      padding-right: 150px;

      @include screen('xl') {
        padding-left: 150px;
        padding-right: 100px;
      }

      @include screen('lg') {
        padding-left: 100px;
      }

      @include screen('md') {
        padding-left: 23px;
        padding-right: 23px;
      }
    }
  }

  &_media {
    padding-left: 190px;
    padding-right: 190px;

    @include screen('xl') {
      padding-left: 100px;
      padding-right: 100px;
    }

    @include screen('md') {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &_portfolio {
    padding-left: 285px;
    padding-right: 285px;

    @include screen('xl') {
      padding-left: 100px;
      padding-right: 100px;
    }

    @include screen('md') {
      padding-left: 23px;
      padding-right: 23px;
    }
  }
}

.js-sr {
  visibility: hidden;

  &_animate {
    visibility: visible;
  }
}

.js-stag {
  opacity: 0;
}

.hide {
  display: none;

  &-xl {
    @include screen('xl') {
      display: none;
    }
  }

  &-lg {
    @include screen('lg') {
      display: none;
    }
  }

  &-md {
    @include screen('md') {
      display: none;
    }
  }

  &-from-xl {
    @include screen('xl', min) {
      display: none;
    }
  }

  &-from-lg {
    @include screen('lg', min) {
      display: none;
    }
  }

  &-from-md {
    @include screen('md', min) {
      display: none;
    }
  }
}
