@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/list-styles'; // Стили списков
@import 'helpers/animations'; // Анимации
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

body {
  overflow: hidden;
}

.container {
  width: $container-width;
  // padding-left: $container-padding;
  // padding-right: $container-padding;
  margin: 0 auto;
  box-sizing: border-box;

  @include rule(padding-left, (xxl: $container-padding, xl: $container-padding, lg: 28, md: 7));
  @include rule(padding-right, (xxl: $container-padding, xl: $container-padding, lg: 28, md: 7));

  &_inner {

    @include rule(padding-left, (xxl: 160, xl: 100, lg: 75, md: 25));
    @include rule(padding-right, (xxl: 160, xl: 100, lg: 75, md: 25));
  }

  &_main {
    @include rule(padding-left, (xxl: 100, xl: 100, lg: 100, md: 23));
    @include rule(padding-right, (xxl: 100, xl: 100, lg: 100, md: 23));
  }

  &_flex {
    display: flex;
    flex-wrap: wrap;
  }

  &_fxc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  &_index {
    @include rule(padding-left, (xxl: 100, xl: 100, lg: 100, md: 23));
    @include rule(padding-right, (xxl: 100, xl: 100, lg: 100, md: 23));
  }

  &_about {
    @include rule(padding-left, (xxl: 190, xl: 190, lg: 100, md: 23));
    @include rule(padding-right, (xxl: 190, xl: 190, lg: 100, md: 23));
  }

  &_services {
    @include rule(padding-left, (xxl: 332, xl: 244, lg: 160, md: 23));
    @include rule(padding-right, (xxl: 190, xl: 100, lg: 100, md: 23));

    &_sp {
      @include rule(padding-left, (xxl: 190, xl: 150, lg: 100, md: 23));
      @include rule(padding-right, (xxl: 150, xl: 100, lg: 100, md: 23));
    }
  }

  &_media {
    @include rule(padding-left, (xxl: 190, xl: 100, lg: 100, md: 0));
    @include rule(padding-right, (xxl: 190, xl: 100, lg: 100, md: 0));
  }

  &_portfolio {
    @include rule(padding-left, (xxl: 100, xl: 100, lg: 100, md: 23));
    @include rule(padding-right, (xxl: 100, xl: 100, lg: 100, md: 23));
    @include rule(max-width, (xxl: 1552, xl: 1552, lg: 1552, md: 1552));
  }

  &_mebeles {
    @include rule(padding-left, (xxl: 100, xl: 100, lg: 76, md: 24));
    @include rule(padding-right, (xxl: 100, xl: 100, lg: 76, md: 24));
    @include rule(max-width, (xxl: 1816));

    width: 100%;

    @include screen('xl') {
      max-width: none;
    }
  }

  &_mebeles-inner {
    @include rule(padding-left, (xxl: 100, xl: 100, lg: 100, md: 24));
    @include rule(padding-right, (xxl: 100, xl: 100, lg: 100, md: 24));
    @include rule(max-width, (xxl: 1464, xl: 1225, lg: 968));

    @include screen('md') {
      max-width: none;
    }
  }

  &_cdc {
    @include rule(padding-left, (xxl: 100, xl: 100, lg: 100, md: 24));
    @include rule(padding-right, (xxl: 100, xl: 100, lg: 100, md: 24));
    @include rule(max-width, (xxl: 1803));

    @include screen('xl') {
      max-width: none;
    }

    &_small {
      @include rule(max-width, (xxl: 1552));

      @include screen('xl') {
        max-width: none;
      }
    }
  }

  &_lavkin {
    max-width: none;

    @include rule(padding-left, (xxl: 160, xl: 100, lg: 100, md2: 30));
    @include rule(padding-right, (xxl: 160, xl: 100, lg: 100, md2: 30));
  }

  &_everyfin {
    max-width: none;

    @include wRule(padding-left, (xl: 247, blg: 185, sm: 27));
    @include wRule(padding-right, (xl: 247, blg: 185, sm: 27));
  }
}

.js-sr {
  visibility: hidden;

  &_animate {
    visibility: visible;
  }
}

.js-stag {
  opacity: 0;
}

.hide {
  display: none;

  &-xl {
    @include screen('xl') {
      display: none;
    }
  }

  &-lg {
    @include screen('lg') {
      display: none;
    }
  }

  &-md {
    @include screen('md') {
      display: none;
    }
  }

  &-from-xl {
    @include screen('xl', min) {
      display: none;
    }
  }

  &-from-lg {
    @include screen('lg', min) {
      display: none;
    }
  }

  &-from-md {
    @include screen('md', min) {
      display: none;
    }
  }
}

.page {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}
