.pot {
  display: block;
  width: 100%;
  box-sizing: border-box;
  // padding-top: 103px;
  $b: &;

  @include rule(padding-top, (xxl: 103, xl: 82, lg: 80, md: 85));
  @include rule(margin-bottom, (xxl: -1, xl: -1, lg: -1, md: -1));

  // @include screen('xl') {
  //   padding-top: 82px;
  // }

  // @include screen('lg') {
  //   padding-top: 80px;
  // }

  // @include screen('md') {
  //   padding-top: 85px;
  // }

  .portfolio-section {
    &__content {
      // padding-bottom: 92px;
      @include rule(padding-bottom, (xxl: 92, xl: 80, lg: 56, md: 20));

      // @include screen('xl') {
      //   padding-bottom: 80px;
      // }

      // @include screen('lg') {
      //   padding-bottom: 56px;
      // }

      // @include screen('md') {
      //   padding-bottom: 20px;
      // }

      .portfolio-section__title {
        max-width: 85%;

        @include screen('xl') {
          max-width: 90%;
        }

        @include screen('lg') {
          // max-width: 210px;
        }

        @include screen('md') {
          max-width: none;
        }
      }

      .portfolio-section__text {
        max-width: 78%;

        @include screen('xl') {
          max-width: 90%;
        }

        @include screen('lg') {
          // max-width: 310px;
        }

        @include screen('md') {
          max-width: none;
        }
      }
    }
  }
}
