mixin project(data)
  +b(data.tag || 'a').project&attributes(attributes)
    +e.DIV.bg
      -if (data.special) {
        +e.IMG.collage(src=data.image class=data.imageCls || '')
      -} else {
        +e.IMG.image(src=data.image)
      -}
    +e.P.text!= data.name
    block
