extends ../../layouts/case

block head
  - var pageTitle = 'Dezi | 4mebeles'

block header
  - var headerClass = '_light'
  - var headerData = getData('headerAgrosyn.json')

block content
  +mebeles(data-section="portfolio")
    +mebeles-slider.__screen
    +e.wall(data-scrolly-section data-scrolly-simple)
      +mebeles-about
      +mebeles-logo
    +e.window(data-scrolly-section data-scrolly-slide)
    +e.window(data-scrolly-section data-scrolly-slide)
    +e.window(data-scrolly-section data-scrolly-slide)
    +e.wall(data-scrolly-section data-scrolly-simple)
      +mebeles-mobile
  +svg-gradients
