extends ../../layouts/case

block head
  - var pageTitle = 'Dezi | 4mebeles'

block header
  - var headerClass = '_light'
  - var headerData = getData('headerAgrosyn.json')

block content
  +mebeles(data-section="portfolio")
    +mebeles-slider.__screen
    +e.wall(data-scrolly-top)
      +mebeles-about
      +mebeles-logo
    +e.window(data-scrolly-window data-scrolly-slide="1")
    //- +e.window(data-scrolly-window data-scrolly-slide="2")
    //- +e.window(data-scrolly-window data-scrolly-slide="3")
    +e.wall(data-scrolly-bottom)
      +mebeles-mobile
  +svg-gradients
