.arbo {
  display: block;
  width: 100%;
  box-sizing: border-box;
  // padding-top: 103px;
  $b: &;

  @include rule(margin-bottom, (xxl: -1, xl: -1, lg: -1, md: -1));
  @include rule(padding-top, (xxl: 103, xl: 82, lg: 80, md: 85));

  // @include screen('xl') {
  //   padding-top: 82px;
  // }
  // @include screen('lg') {
  //   padding-top: 80px;
  // }
  // @include screen('md') {
  //   padding-top: 85px;
  // }

  .portfolio-section {

    &__content {
      // padding-bottom: 154px;
      @include rule(padding-bottom, (xxl: 154, xl: 110, lg: 55, md: 44));

      // @include screen('xl') {
      //   padding-bottom: 110px;
      // }

      // @include screen('lg') {
      //   padding-bottom: 55px;
      // }

      // @include screen('md') {
      //   padding-bottom: 44px;
      // }

      .portfolio-section__title {
        &:not(:last-child) {
          @include screen('md') {
            // margin-bottom: 30px;

            @include rule(margin-bottom, (xxl: 30, xl: 30, lg: 30, md: 30));
          }
        }
      }
    }

    &__text-block {
      &_big-pad {
        @include screen('xl') {
          padding-right: 8%;
        }

        @include screen('lg') {
          padding-right: 0;
        }
      }
    }
  }
}
