.footer {
  display: block;
  background-color: $color-grey-dark-2;
  padding: 71px 0;

  $b: &;

  @include screen('xl') {
    padding: 40px 0;
  }

  @include screen('lg') {
    padding: 30px 0;
  }

  @include screen('md') {
    padding: 31px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    fill: white;

    svg {
      width: 29px;
      height: 36px;

      @include screen('lg') {
        width: 22px;
        height: 27px;
      }

      @include screen('md') {
        width: 11px;
        height: 14px;
      }
    }
  }

  &__copyright {
    font-family: $font-second;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5em;

    @include screen('lg') {
      font-size: 8px;
    }

    @include screen('md') {
      font-size: 4px;
    }
  }
}
