.link {
  $b: &;

  color: $color-form-dark;
  fill: currentColor;
  transition:
    fill $ease-main,
    color $ease-main,
    opacity $ease-main,
    border-color $ease-main;

  &:hover {
    opacity: .5;
  }

  &_icon {
    position: relative;
    padding-left: 25px;
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }

  &.is-disabled,
  &:disabled {
    pointer-events: none;
    opacity: .2;
  }
}
