mixin link()
  +b.A.link&attributes(attributes)
    +e.SPAN.text
      block

mixin link-icon(iconname, arrow)
  +b.A.link&attributes(attributes)._icon
    +e.img
      +icon(iconname).__icon
    +e.SPAN.text
      block

mixin link-round(iconname)
  +b.A.link&attributes(attributes)._round
    +e.circle
      +icon('circle').__border
      +e.img
        +icon(iconname).__icon
    +e.SPAN.text
      block
