.link {
  $b: &;

  color: $color-form-dark;
  fill: currentColor;
  transition: fill $ease-main, color $ease-main, opacity $ease-main, border-color $ease-main;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: $ls-btn;

  &_icon {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__img {
    display: inline-block;
    margin-right: 23px;
    width: 15px;
    height: 15px;

    @include screen('md') {
      margin-right: 12px;
      width: 8px;
      height: 8px;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
  }

  &__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: origin 50% 50% 0;
    // transform: rotate(180deg);
    fill: url('#buttons');
  }

  &__circle {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;

    @include screen('md') {
      width: 30px;
      height: 30px;
    }

    &:not(:last-child) {
      margin-right: 23px;

      @include screen('md') {
        margin-right: 12px;
      }
    }
  }

  &__text {
    position: relative;
    display: inline-block;

    &::after {
      @include pseudo;

      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform-origin: 0 50% 0;
      transition: transform $ease-main;
      transform: scaleX(0);

      @include screen('md') {
        height: 1px;
      }

      #{$b}:hover & {
        transform: scaleX(1);
      }
    }
  }

  &_inverse {
    flex-direction: row-reverse;

    #{$b} {
      &__img {
        margin-right: 0;
        margin-left: 23px;

        @include screen('md') {
          margin-left: 12px;
        }
      }
    }
  }

  &_round {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    #{$b} {
      &__img {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &.is-mouse-in #{$b} {
      &__border {
        animation: roundBig .3s ease-in-out forwards;
      }
    }

    &.is-mouse-out #{$b} {
      &__border {
        animation: roundSmall .3s ease-in-out forwards;
      }
    }
  }

  &_arrow {
    #{$b} {
      &__img {
        position: relative;
        transition: width $ease-main;
        width: 15px;
        height: 13px;
        overflow: hidden;

        @include screen('md') {
          width: 8px;
          height: 7px;
        }
      }

      &__icon {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 20px;

        @include screen('md') {
          width: 11px;
        }
      }
    }

    &:hover #{$b} {
      &__img {
        width: 20px;

        @include screen('md') {
          width: 11px;
        }
      }
    }
  }

  &_low {
    text-transform: lowercase;
  }

  &_map {
    #{$b} {
      &__img {
        position: relative;
        transform-origin: 50% 50% 0;
        transition: transform $ease-main;
        width: 20px;
        height: 18px;

        @include screen('md') {
          width: 12px;
          height: 10px;
        }
      }
    }

    &:hover #{$b} {
      &__img {
        transform: scale(1.2);
      }
    }
  }

  &.is-disabled,&:disabled {
    pointer-events: none;
    opacity: .2;
  }
}
