extends ../../layouts/default

block head
  - var pageTitle = 'Dezi | Контакты'

block header
  - var headerData = getData('headerContacts.json')
  - var headerClass = ''

block content
  +contacts(data-section="contacts")

  +popups
    +popup-feedback#feedback
