extends ../../layouts/case

block head
  - var pageTitle = 'Dezi | Ivan Lavkin'

block header
  - var headerClass = '_light'
  - var headerData = getData('headerAgrosyn.json')

block content
  +lavkin(data-section="portfolio")
