.section {
  display: block;
  width: 100%;
  $b: &;

  &__column {
    display: block;
    box-sizing: border-box;
  }

  &_lead {
    margin-bottom: 96px;

    @include screen('xl') {
      margin-bottom: 116px;
    }

    @include screen('lg') {
      margin-bottom: 119px;
    }

    .text-block__text {
      box-sizing: border-box;
      padding-right: 10px;

      @include screen('xl') {
        padding-right: 10%;
      }

      @include screen('md') {
        padding-right: 0;
      }
    }

    #{$b} {
      &__column {
        &_left {
          padding-top: 216px;
          padding-left: 13.4%;
          width: 60%;

          @include screen('xl') {
            padding-top: 220px;
            padding-left: 7.7%;
            width: 63.4%;
          }

          @include screen('lg') {
            padding-top: 176px;
            padding-left: 11.5%;
            padding-right: 8%;
            width: 100%;
          }

          @include screen('md') {
            padding-left: 0;
            padding-right: 0;
            padding-top: 101px;
          }
        }

        &_right {
          width: 40%;

          @include screen('xl') {
            width: 36.6%;
          }

          @include screen('lg') {
            display: none;
            width: 100%;
          }
        }
      }
    }
  }
}
