extends ../../layouts/default

block head
  - var pageTitle = 'Dezi | Главная'

block header
  - var headerData = getData('headerMain.json')

block content
  +section()._lead(data-section="about")
    .container.container_index
      +e.column_left
        +text-block
          +text-block-title('h1').js-sr_1 Мы создаем красивый дизайн, который решает важные задачи
          +text-block-content.js-sr_2
            +e.text Мы — команда, создающая красивые и удобные сайты, мы делаем рекламные материалы и вот уже более 12 лет помогаем компаниям найти свой впечатляющий визуальный образ.
            +e.links.js-sr_3
              +link-round('arrow-long')(href="#feedback")._arrow.__link.js-popup начать новый проект
              +link-icon('arrow-long')(href="contacts.html")._inverse._arrow.__link.hide-md ВЫЧИСЛИТЬ НАС ПО IP
      +e.column_right
        +slider-lead.js-sr_6
          +slide('a')(href="splace.html")
            +e.IMG.image(src="assets/images/index/slide-1.png")
          +slide('a')(href="nla.html")
            +e.IMG.image(src="assets/images/index/slide-2.png")
          +slide('a')(href="splace.html")
            +e.IMG.image(src="assets/images/index/slide-1.png")
  +section()._projects(data-section="cases")
    .container.container_index.container_flex
      +grid.grid_12.grid_nogap
        each item in getData('cases.json')
          +col(item.grid)(class=(item.gridColClass + ' js-sr js-sr_20') || ' js-sr js-sr_20')
            +project(item.project)(href=item.href style=item.style class=item.class)

  +popups
    +popup-feedback#feedback
