.contacts {
  // position: relative;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: 100%;
  // height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  $b: &;

  @include screen('md') {
    // position: relative;
    // height: auto;
    // top: auto;
    // left: auto;
    // min-height: calc(var(--vh, 1vh) * 100);

    // @include screenOrientation(landscape) {
    //   position: relative;
    //   height: auto;
    //   top: auto;
    //   left: auto;
    //   min-height: 150vw;
    // }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    // padding-left: 332px;
    padding-right: 30%;
    height: 100%;

    @include rule(padding-left, (xxl: 332, xl: 192, lg: 168, md: 23));

    @include screen('xl') {
      // padding-left: 192px;
      padding-right: 26%;
    }

    @include screen('lg') {
      // padding-left: 168px;
      padding-right: 32%;
    }

    @include rule(padding-right, (md: 23));

    @include screen('md') {
      // justify-content: flex-start;
      justify-content: space-between;
      // justify-content: space-around;
      // padding-left: 23px;
      // padding-right: 23px;
    }
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, .26);
    background-position: 77.5% 45.2%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: clip-path .3s ease-in-out;
    clip-path: circle(3.698vw at 77.5% 45.2%);
    // clip-path: circle(71px at 77.5% 45.2%);
    transition-delay: 0;
    z-index: 1;

    @include screen('xl') {
      background-position: 82% 49%;
      clip-path: circle(5.197vw at 82% 49%);
      // clip-path: circle(71px at 82% 49%);
    }

    @include screen('lg') {
      background-position: 79.7% 46%;
      clip-path: circle(6.934vw at 79.7% 46%);
      // clip-path: circle(71px at 79.7% 46%);
    }

    @include screen('md') {
      background-position: 50% 100%;
      // clip-path: circle(210px at 50% 95%);
      // clip-path: circle(65.625vw at 50% 95%);
      clip-path: circle(var(--mmap, 33.6vh) at 50% 95%);

      @include screenOrientation(landscape) {
        background-position: 100% 50%;
        clip-path: circle(33.6vw at 95% 50%);
      }
    }

    #{$b}__marker:hover ~ & {
      // clip-path: circle(85px at 77.5% 45.2%);
      clip-path: circle(4.427vw at 77.5% 45.2%);
      transition-delay: .15s;

      @include screen('xl') {
        // clip-path: circle(85px at 82% 49%);
        clip-path: circle(6.223vw at 82% 49%);
      }

      @include screen('lg') {
        // clip-path: circle(85px at 79.7% 46%);
        clip-path: circle(8.301vw at 79.7% 46%);
      }

      @include screen('md') {
        // clip-path: circle(210px at 50% 95%);
        // clip-path: circle(65.625vw at 50% 95%);
        clip-path: circle(var(--mmap, 33.6vh) at 50% 95%);

        @include screenOrientation(landscape) {
          clip-path: circle(33.6vw at 95% 50%);
        }
      }

      #{$b}.is-map-close & {
        transition-delay: .35s;
      }

      &::after {
        transform: scale(1.2) translateZ(0);
        transition-delay: .15s;
      }
    }

    #{$b}.is-map-open & {
      animation: mapOpen .6s ease-in-out forwards;

      @include screen('xl') {
        animation-name: mapOpenXl;
      }

      @include screen('lg') {
        animation-name: mapOpenLg;
      }

      @include screen('md') {
        animation-name: mapOpenMd;

        @include screenOrientation(landscape) {
          animation-name: mapOpenMdLand;
        }
      }
    }

    #{$b}.is-map-close & {
      animation: mapClose .6s ease-in-out;

      @include screen('xl') {
        animation-name: mapCloseXl;
      }

      @include screen('lg') {
        animation-name: mapCloseLg;
      }

      @include screen('md') {
        animation-name: mapCloseMd;

        @include screenOrientation(landscape) {
          animation-name: mapCloseMdLand;
        }
      }
    }

    .is-ie &,.is-edge & {

      &::after {
        position: absolute;
        display: block;
        content: '';
        top: calc(45.2% - ((71 / 1920) * 100vw));
        left: calc(77.5% - ((71 / 1920) * 100vw));
        // width: 142px;
        // height: 142px;
        border-radius: 50%;
        box-shadow: 0 0 0 100vw $color-main;
        box-sizing: border-box;
        transition: all .3s ease-in;
        transform-origin: 50% 50% 0;
        pointer-events: none;
        z-index: 2;

        @include rule(width, (xxl: 142, xl: 142, lg: 142, md: 420));
        @include rule(height, (xxl: 142, xl: 142, lg: 142, md: 420));

        @include screen('xl') {
          box-shadow: 0 0 0 150vw $color-main;
          top: calc(49% - ((71 / 1366) * 100vw));
          left: calc(82% - ((71 / 1366) * 100vw));
        }

        @include screen('lg') {
          top: calc(46% - ((71 / 1024) * 100vw));
          left: calc(79.7% - ((71 / 1024) * 100vw));
        }

        @include screen('md') {
          // width: 420px;
          // height: 420px;
          width: calc((var(--vh, 1vh) * (42000 / 625)));
          height: calc((var(--vh, 1vh) * (42000 / 625)));
          box-shadow: 0 0 0 200vw $color-main;
          // top: calc(100% - ((243 / 320) * 100vw));
          // left: calc(50% - ((210 / 320) * 100vw));
          top: calc(100% - ((24300 / 625) * (var(--vh, 1vh))));
          left: calc(50% - ((21000 / 625) * (var(--vh, 1vh))));
        }
      }
    }

    .is-ie #{$b}.is-map-open &::after,.is-edge #{$b}.is-map-open &::after {
      animation: mapOpenIE .6s ease-in-out forwards;
    }

    .is-ie #{$b}.is-map-close &::after,.is-edge #{$b}.is-map-close &::after {
      animation: mapCloseIE .6s ease-in-out;
    }
  }

  &__marker {
    position: absolute;
    top: calc(45.2% - ((90 / 1920) * 100vw));
    left: calc(77.5% - ((90 / 1920) * 100vw));
    z-index: 4;

    @include screen('xl') {
      top: calc(49% - ((90 / 1366) * 100vw));
      left: calc(82% - ((90 / 1366) * 100vw));
    }

    @include screen('lg') {
      top: calc(46% - ((90 / 1024) * 100vw));
      left: calc(79.7% - ((90 / 1024) * 100vw));
    }

    @include screen('md') {
      top: auto;
      // bottom: calc((52 / 320) * 100vw);
      // left: calc(50% - ((55 / 320) * 100vw));
      bottom: var(--markerposy);
      left: calc(50% - var(--markerposx));

      @include screenOrientation(landscape) {
        left: auto;
        right: calc((52 / 320) * 100 * var(--vh, 1vh));
        top: calc(50% - ((55 / 320) * 100 * var(--vh, 1vh)));
        bottom: auto;
      }
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
    z-index: 2;
    box-sizing: border-box;
    // padding-top: 100px;
    // padding-bottom: 211px;
    color: $color-titles;

    @include rule(padding-top, (xxl: 100, xl: 158, lg: 172, md: 105));
    @include rule(padding-bottom, (xxl: 211, xl: 200, lg: 180, md: 285));

    // @include screen('xl') {
    //   padding-top: 158px;
    //   padding-bottom: 200px;
    // }

    // @include screen('lg') {
    //   padding-top: 172px;
    //   padding-bottom: 180px;
    // }

    @include screen('md') {
      // padding-top: 105px;
      min-height: 100%;
      height: auto;
      padding-top: var(--mpt);
      padding-bottom: var(--mpb);
      // padding-bottom: 285px;

      @include screenOrientation(landscape) {
        padding-top: var(--mptland);
        padding-bottom: var(--mpbland);
      }

      // @media only screen and (max-height: 580px) {
      //   padding-top: calc((75 / 320) * 100vw);
      //   padding-bottom: calc((255 / 320) * 100vw);
      // }
    }

    #{$b}.is-map-open & {
      transition-delay: 0;
      opacity: 0;
      pointer-events: none;
    }

    // .is-firefox & {
    //   @include screen('md') {
    //     padding-bottom: 70vw;
    //   }
    // }

    #{$b}__button {
      color: $color-text;
    }
  }

  &__bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: visible;
    cursor: none;
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
    z-index: 3;
    color: $color-main;
    box-sizing: border-box;
    // padding-top: 100px;
    // padding-bottom: 211px;
    @include rule(padding-top, (xxl: 100, xl: 158, lg: 172, md: 105));
    @include rule(padding-bottom, (xxl: 211, xl: 200, lg: 180, md: 285));

    // @include screen('xl') {
    //   padding-top: 158px;
    //   padding-bottom: 200px;
    // }

    // @include screen('lg') {
    //   padding-top: 172px;
    //   padding-bottom: 180px;
    // }

    @include screen('md') {
      padding-top: var(--mpt);
      padding-bottom: var(--mpb);

      @include screenOrientation(landscape) {
        padding-top: var(--mptland);
        padding-bottom: var(--mpbland);
      }
      // @media only screen and (max-height: 580px) {
      //   padding-top: calc((75 / 320) * 100vw);
      //   padding-bottom: calc((255 / 320) * 100vw);
      // }
    }

    // .is-firefox & {
    //   @include screen('md') {
    //     padding-bottom: 70vw;
    //   }
    // }

    #{$b}.is-map-open & {
      opacity: 1;
      pointer-events: auto;
    }

    #{$b}__button {
      color: $color-main;
      cursor: pointer;
    }
  }

  &__title {
    display: inline-block;
    // font-size: $fz-title;
    font-weight: 700;
    letter-spacing: -$ls-main;
    // margin-bottom: 26px;
    overflow: hidden;
    line-height: 1;
    width: 100%;

    @include rule(font-size, (xxl: $fz-title, xl: $fz-title, lg: $fz-xl-title, md: $fz-md-title));
    @include rule(margin-bottom, (xxl: 26, xl: 26, lg: 47, md: 5));

    // @include screen('lg') {
    //   // font-size: $fz-xl-title;
    //   // margin-bottom: 47px;
    // }

    @include screen('md') {
      // font-size: $fz-md-title;
      margin-bottom: calc(var(--vh, 1vh) * (500 / 625));

      @include screenOrientation(landscape) {
        margin-bottom: calc(var(--vh, 1vh) * (500 / 320));
        font-size: calc(var(--vh, 1vh) * (2500 / 320));
      }
    }

    &-link {
      letter-spacing: -$ls-main;
      color: currentColor;
      overflow: hidden;
    }

    .link__text {
      @include ellipsis(100%);
    }

    #{$b}__bottom & {
      margin-bottom: 0;

      @include screen('md') {
        // margin-bottom: 64px;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    // margin-top: -16px;
    width: 100%;

    @include rule(margin-top, (xxl: -16, xl: -16, lg: -16, md: 5));
    @include rule(margin-bottom, (md: 1));

    @include screen('md') {
      flex-wrap: wrap;
      // margin-top: 5px;
      // margin-bottom: 11px;
      background-color: transparent;
      // margin-bottom: 62px;
      margin-bottom: calc(var(--vh, 1vh) * (500 / 625));

      @include screenOrientation(landscape) {
        margin-bottom: calc(var(--vh, 1vh) * (500 / 320));
      }
    }

    .link {
      color: currentColor;
      letter-spacing: normal;
    }
  }

  &__item {
    // font-size: $fz16;
    font-weight: 700;
    // margin-top: 16px;

    @include rule(font-size, (xxl: $fz16, xl: $fz16, lg: $fz16, md: $fz-md-text));
    @include rule(margin-top, (xxl: 16, xl: 16, lg: 16, md: 16));

    @include screen('md') {
      // font-size: $fz-md-text;
      width: 100%;
      margin-top: calc(var(--vh, 1vh) * (1600 / 625));

      @include screenOrientation(landscape) {
        margin-top: calc(var(--vh, 1vh) * (1600 / 320));
        font-size: calc(var(--vh, 1vh) * (1400 / 320));
      }
    }

    &:first-child {
      @include screen('md') {
        order: 2;
      }
    }

    &:nth-child(2) {
      @include screen('md') {
        margin-top: 0;
      }
    }

    &:not(:last-child) {
      // margin-right: 49px;

      @include rule(margin-right, (xxl: 49, xl: 49, lg: 49));

      @include screen('md') {
        margin-right: 0;
      }
    }
  }

  &__buttons {
    position: absolute;
    // bottom: 133px;
    // left: 324px;

    @include rule(left, (xxl: 324, xl: 186, lg: 169, md: -4));
    @include rule(bottom, (xxl: 133, xl: 126, lg: 111));

    // @include screen('xl') {
    //   left: 186px;
    //   bottom: 126px;
    // }

    // @include screen('lg') {
    //   left: 162px;
    //   bottom: 111px;
    // }

    @include screen('md') {
      position: relative;
      bottom: auto;
      // left: -4px;
      // margin-top: 5px;
      margin-top: calc(var(--vh, 1vh) * (500 / 625));

      @include screenOrientation(landscape) {
        margin-top: calc(var(--vh, 1vh) * (500 / 320));
      }
    }
  }

  &__button {
    // font-size: $fz16;

    @include rule(font-size, (xxl: $fz16, xl: $fz16, lg: $fz16, md: $fz12));

    @include screen('md') {
      @include screenOrientation(landscape) {
        font-size: calc(var(--vh, 1vh) * (1200 / 320));
      }
    }
  }
}
