mixin contacts()
  +b.contacts&attributes(attributes)
    +marker-button.__marker.js-open-map.js-sr_7(href="#")
    +e.map(style="background-image: url('assets/images/contacts/map.jpg')")
    +e.top
      +e.wrapper
        +e.title.js-sr_1
          +link()(href="mailto:ask@bsagency.design")._low.__title-link ask@bsagency.design
        +e.UL.links.js-sr_2
          +e.LI.item
            +link().__link(href="tel:+37126771436") +371 26 77 14 36
          +e.LI.item Telegram:&nbsp;
            +link()._low.__link(href="#") @bsagency
        +e.buttons.js-sr_3
          +link-round('arrow-long')._arrow.__button.js-popup(href="#feedback") начать новый проект
    +e.bottom.js-close-map
      +e.wrapper
        +e.title РИГА <br> Margrietas&nbsp;38
        +e.buttons
          +link-round('map')._map.__button.js-ignore-map(href="https://www.google.com/maps/place/DEZI+Design/@56.9377646,24.057594,751m/data=!3m1!1e3!4m8!1m2!2m1!1z0J7RhNC40YEg0LrQvtC80L_QsNC90LjQuA!3m4!1s0x0:0x167292e6027e8f8!8m2!3d56.938355!4d24.057996" target="_blank") ОТКРЫТЬ В КАРТАХ
    +cross-mouse.js-mouse
    block
