.nav-titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  writing-mode: vertical-rl;
  transform-origin: 50% 50%;
  transform: rotate(180deg);
  overflow: hidden;
  width: 20px;
  $b: &;

  &::before,&::after {
    display: block;
    content: '';
    width: 1px;
    background-color: currentColor;
    opacity: .18;
  }

  &::before {
    flex: 1;
    max-height: 115px;

    @include screen('xl') {
      flex: 1;
      max-height: none;
    }
  }

  &::after {
    flex: 2;

    @include screen('xl') {
      flex: 1;
    }
  }

  &__list {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: 37px;
    margin-bottom: 22px;
    width: 20px;
    overflow: hidden;
    transition: height $ease-main;
  }

  &__item {
    display: inline-block;
    pointer-events: none;
    text-transform: uppercase;
    font-size: $fz12;
    line-height: 20px;
    letter-spacing: $ls-header;
    font-weight: 700;
    opacity: 0;
    transition: opacity $ease-main;
    white-space: nowrap;

    &.is-active {
      opacity: 1;
    }
  }
}
