extends ../../layouts/default-dark

block head
  - var pageTitle = 'Dezi | О компании'

block header
  - var headerData = getData('headerAbout.json')
  - var headerClass = '_light'

block content
  +section()._about(data-section="about")
    +section-block
      .container.container_media
        +media({title: 'Be<br>Smart', image: {src: 'assets/images/about/media.jpg'}})
    +section-block
      .container.container_about
        +text-block._about
          +text-block-title('h3')._big._lhdef BS — Brede & Shilin <br> branding, production and <br> design agency
          +text-block-content
            +e.P.text В 2014 году Евгений Шилин и Ольга Бреде организовали создали студию веб-дизайна. За короткий период компания набрала большую базу клиентов и на сегодняшний день снискала репутацию ответственной, профессиональной и вдумчивой команды. Нам отдают предпочтения не только клиенты, но и партнерские компании, доверяя создание дизайна для их клиентов.
    +section-block
      .container.container_about
        +e.quotes
          +quote._brede
            +quote-author
              +person('assets/images/about/brede.png')._brede
                p Ольга Бреде
                p Project Manager, Co-Founder
            +quote-content
              p Я вообще не этим хотела заниматься. Этот мой партнер держит меня в заложниках, заставляет делать коммерческие предложения и отвечать на имейлы. Самое ужасное, что клиентам нравится со мной работать, а я вообще ничего не хочу решать, я хочу платье и кофеечек из Старбакса.
          +quote._shilin
            +quote-content
              p В 19 лет я приехал из провинции, чтобы стать проститутом, но не поступил. Домой возвращаться было стыдно, так я попал в дизайн. В интернете я прочитал про волшебную кнопку “сделать красиво” в Фотошопе и пошел на курсы игры со шрифтами. Теперь некоторые люди говорят, что у меня сносно получается.
            +quote-author
              +person('assets/images/about/shilin.png')._shilin
                p Евгений Шилин
                p Art-director, Co-Founder

  +section()._aborder._clients(data-section="clients")
    +section-block
      .container.container_about
        +text-block._clients
          +text-block-title('h3')._big._lhdef Клиенты
          +text-block-content
            +e.P.text На сегодняшний день нам посчастливилось поработать для клиентов в 6 странах мира. Создать более 100 больших и маленьких проектов, вот лишь некоторые из наших клиентов:
        +companies(getData('companies.json')).__clients
    +section-block
      .container.container_about
        +request-form('Присоединяйтесь!').__request
          +button('button')(type="submit")._gradient.__button НАЧАТЬ НОВЫЙ ПРОЕКТ
