.quote {
  position: relative;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: calc((144 / 1920) * 100vw);
  $b: &;

  @include screen('xl') {
    padding-left: 0;
  }

  @include screen('md') {
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    // margin-bottom: 265px;
    @include rule(margin-bottom, (xxl: 265, xl: 218, lg: 218, md: 106));

    // @include screen('xl') {
    //   margin-bottom: 218px;
    // }

    // @include screen('md') {
    //   margin-bottom: 106px;
    // }
  }

  &::before {
    position: absolute;
    display: block;
    // font-size: $fz116;
    color: $color-grey-2;
    letter-spacing: -$ls-main;
    font-weight: 700;
    text-transform: uppercase;
    transform-origin: 50% 50% 0;
    transform: rotate(-90deg);
    z-index: 2;

    @include rule(font-size, (xxl: $fz116, xl: $fz116, lg: $fz116, md: $fz58));

    // @include screen('md') {
    //   font-size: $fz58;
    // }
  }

  &.is-animate::before {
    animation: fade 1s cubic-bezier(.77, 0, .175, 1);

    @include animation;
  }

  &_brede {
    @include screen('xl') {
      padding-left: calc((100 / 1366) * 100vw);
    }

    @include screen('lg') {
      padding-left: 0;
    }

    &::before {
      bottom: calc(100% + ((23 / 1920) * 100vw));
      // right: 138px;
      content: 'b';

      @include rule(right, (xxl: 138, xl: 0, lg: -118, md: -30));

      @include screen('xl') {
        bottom: calc(100% - ((28 / 1366) * 100vw));
        right: 0;
      }

      @include screen('lg') {
        bottom: calc(100% - ((17 / 1024) * 100vw));
        // right: -118px;
      }

      @include screen('md') {
        bottom: calc(100% + ((10 / 320) * 100vw));
        // right: -30px;
      }
    }
  }

  &_shilin {
    padding-right: 8.4%;

    @include screen('xl') {
      padding-right: 5.2%;
    }

    @include screen('lg') {
      padding-right: 0;
    }

    &::before {
      content: 's';
      // top: -77px;
      left: calc(100% + ((129 / 1920) * 100vw));
      transform: rotate(90deg);

      @include screen('xl') {
        left: calc(100% + ((34 / 1366) * 100vw));
      }

      @include rule(top, (xxl: -77, xl: -77, lg: -67, md: -66));
      @include rule(left, (lg: -113, md: -39));

      // @include screen('lg') {
      //   left: -113px;
      //   // top: -67px;
      // }

      // @include screen('md') {
      //   left: -39px;
      //   // top: -66px;
      // }
    }
  }

  &__author {
    z-index: 1;

    @include screen('md') {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      order: 2;
      width: 100%;
    }

    &:not(:last-child) {
      @include rule(margin-right, (xxl: 90, xl: 90, lg: 93, md: 0));
      // margin-right: 90px;

      // @include screen('lg') {
      //   margin-right: 93px;
      // }

      // @include screen('md') {
      //   margin-right: 0;
      // }
    }

    &:not(:first-child) {
      @include rule(margin-left, (xxl: 166, xl: 60, lg: 123, md: 0));
      // margin-left: 166px;

      // @include screen('xl') {
      //   margin-left: 60px;
      // }

      // @include screen('lg') {
      //   margin-left: 123px;
      // }

      // @include screen('md') {
      //   margin-left: 0;
      // }
    }

    #{$b}_brede & {
      @include screen('lg') {
        box-sizing: border-box;
        padding-top: calc((58 / 1024) * 100vw);
      }

      @include screen('md') {
        padding-top: 0;
      }
    }
  }

  &__content {
    // font-size: $fz30;
    line-height: ($lh-base-38 / $fz30);
    letter-spacing: $ls-main;
    font-weight: 300;
    z-index: 2;
    flex: 1;
    animation-delay: .1s;

    @include rule(font-size, (xxl: $fz30, xl: $fz30, lg: $fz30, md: $fz17));

    @include screen('md') {
      // font-size: $fz17;
      line-height: ($lh-base-22 / $fz17);
      flex: none;
      width: 100%;
      margin-bottom: calc((35 / 320) * 100vw);
    }

    #{$b}_brede & {
      // padding-top: 110px;
      @include rule(padding-top, (xxl: 110, xl: 93));

      // @include screen('xl') {
      //   padding-top: 93px;
      // }

      @include screen('lg') {
        padding-top: 0;
      }

      p {
        max-width: calc((925 / 1920) * 100vw);

        @include screen('xl') {
          max-width: none;
        }
      }
    }

    #{$b}_shilin & {
      font-weight: 400;

      @include screen('lg') {
        padding-top: calc((65 / 1024) * 100vw);
      }

      @include screen('md') {
        padding-top: 0;
        margin-bottom: calc((47 / 320) * 100vw);
      }
    }

    #{$b}.is-animate & {
      animation: fadeIn 1s cubic-bezier(.77, 0, .175, 1);

      @include animation;
    }
  }
}
