.quote {
  position: relative;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 144px;
  $b: &;

  @include screen('xl') {
    padding-left: 0;
  }

  @include screen('md') {
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: 265px;

    @include screen('xl') {
      margin-bottom: 218px;
    }

    @include screen('md') {
      margin-bottom: 106px;
    }
  }

  &::before {
    position: absolute;
    display: block;
    font-size: $fz116;
    color: $color-grey-2;
    letter-spacing: -$ls-main;
    font-weight: 700;
    text-transform: uppercase;
    transform-origin: 50% 50% 0;
    transform: rotate(-90deg);
    z-index: 2;

    @include screen('md') {
      font-size: $fz58;
    }
  }

  &_brede {
    @include screen('xl') {
      padding-left: 100px;
    }

    @include screen('lg') {
      padding-left: 0;
    }

    &::before {
      bottom: calc(100% + 23px);
      right: 138px;
      content: 'b';

      @include screen('xl') {
        bottom: calc(100% - 28px);
        right: 0;
      }

      @include screen('lg') {
        bottom: calc(100% - 17px);
        right: -118px;
      }

      @include screen('md') {
        bottom: calc(100% + 10px);
        right: -30px;
      }
    }
  }

  &_shilin {
    padding-right: 8.4%;

    @include screen('xl') {
      padding-right: 5.2%;
    }

    @include screen('lg') {
      padding-right: 0;
    }

    &::before {
      content: 's';
      top: -77px;
      left: calc(100% + 129px);
      transform: rotate(90deg);

      @include screen('xl') {
        left: calc(100% + 34px);
      }

      @include screen('lg') {
        left: -113px;
        top: -67px;
      }

      @include screen('md') {
        left: -39px;
        top: -66px;
      }
    }
  }

  &__author {
    z-index: 1;

    @include screen('md') {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      order: 2;
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 90px;

      @include screen('lg') {
        margin-right: 93px;
      }

      @include screen('md') {
        margin-right: 0;
      }
    }

    &:not(:first-child) {
      margin-left: 166px;

      @include screen('xl') {
        margin-left: 60px;
      }

      @include screen('lg') {
        margin-left: 123px;
      }

      @include screen('md') {
        margin-left: 0;
      }
    }

    #{$b}_brede & {
      @include screen('lg') {
        box-sizing: border-box;
        padding-top: 58px;
      }

      @include screen('md') {
        padding-top: 0;
      }
    }
  }

  &__content {
    font-size: $fz30;
    line-height: ($lh-base-38 / $fz30);
    letter-spacing: $ls-main;
    font-weight: 300;
    z-index: 2;
    flex: 1;

    @include screen('md') {
      font-size: $fz17;
      line-height: ($lh-base-22 / $fz17);
      flex: none;
      width: 100%;
      margin-bottom: 35px;
    }

    #{$b}_brede & {
      padding-top: 110px;

      @include screen('xl') {
        padding-top: 93px;
      }

      @include screen('lg') {
        padding-top: 0;
      }

      p {
        max-width: 925px;

        @include screen('xl') {
          max-width: none;
        }
      }
    }

    #{$b}_shilin & {
      font-weight: 400;

      @include screen('lg') {
        padding-top: 65px;
      }

      @include screen('md') {
        padding-top: 0;
        margin-bottom: 47px;
      }
    }
  }
}
