.button {
  display: inline-block;
  padding: 0 52px;
  border: 2px solid $color-red;
  vertical-align: middle;
  box-sizing: border-box;
  color: $color-yellow-light-4;
  background-color: transparent;
  transition: opacity $ease-main, background-color $ease-main;
  cursor: pointer;
  font-family: $font-second;
  font-weight: 900;
  font-size: 16px;
  height: 58px;
  line-height: 54px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  border-radius: 100px;

  @include screen('lg') {
    font-size: 12px;
    border-width: 1px;
    padding: 0 41px;
    height: 43px;
    line-height: 41px;
  }

  @include screen('md') {
    height: 35px;
    line-height: 33px;
    padding: 0 30px;
  }

  &:disabled, &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover, &.is-active {
    background-color: $color-red;
  }
}

