.redstone {
  display: block;
  width: 100%;
  background-color: $color-grey-dark-5;
  color: $color-yellow-light-4;
  font-family: $font-second;
  // margin-bottom: -1px;
  $b: &;

  @include rule(margin-bottom, (xxl: -1, xl: -1, lg: -1, md: -1));

  .container {
    position: relative;
    z-index: 2;
  }

  &__section {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  &__heading {
    @include heading-2;

    display: block;
    width: 100%;
    font-family: $font-4;
    letter-spacing: -.01em;
    color: $color-basic;

    @include screen('lg') {
      line-height: 1.2;
    }

    @include screen('md') {
      font-size: calc((30 / 320) * 100vw);
      letter-spacing: -.02em;
    }

    &:not(:last-child) {
      // margin-bottom: 44px;
      @include rule(margin-bottom, (xxl: 44, xl: 44, lg: 34, md: 20));

      // @include screen('lg') {
      //   margin-bottom: 34px;
      // }

      // @include screen('md') {
      //   margin-bottom: 20px;
      // }
    }

    br {
      @include screen('lg', min) {
        display: none;
      }
    }
  }

  &__text {
    display: block;
    width: 100%;
    // font-size: 20px;
    line-height: 1.2;
    font-weight: 100;

    @include rule(font-size, (xxl: 20, xl: 20, lg: 21, md: 15));

    // @include screen('lg') {
    //   font-size: 21px;
    // }

    // @include screen('md') {
    //   font-size: 15px;
    // }
  }

  &__col {
    display: block;
    box-sizing: border-box;

    &_left {
      width: 41.5%;

      @include screen('xl') {
        width: 42.2%;
      }

      @include screen('md') {
        width: 100%;
      }
    }

    &_right {
      flex: 1;

      @include screen('md') {
        flex: none;
        width: 100%;
      }
    }
  }

  &-lead {
    position: relative;
    display: block;
    box-sizing: border-box;
    // padding-top: 223px;
    width: 100%;
    background-image: linear-gradient(-148deg, $color-grey-dark-6 0%, $color-grey-dark-5 100%);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: 0 0;

    @include rule(padding-top, (xxl: 223, xl: 223, lg: 76, md: 55));

    // @include screen('lg') {
    //   padding-top: 76px;
    // }

    // @include screen('md') {
    //   padding-top: 55px;
    // }

    &::before {
      @include pseudo;

      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: url('../images/redstone/bg-grid-red.png');
      background-repeat: no-repeat;
      background-size: 189.53125vw 136.1458vw;
      background-position: -64.3229vw -44.6875vw;
      opacity: .92;

      @include screen('xl') {
        background-size: 210.6149vw auto;
        background-position: -71.0102vw -48.3162vw;
      }

      @include screen('lg') {
        background-size: 210.7422vw auto;
        background-position: -71.09375vw -48.3398vw;
      }

      @include screen('md') {
        background-image: url('../images/redstone/bg-grid-red-mobile.png');
        background-size: 100% auto;
        background-position: 0 0;
      }
    }

    &__logo-wrapper {
      display: block;
      width: calc(100% + ((4 / 1920) * 100vw));
      margin-left: calc((-4 / 1920) * 100vw);
      // margin-top: 25px;

      @include rule(margin-top, (xxl: 25, xl: 25, lg: 20));

      @include screen('xl') {
        margin-left: 0;
        width: 100%;
      }

      // @include screen('lg') {
      //   margin-top: 20px;
      // }

      @include screen('md') {
        margin-left: auto;
        margin-right: auto;
        width: 90.7%;
        margin-top: 0;
      }

      &:not(:last-child) {
        // margin-bottom: 130px;
        @include rule(margin-bottom, (xxl: 130, xl: 130, lg: 90, md: 75));

        // @include screen('lg') {
        //   margin-bottom: 90px;
        // }

        // @include screen('md') {
        //   margin-bottom: 75px;
        // }
      }

      &_left {
        display: none;

        @include screen('md') {
          display: block;
        }
      }

      &_right {
        display: block;

        @include screen('md') {
          display: none;
        }
      }
    }

    &__logo {
      width: 100%;
      height: auto;
      fill: $color-basic;
    }

    &__media {
      position: relative;
      display: block;
      width: 100%;
    }

    &__image {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 100%;
      height: auto;
    }

    #{$b}__col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      @include screen('md') {
        justify-content: flex-start;
      }

      &_left {
        // padding-right: 40px;
        padding-bottom: 33.4vw;

        @include rule(padding-right, (xxl: 40, xl: 47, lg: 35));

        @include screen('xl') {
          // padding-right: 47px;
          padding-bottom: 33.7vw;
        }

        @include screen('lg') {
          // padding-right: 35px;
          padding-bottom: 16.8vw;
        }

        @include screen('md') {
          padding-right: 0;
          padding-bottom: 18.75vw;
        }
      }

      &_right {
        padding-right: 2.0833vw;

        @include screen('xl') {
          padding-right: 0;
        }
      }
    }

    #{$b}__text {
      // max-width: 485px;
      @include rule(max-width, (xxl: 485, xl: 360, lg: 275));

      // @include screen('xl') {
      //   max-width: 360px;
      // }

      // @include screen('lg') {
      //   max-width: 275px;
      // }

      @include screen('md') {
        max-width: none;
      }
    }

    #{$b}__section {
      margin-left: -.20833vw;

      @include screen('xl') {
        margin-left: 0;
      }

      &:not(:last-child) {
        margin-bottom: 9vw;

        @include screen('md') {
          margin-bottom: 28.75vw;
        }
      }
    }

    &__list {
      // padding-top: 5px;
      // padding-bottom: 20px;
      width: 100%;

      @include rule(padding-top, (xxl: 5, xl: 7, lg: 28, md: 25));
      @include rule(padding-bottom, (xxl: 20, xl: 15, lg: 15, md: 10));
      @include rule(padding-left, (xl: 3, lg: 3));

      // @include screen('xl') {
      //   padding-top: 7px;
      //   padding-left: 3px;
      //   padding-bottom: 15px;
      // }

      // @include screen('lg') {
      //   padding-top: 28px;
      // }

      @include screen('md') {
        // padding-top: 25px;
        // padding-bottom: 10px;
        padding-left: 0;
      }
    }
  }

  &-secret {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    // padding-top: 54px;
    // padding-bottom: 30px;
    // margin-top: -150px;

    @include rule(padding-top, (xxl: 54, xl: 88, lg: 75, md: 36));
    @include rule(padding-bottom, (xxl: 30, xl: 30, lg: 15, md: 15));
    @include rule(margin-top, (xxl: -150, xl: -122, lg: 0, md: -98));

    // @include screen('xl') {
    //   padding-top: 88px;
    //   margin-top: -122px;
    // }

    // @include screen('lg') {
    //   padding-top: 75px;
    //   padding-bottom: 15px;
    //   margin-top: 0;
    // }

    // @include screen('md') {
    //   padding-top: 36px;
    //   padding-bottom: 15px;
    //   margin-top: -98px;
    // }

    &::before {
      @include pseudo;

      // height: 1268px;
      width: 100%;
      // top: -234px;
      left: 0;
      background-image: linear-gradient(-148deg, $color-grey-dark-6 0%, $color-grey-dark-5 100%);
      transform: skewY(-13.2deg);

      @include rule(height, (xxl: 1268, xl: 1238, lg: 925, md: 648));
      @include rule(top, (xxl: -234, xl: -168, lg: -120, md: -40));

      // @include screen('xl') {
      //   height: 1238px;
      //   top: -168px;
      // }

      // @include screen('lg') {
      //   height: 925px;
      //   top: -120px;
      // }

      // @include screen('md') {
      //   height: 648px;
      //   top: -40px;
      // }
    }

    &__media {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 78.125%;
      height: auto;
      margin-left: -.20833vw;
      flex: none;

      @include screen('xl') {
        margin-left: 0;
        width: 79.5%;
      }

      @include screen('md') {
        width: 100%;
      }

      &:not(:first-child) {
        // margin-top: 130px;
        @include rule(margin-top, (xxl: 130, xl: 165, lg: 128, md: 78));

        // @include screen('xl') {
        //   margin-top: 165px;
        // }

        // @include screen('lg') {
        //   margin-top: 128px;
        // }

        // @include screen('md') {
        //   margin-top: 78px;
        // }
      }
    }

    &__image {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 100%;
      height: auto;
      flex: none;
    }

    &__formula-wrapper {
      display: block;
      width: 100%;

      @include screen('xl') {
        margin-left: -.2928vw;
      }

      @include screen('lg') {
        margin-left: 0;
      }

      &:not(:first-child) {
        // margin-top: 132px;
        @include rule(margin-top, (xxl: 132, xl: 132, lg: 72, md: 54));

        // @include screen('lg') {
        //   margin-top: 72px;
        // }

        // @include screen('md') {
        //   margin-top: 54px;
        // }
      }

      &_left {
        display: block;

        @include screen('lg') {
          display: none;
        }
      }

      &_right {
        display: none;

        @include screen('lg') {
          display: block;
        }
      }
    }

    &__formula {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @include screen('lg') {
        justify-content: center;
        // margin-left: -4px;
      }

      @include rule(margin-left, (lg: -4, md: -4));
    }

    &__item {
      font-family: $font-4;
      // font-size: 40px;
      line-height: 1;
      letter-spacing: -.01em;
      font-weight: 400;
      color: $color-basic;

      @include rule(font-size, (xxl: 40, xl: 40, lg: 40, md: 30));

      // @include screen('md') {
      //   font-size: 30px;
      // }

      &:not(:last-child) {
        @include rule(margin-right, (xxl: 40, xl: 40, lg: 40, md: 31));
        // margin-right: 40px;

        // @include screen('md') {
        //   margin-right: 31px;
        // }
      }
    }

    &__n {
      display: block;
      font-size: 0;
      fill: $color-basic;

      @include screen('md') {
        height: 9.375vw;
      }
    }

    &__logo {
      width: 94.3%;
      height: auto;
      // margin-top: -200px;

      @include rule(margin-top, (xxl: -200, xl: -180, lg: -140, md: 56));
      @include rule(margin-right, (xl: -16, lg: -14));

      // @include screen('xl') {
      //   margin-right: -16px;
      //   // margin-top: -180px;
      // }

      // @include screen('lg') {
      //   margin-right: -14px;
      //   // margin-top: -140px;
      // }

      @include screen('md') {
        width: 106%;
        margin-left: -3%;
        margin-right: -3%;
        // margin-top: 56px;
      }
    }

    #{$b} {
      &__section {
        margin-left: -.20833vw;

        @include screen('xl') {
          margin-left: 0;
        }
      }

      &__heading {
        // @include screen('lg') {
        //   font-size: 30px;
        // }

        @include rule(font-size, (lg: 30, md: 30));

        &:not(:last-child) {
          // margin-bottom: 30px;
          @include rule(margin-bottom, (xxl: 30, xl: 30, lg: 24, md: 24));

          // @include screen('lg') {
          //   margin-bottom: 24px;
          // }
        }
      }

      &__col {
        &_left {
          @include rule(padding-right, (xl: 47, lg: 35));
          // @include screen('xl') {
          //   padding-right: 47px;
          // }

          // @include screen('lg') {
          //   padding-right: 35px;
          // }

          @include screen('md') {
            padding-right: 0;
          }
        }

        &_right {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-end;
          padding-left: calc((40 / 1920) * 100vw);
          padding-right: 0;

          @include screen('xl') {
            padding-left: 0;
          }
        }
      }
    }
  }

  &-brand {
    position: relative;
    display: block;
    width: 100%;
    // padding: 65px 0;
    padding: 0;

    @include rule(padding-top, (xxl: 65, xl: 60, lg: 60, md: 60));
    @include rule(padding-bottom, (xxl: 65, xl: 77, lg: 60, md: 47));

    // @include screen('xl') {
    //   padding: 60px 0 77px;
    // }

    // @include screen('lg') {
    //   padding: 60px 0;
    // }

    // @include screen('md') {
    //   padding: 60px 0 47px;
    // }

    &::before {
      @include pseudo;

      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/redstone/bg-grid-black.png');
      background-size: 100% auto;
      background-position: 0 100%;
      background-repeat: no-repeat;
      opacity: .37;

      @include screen('xl') {
        background-image: url('../images/redstone/bg-grid-black-tablet.png');
        opacity: 1;
      }

      @include screen('md') {
        background-image: url('../images/redstone/bg-grid-black-mobile.png');
        opacity: .37;
      }
    }

    &__media {
      display: block;
      width: 100%;
      height: auto;

      @include screen('md') {
        display: none;
      }
    }

    &__image {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 100%;
      height: auto;

      &:not(:last-child) {
        @include screen('md') {
          margin-bottom: calc((9 / 320) * 100vw);
        }
      }
    }

    &__collage {
      display: none;
      width: 100%;

      @include screen('md') {
        display: block;
        margin-top: calc((70 / 320) * 100vw);
      }
    }

    &__slogan {
      display: block;
      box-sizing: border-box;
      // font-size: 47px;
      line-height: 1.2;
      font-weight: 100;
      margin-left: -.20833vw;

      @include rule(font-size, (xxl: 47, xl: 40, lg: 35, md: 30));

      @include screen('xl') {
        margin-left: 0;
        // font-size: 40px;
      }

      @include screen('lg') {
        // font-size: 35px;
      }

      @include screen('md') {
        padding: 0 3.4375vw;
        // font-size: 30px;
      }

      &:first-child {
        // margin-top: -15px;
        @include rule(margin-top, (xxl: -15, xl: -10, lg: -7, md: -7));

        // @include screen('xl') {
        //   margin-top: -10px;
        // }

        // @include screen('lg') {
        //   margin-top: -7px;
        // }
      }
    }

    #{$b} {
      &__col {
        &_left {
          width: 37.5%;
          // padding-right: 60px;

          @include rule(padding-right, (xxl: 60, xl: 60, lg: 35));

          @include screen('xl') {
            // padding-right: 60px;
            width: 42.2%;
          }

          // @include screen('lg') {
          //   // padding-right: 35px;
          // }

          @include screen('md') {
            padding-right: 0;
            width: 100%;
          }
        }

        &_right {
          padding-right: calc((40 / 1920) * 100vw);

          @include screen('xl') {
            padding-right: 0;
          }
        }
      }
    }
  }
}
