mixin watch()
  +b.watch&attributes(attributes).js-watch-3
    +e.wrapper
      +e.IMG.image(src="assets/images/services/watch-noscreen.png")
      +e.video-wrapper(data-watch-base)
        +e.VIDEO.video#watch(src="assets/video/watch-ru.mp4" autoplay playsinline muted)
    block
