mixin watch()
  +b.watch&attributes(attributes)
    +e.wrapper
      +e.IMG.image(src="assets/images/services/watch.png")
      //- +e.VIDEO.video#watch(src="assets/video/watch-animation.mp4" autoplay loop playsinline muted)
    block
