.watch {
  position: relative;
  display: inline-block;
  // width: 26%; // 411px
  $b: &;

  @include screen('xl') {
    // width: 27.5%;
    // width: 307px;
  }

  @include screen('lg') {
    // width: 35.5%;
    // width: 314px;
  }

  @include screen('md') {
    // width: 53.6%;
    // width: 154px;
  }

  &__wrapper {
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: .6vw;
    top: -12vw;

    @include rule(width, (xxl: 411, xl: 307, lg: 314, md: 154));
    @include rule(height, (xxl: 553, xl: 413, lg: 423, md: 207));

    @include screen('xl') {
      left: .6vw;
      top: -11.8vw;
    }

    @include screen('lg') {
      left: -12.7vw;
      top: -16.8vw;
    }

    @include screen('md') {
      left: -23.5vw;
      top: -26.5vw;
    }

    &::before {
      @include pseudo;

      top: 13%;
      // top: 73px;
      left: -42.3%; //-174px;
      width: 161%; //658px
      padding-top: 161%;
      border-radius: 50%;
      z-index: 1;
      background-color: $color-yellow;
      opacity: 0;

      @include screen('xl') {
        width: 160.2%;
        padding-top: 160.2%;
        top: 13%;
      }

      @include screen('lg') {
        width: 206%;
        padding-top: 206%;
        left: -91.1%;
        top: -24.6%;
      }

      @include screen('md') {
        width: 210.3%;
        padding-top: 210.3%;
        top: -24.6%;
        left: -75.3%;
      }

      #{$b}.is-animate & {
        animation: watchCircle 1s $animationEasing;

        @include animation;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 0;
    line-height: 0;
    z-index: 2;
    opacity: 0;

    #{$b}.is-animate & {
      animation: fadeIn 1s $animationEasing;
      animation-delay: .5s;

      @include animation;
    }
  }

  &__video-wrapper {
    position: absolute;
    display: block;
    top: 17.8%;
    left: 31.3%;
    width: 66.8%;
    padding-top: 84%;
    box-sizing: border-box;
    z-index: 3;
    overflow: hidden;
    opacity: 0;

    .seeThru-display, .seeThru-buffer {
      position: absolute;
      display: block;
      top: 1px;
      right: -1px;
    }

    #{$b}.is-animate & {
      animation: fadeIn 1s $animationEasing;
      animation-delay: .5s;

      @include animation;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}
