.portfolio-section {
  display: block;
  width: 100%;
  color: $color-text-3;
  $b: &;

  &_light-txt {
    color: $color-text-2;
  }

  &__wrapper {
    display: block;
    width: 100%;
    box-sizing: border-box;

    &_blue {
      background-color: $color-blue-light;

      &_border {
        border: 1px solid $color-blue-border;
      }
    }

    &_white {
      background-color: $color-main;
    }

    &_pad {
      padding: 0 11.4%;

      @include screen('md') {
        padding: 0;
      }
    }

    &_overhid {
      overflow: hidden;
    }

    &_pot-site {
      @include screen('md') {
        margin-left: -23px;
        margin-right: -23px;
        width: calc(100% + 46px);
      }
    }

    &_pot-phones {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      box-sizing: border-box;
    }
  }

  &__link {
    display: inline-block;
    font-family: $font-site;
    font-weight: 700;
    letter-spacing: normal;
    font-size: $fz17;
    color: currentColor;

    @include screen('lg') {
      font-size: $fz12;
    }

    @include screen('md') {
      font-size: $fz10;
    }

    &:not(:last-child) {
      margin-bottom: 67px;

      @include screen('xl') {
        margin-bottom: 58px;
      }

      @include screen('lg') {
        margin-bottom: 41px;
      }

      @include screen('md') {
        margin-bottom: 33px;
      }
    }
  }

  &__title {
    font-family: $font-4;
    font-size: $fz40;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -$ls-port;

    @include screen('lg') {
      font-size: $fz27;
    }

    @include screen('md') {
      font-size: $fz-md-title;
      letter-spacing: -1 * $ls-main;
    }

    &:not(:last-child) {
      margin-bottom: 31px;

      @include screen('xl') {
        margin-bottom: 42px;
      }

      @include screen('lg') {
        margin-bottom: 36px;
      }

      @include screen('md') {
        margin-bottom: 34px;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 95px 0 125px 18.4%;

    @include screen('xl') {
      padding: 55px 0 63px 16%;
    }

    @include screen('lg') {
      padding: 38px 0 44px 16.4%;
    }

    @include screen('md') {
      padding: 30px 25px 21px;
    }
  }

  &__text-block {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 56px 9.2% 60px 9.2%;

    @include screen('xl') {
      padding: 62px 8% 57px 8%;
    }

    @include screen('lg') {
      padding: 42px 0 53px;
    }

    @include screen('md') {
      padding: 32px 0;
    }

    &_big-pad {
      padding: 105px 9.2%;

      @include screen('xl') {
        padding: 61px 0 61px 8%;
      }

      @include screen('lg') {
        padding: 68px 0;
      }

      @include screen('md') {
        padding: 38px 0;
      }
    }
  }

  &__text {
    font-family: $font-site;
    font-size: $fz17;
    font-weight: 400;

    @include screen('md') {
      font-size: $fz-md-text;
      line-height: ($lh-md-base / $fz-md-text);
    }

    &_big {
      font-size: $fz-text;
      font-weight: 300;
      line-height: ($lh-base-32 / $fz-text);

      @include screen('lg') {
        font-size: $fz-md-text;
        line-height: ($lh-base-22 / $fz-md-text);
      }

      @include screen('md') {
        line-height: ($lh-md-base / $fz-md-text);
      }
    }

    &_big2 {
      font-size: $fz-text;
      font-weight: 300;
      line-height: ($lh-base-32 / $fz-text);

      @include screen('lg') {
        font-size: $fz17;
        line-height: ($lh-base-28 / $fz17);
      }

      @include screen('md') {
        font-size: $fz-md-text;
        line-height: ($lh-md-base / $fz-md-text);
      }
    }
  }

  &__image-wrapper {
    position: relative;
    display: block;
    width: 100%;

    &_wide {
      width: 128%;
      margin-left: -28%;
      margin-right: 0;

      @include screen('lg') {
        width: 126%;
        margin-left: -26%;
      }

      @include screen('md') {
        margin-left: 0;
        width: 100%;
      }
    }

    &_cw {
      width: 108%;
      margin-left: -8%;
      margin-right: 0;

      @include screen('md') {
        margin-left: 0;
        width: 100%;
      }
    }

    &_pot {
      width: 122%;
      margin-left: -22%;
      margin-right: 0;
      box-sizing: border-box;
      padding-right: 70px;

      @include screen('xl') {
        width: 115.5%;
        margin-left: -15.5%;
        padding-right: 40px;
      }

      @include screen('lg') {
        width: 117.5%;
        margin-left: -17.5%;
        padding-right: 25px;
      }

      @include screen('md') {
        width: 100%;
        margin-left: 0;
        padding-right: 13px;
        padding-bottom: 24px;
      }
    }

    &_fxc {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100%;

      .is-ie & {
        height: 100%;
      }
    }

    &_fxc_ae {
      align-items: flex-end;
    }

    &_fxc_je {
      justify-content: flex-end;
    }
  }

  &__image-block {
    display: block;
    width: 100%;
    height: auto;

    @include screen('md') {
      position: relative;
      width: 100%;
      padding-top: 56%;
      overflow: hidden;
    }

    #{$b}__image {
      @include screen('md') {
        @include fill-img;
      }
    }
  }

  &__image {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: auto;

    &-inner {
      flex: none;
      display: block;
      font-size: 0;
      line-height: 0;
      max-width: 100%;
      max-height: 100%;
    }

    &_pot-phones {
      flex: none;
      max-width: 75%;
      margin-top: 6%;
      margin-bottom: 4.5%;

      @include screen('xl') {
        margin-top: 5.5%;
      }

      @include screen('md') {
        max-width: none;
        width: 144%;
        margin-top: 12.6%;
        margin-left: -22%;
        margin-right: -22%;
        margin-bottom: 9.5%;
      }
    }
  }

  &__picture {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: auto;

    img {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 100%;
      height: auto;
    }

    &-inner {
      flex: none;
      display: block;
      font-size: 0;
      line-height: 0;
      max-width: 100%;
      max-height: 100%;

      img {
        display: block;
        font-size: 0;
        line-height: 0;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        height: auto;
      }
    }
  }

  &__arbo-logo {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 466px;
    height: 119px;
    fill: $color-arbo-logo;

    @include screen('xl') {
      width: 372px;
      height: 96px;
    }

    @include screen('lg') {
      width: 265px;
      height: 68px;
    }

    @include screen('md') {
      width: 205px;
      height: 53px;
      margin-bottom: 50px;
    }
  }

  &__arbo-border-logo {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 37.6%;
    max-width: none;
    z-index: 2;
    fill: $color-main;
  }

  &__cw-logo {
    width: 100%;
    margin: 0 20px;
    max-width: 475px;

    @include screen('xl') {
      max-width: 400px;
    }

    @include screen('lg') {
      max-width: 291px;
    }

    @include screen('md') {
      max-width: 206px;
      margin-bottom: 50px;
    }
  }
}
