@mixin animation {
  visibility: visible !important;
  transition: all 0s !important;
  opacity: 0;
  animation-fill-mode: forwards;
}
$animationDuration: 1s;
$animationEasing: cubic-bezier(.77, 0, .175, 1);
$animationScale: .9;

.animation_fadeIn {
  animation: fadeIn $animationDuration $animationEasing;

  @include animation;
}

.animation_fadeInRight {
  animation: fadeInRight $animationDuration $animationEasing;

  @include animation;
}

.animation_fadeInLeft {
  animation: fadeInLeft $animationDuration $animationEasing;

  @include animation;
}

.animation_fadeInTop {
  animation: fadeInTop $animationDuration $animationEasing;

  @include animation;
}

.animation_fade {
  animation: fade $animationDuration $animationEasing;

  @include animation;
}

.animation_scaleIn {
  animation: scaleIn $animationDuration $animationEasing;

  @include animation;
}

.animation_fadeIn2 {
  animation: fadeIn 1.6s cubic-bezier(.075, .82, .165, 1);

  @include animation;
}

@keyframes fadeIn {
  0% {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale($animationScale);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleIn2 {
  0% {
    transform: scale(.2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes roundBig {
  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes roundSmall {
  0% {
    transform: scale(1.2);
  }

  25% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
