@mixin animation {
  visibility: visible !important;
  transition: all 0s !important;
  opacity: 0;
  animation-fill-mode: forwards;
}
$animationDuration: 1s;
$animationEasing: cubic-bezier(.77, 0, .175, 1);
$animationScale: .9;

.animation_fadeIn {
  animation: fadeIn $animationDuration $animationEasing;

  @include animation;
}

.animation_fadeInRight {
  animation: fadeInRight $animationDuration $animationEasing;

  @include animation;
}

.animation_fadeInLeft {
  animation: fadeInLeft $animationDuration $animationEasing;

  @include animation;
}

.animation_fadeInTop {
  animation: fadeInTop $animationDuration $animationEasing;

  @include animation;
}

.animation_fade {
  animation: fade $animationDuration $animationEasing;

  @include animation;
}

.animation_scaleIn {
  animation: scaleIn $animationDuration $animationEasing;

  @include animation;
}

.animation_scaleXIn {
  animation: scaleXIn $animationDuration $animationEasing;

  @include animation;
}

.animation_scaleYIn {
  animation: scaleYIn $animationDuration $animationEasing;

  @include animation;
}

.animation_fadeIn2 {
  animation: fadeIn 1.6s cubic-bezier(.075, .82, .165, 1);

  @include animation;
}

@keyframes fadeIn {

  0% {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {

  0% {
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {

  0% {
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft10 {

  0% {
    transform: translate3d(-10px, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInTop {

  0% {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fade {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {

  0% {
    transform: scale($animationScale);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleIn2 {

  0% {
    transform: scale(.2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleXIn {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes scaleYIn {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes rotation {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation-inverse {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {

  0% {
    stroke-dashoffset: 2000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes roundBig {

  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes roundSmall {

  0% {
    transform: scale(1.2);
  }

  25% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes markerMapClose {

  0% {
    transform: scale(5);
    opacity: 0;
  }

  70% {
    transform: scale(1.15);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes mapOpen {

  0% {
    clip-path: circle(3.698vw at 77.5% 45.2%);
  }

  100% {
    clip-path: circle(150vw at 77.5% 45.2%);
  }
}

@keyframes mapOpenXl {

  0% {
    clip-path: circle(5.197vw at 82% 49%);
  }

  100% {
    clip-path: circle(150vw at 82% 49%);
  }
}

@keyframes mapOpenLg {

  0% {
    clip-path: circle(6.934vw at 79.7% 46%);
  }

  100% {
    clip-path: circle(150vw at 79.7% 46%);
  }
}

@keyframes mapOpenMd {

  0% {
    clip-path: circle(var(--mmap) at 50% 95%);
  }

  100% {
    clip-path: circle(var(--mapheight) at 50% 95%);
  }
}

@keyframes mapOpenMdLand {

  0% {
    clip-path: circle(33.6vw at 95% 50%);
  }

  100% {
    clip-path: circle(200vw at 95% 50%);
  }
}

@keyframes mapClose {

  0% {
    clip-path: circle(150vw at 77.5% 45.2%);
  }

  75% {
    clip-path: circle(3.333vw at 77.5% 45.2%);
  }

  100% {
    clip-path: circle(3.698vw at 77.5% 45.2%);
  }
}

@keyframes mapCloseXl {

  0% {
    clip-path: circle(150vw at 82% 49%);
  }

  75% {
    clip-path: circle(4.685vw at 82% 49%);
  }

  100% {
    clip-path: circle(5.197vw at 82% 49%);
  }
}

@keyframes mapCloseLg {

  0% {
    clip-path: circle(150vw at 79.7% 46%);
  }

  75% {
    clip-path: circle(6.25vw at 79.7% 46%);
  }

  100% {
    clip-path: circle(6.934vw at 79.7% 46%);
  }
}

@keyframes mapCloseMd {

  0% {
    clip-path: circle(var(--mapheight) at 50% 95%);
  }

  75% {
    clip-path: circle(var(--mmapclose) at 50% 95%);
  }

  100% {
    clip-path: circle(var(--mmap) at 50% 95%);
  }
}

@keyframes mapCloseMdLand {
  0% {
    clip-path: circle(200vw at 95% 50%);
  }

  75% {
    clip-path: circle(30.24vw at 95% 50%);
  }

  100% {
    clip-path: circle(33.6vw at 95% 50%);
  }
}

@keyframes mapOpenIE {

  0% {
    transform: scale(1) translateZ(0);
  }

  100% {
    transform: scale(25) translateZ(0);
  }
}

@keyframes mapCloseIE {

  0% {
    transform: scale(25) translateZ(0);
  }

  75% {
    transform: scale(.9) translateZ(0);
  }

  100% {
    transform: scale(1) translateZ(0);
  }
}

@keyframes iconBigger {

  0% {
    transform: scale(1) translateZ(0);
  }

  70% {
    transform: scale(2) translateY(5px) translateZ(0);
  }

  80% {
    transform: scale(2) translateY(0) translateZ(0);
  }

  90% {
    transform: scale(2) translateY(2px) translateZ(0);
  }

  100% {
    transform: scale(2) translateY(0) translateZ(0);
  }
}

@keyframes iconSmaller {

  0% {
    transform: scale(2) translateZ(0);
  }

  100% {
    transform: scale(1) translateZ(0);
  }
}

@keyframes phoneFromLeft {

  0% {
    transform: translate3d(-50px, -45px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes phoneFromRight {

  0% {
    transform: translate3d(50px, 45px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes watchCircle {

  0% {
    opacity: 0;
  }

  75% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes ballJump {

  0% {
    transform: translate3d(30px, -60px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes carGo {

  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes radar {

  0% {
    transform: rotate(-180deg);
    opacity: 0;
  }

  25% {
    transform: rotate(-180deg);
    opacity: 1;
  }

  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes mouseTurn {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes preloadRotation {

  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes autofill {
  to {
    background: transparent;
  }
}

@keyframes logoDraw {
  from {
    stroke-dasharray: 0 100;
  }

  to {
    stroke-dasharray: 110 100;
  }
}

@keyframes logoTurn {

  from {
    transform: rotate(-10deg);
  }

  to {
    transform: rotate(0);
  }
}

// @keyframes slider {

//   0% {
//     transform: scale(0);
//     z-index: 3;
//   }

//   25% {
//     transform: scale(1);
//     z-index: 2;
//   }

//   50% {
//     transform: scale(1);
//     z-index: 1;
//   }

//   50.1% {
//     transform: scale(0);
//   }

//   75% {
//     transform: scale(0);
//   }
// }
