:root {
  --mmap: calc(var(--vh, 1vh) * 33.6);
  --mmapclose: calc(var(--vh, 1vh) * 30.24);
  --mapheight: calc(var(--vh, 1vh) * 150);
  --markerposy: calc(var(--vh, 1vh) * 8.32);
  --markerposx: calc(var(--vh, 1vh) * 8.8);
  --mpt: calc(var(--vh, 1vh) * 16.8);
  --mpb: calc(var(--vh, 1vh) * 45.6);
  --mptland: calc(var(--vh, 1vh) * 31.25);
  --mpbland: calc(var(--vh, 1vh) * 15.625);
}

/* ##########
Убираем outline
########## */

button::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}

/* ##########
Цвет выделения текста
########## */

::selection {
  background: rgba($color-main, .99);
  color: $color-text;
}

/* ##########
Стандартный цвет плейсхолдера
########## */

input,textarea {

  &::placeholder {
    color: $color-placeholder;
  }
}

/* ##########
Настройки для автозаполнения Chrome
########## */

input:-webkit-autofill {
  -webkit-text-fill-color: $color-input !important; // Поменять цвет на аналогичный цвету input
  background-color: transparent !important;

  .case-form & {
    -webkit-text-fill-color: $color-basic !important;
  }

  body.is-dark & {
    -webkit-text-fill-color: $color-form-text-light !important;
  }

  .popup & {
    -webkit-text-fill-color: $color-main !important;
  }
}

input:-internal-autofill-selected {
  background-color: transparent !important;

  .popup & {
    background-color: rgba(0, 0, 0, .01) !important;
  }
}

input:-internal-autofill-previewed {
  background-color: transparent !important;

  .popup & {
    background-color: rgba(0, 0, 0, .01) !important;
  }
}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {
  // transition-delay: 5000000000s;
  // transition: background-color 50000000000s ease-in-out 0s !important; // Убираем желтую заливку для автозаполнения в Chrome
  animation-name: autofill;
  animation-fill-mode: both;
}

/* ##########
Основные стили
########## */

html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; // Убираем горизонтальный скролл
  width: 100%;
  min-height: 100%;
}

body {
  background-color: $color-main-bg;
  font-family: $font-site; // Задаем основной шрифт
  // font-size: $fz16; // Убираем проблему с отступами между inline-элементами
  color: $color-text;
  line-height: $lh-default;

  @include rule(font-size, (xxl: $fz16, xl: $fz16, lg: $fz16, md: $fz16));

  &.is-dark {
    background-color: $color-titles;
    color: $color-main;
  }
}

img {
  box-sizing: content-box;
}

/* ##########
Сброс стандартных отступов для типографики, списков и таблиц
########## */

h1,h2,h3,h4,h5,h6,p,span,ul,ol,li,tr,td,th,table {
  margin: 0;
  padding: 0;
}

ul,ol {
  list-style: none;
}

span {
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* ##########
Сброс стилей для активных элементов, добавляем стандарнтый transition
########## */

a,input,button,select,textarea {
  transition: color $ease-main, border-color $ease-main;
}

button {
  cursor: pointer;
}

select,input,textarea,button {
  color: $color-input;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0; // Убираем авто-закругление углов на iOS
  background-color: transparent;
  font-family: $font-main;
  -webkit-apearance: none;
}
