@mixin list {
  font-size: $fz-text;
  line-height: ($lh-base / $fz-text);
  font-weight: 300;
  letter-spacing: $ls-main;

  @include screen('md') {
    font-size: $fz-md-text;
    line-height: ($lh-md-base / $fz-md-text);
  }

  ul,ol {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  li {
    padding-left: 20px;
    position: relative;
  }
}

@mixin ullist {
  li::before {
    position: absolute;
    left: 0;
    top: 11px;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $color-list-point;
  }
}

@mixin ollist {
  counter-reset: list1;

  li {
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      counter-increment: list1;
      content: counter(list1) '.';
    }
  }
}
