// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 100%; // Максимальная ширина контейнера контента
$container-padding: 26px; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 13; // Количество колонок в сетке
$grid-gap: 26px; // Расстояние между колонками
$grid-gap-vertical: 26px; // Расстояние между строками в сетке
$grid-col-width: $grid-container-width/$grid-cols; // Ширина одной колонки

/* $breakpoints: (
  'xl': 1920px,
  'lg': 1366px,
  'md': 1024px,
  'sm': 768px,
  'xs': 480px
); */

$breakpoints: ('xl': 1366px,
'lg': 1024px,
'md': 768px,
'sm': 480px,
'xs': 320px);

// ##########
// Цвета
// ##########
$color-basic: white; // Основной цвет текста (применяется к body)
$color-placeholder: #777; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea
$color-main: white; // Основной фирменный цвет
$color-border: #ccc; // Основной цвет границ таблиц, секций

$color-red: #d53b30;
$color-red-dark: #4d2233;

$color-yellow-light: #f3e2c3;
$color-yellow-light-2: #f6f1e8;
$color-yellow-light-3: #f6f2e9;
$color-yellow-light-4: #f2ecd9;

$color-purple: #261923;
$color-purple-2: #4a2132;

$color-grey: #777d82;
$color-grey-dark: #010101;
$color-grey-dark-2: #111317;
$color-grey-dark-3: #364246;
$color-grey-dark-4: #24262b;
$color-grey-dark-5: #14181b;

// ##########
// Transitions
// ##########
$ease-main: .3s ease;

// ##########
// Шрифты
// ##########
$font-main: 'Montserrat',
Arial,
sans-serif; // Основной шрифт сайта

$font-second: 'Roboto',
Arial,
sans-serif; // Дополнительный шрифт

$font-third: 'Corbel',
Arial,
sans-serif; // Дополнительный шрифт

$font-4: 'Journal',
Arial,
sans-serif; // Дополнительный шрифт
