// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 100%; // Максимальная ширина контейнера контента
$container-padding: 26; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 13; // Количество колонок в сетке
$grid-gap: 13; // Расстояние между колонками (половинка)
$grid-gap-vertical: 26; // Расстояние между строками в сетке
$grid-col-width: $grid-container-width / $grid-cols; // Ширина одной
$grid-col-width-12: $grid-container-width / 12; // Ширина одной колонки

/* $breakpoints: (
  'xl': 1920px,
  'lg': 1366px,
  'md': 1024px,
  'sm': 768px,
  'xs': 480px
); */
$breakpoints: ('xxl': 1920px, 'xl': 1367px, 'lg': 1025px, 'md': 768px, 'sm': 480px, 'xs': 320px);

$breakpoints2: ('xl': 1920px, 'blg': 1600px, 'lg': 1380px, 'slg': 1300px, 'md': 1025px, 'sm': 768px, 'xs': 320px);

$breakBases: (xl: 1920, blg: 1440, lg: 1440, slg: 1280, md: 1024, sm: 375);

// ##########
// Цвета
// ##########
$color-black: #000;
$color-basic: white; // Основной цвет текста (применяется к body)
$color-placeholder: #777; // Основной цвет для placeholder
$color-input: $color-black; // Основной цвет input, select и textarea
$color-main: white; // Основной фирменный цвет
$color-border: #ccc; // Основной цвет границ таблиц, секций
$color-main-bg: #f3f1f1; // Основной бэкграунд сайта
$color-titles: #14181e;
$color-text: #373c43;
$color-text-2: #27292d;
$color-text-3: #0f1219;
$color-form-dark: #23262c;
$color-request-bg: #0f0f0f;
$color-red: #d53b30;
$color-red-dark: #4d2233;
$color-red-2: #ea2e44;
$color-red-bright: #df062f;
$color-red-dark-2: #2d0924;
$color-yellow-light: #f3e2c3;
$color-yellow-light-2: #f6f1e8;
$color-yellow-light-3: #f6f2e9;
$color-yellow-light-4: #f2ecd9;
$color-yellow: #ffe42e;
$color-yellow-2: #fff600;
$color-yellow-dark: #ffc822;
$color-orange-pale: #f89b72;
$color-purple: #261923;
$color-purple-2: #4a2132;
$color-green: #1a5f63;
$color-green-dark: #163d33;
$color-green-blue: #00ffc0;
$color-green-pale: #7aab93;
$color-grey: #777d82;
$color-grey-2: #44484f;
$color-grey-dark: #010101;
$color-grey-dark-2: #111317;
$color-grey-dark-3: #364246;
$color-grey-dark-4: #24262b;
$color-grey-dark-5: #14181b;
$color-grey-dark-6: #030304;
$color-grey-dark-7: #141f22;
$color-grey-dark-8: #2b2e33;
$color-grey-dark-9: #4a4d55;
$color-grey-dark-10: #666;
$color-grey-light: #859499;
$color-grey-light-2: #8b8b8b;
$color-grey-light-3: #91969f;
$color-pink: #e95866;
$color-pink-2: #c3424f;
$color-pink-3: #c4414f;
$color-pink-4: #ff53b0;
$color-grey-pink: #683e5e;
$color-dark-pink: #4c1630;
$color-violet: #231425;
$color-violet-2: #28185d;
$color-violet-3: #3f1370;
$color-pale-violet: #6440a1;
$color-violet-dark: #100d18;
$color-smoke-white: #e9f0f4;
$color-blue: #1eecf9;
$color-blue-2: #00f0ff;
$color-blue-light: #e6ecec;
$color-blue-border: #c9d4d6;
$color-project-def-dark: #070507;
$color-dark-border: #5a5a5a;
$color-brede: #f99f01;
$color-shilin: #60f;
$color-form-text-light: #b7bbbe;
$color-anchor-active: #8a9397;
$color-list-point: #232323;
$color-gold: #cda874;
$color-arbo-logo: #262424;
$color-pot-gray: #e5e5e5;
$color-mebeles-bg: #2a3134;
$color-mebeles-text: #9fadb3;
$color-mebeles-header: #576266;
$color-mebeles-slogan: #868f92;
$color-mebeles-logo-yellow: #f5be3a;
$color-mebeles-logo-green: #49b79a;
$color-mebeles-logo-red: #e7474b;
$color-5element-bg-dark: #0f1317;
$color-5element-bg-dark2: #242529;
$color-5element-gradient-bg: radial-gradient(circle 21640px at center, #d72c25 0%, #9c112f 100%);
$color-cdc-bg: #1f1e1e;
$color-cdc-ironstone: #875345;
$color-cdc-gray-text: #404040;
$color-cdc-white-smoke: #efefef;
$color-cdc-black-rus: #131416;
$color-lavkin-bg: #123b36;

// ##########
// Transitions
// ##########
$ease-main: .3s ease;

// ##########
// Шрифты
// ##########
$font-main: 'Montserrat', 'ProximaNova', arial, sans-serif; // Основной шрифт сайта
$font-second: 'Roboto', 'ProximaNova', arial, sans-serif; // Дополнительный шрифт
$font-third: 'Corbel', 'ProximaNova', arial, sans-serif; // Дополнительный шрифт
$font-4: 'Journal', 'ProximaNova', arial, sans-serif; // Дополнительный шрифт
$font-site: 'ProximaNova', arial, sans-serif;
$font-mebeles: 'Pragmatica', 'ProximaNova', arial, sans-serif; // Шрифт для 4mebeles
$font-cdc: 'Cabin', 'ProximaNova', arial, sans-serif; // Шрифт для 4mebeles
$font-archivo: 'Archivo', 'ProximaNova', arial, sans-serif;
$font-stolzl: 'Stolzl', 'ProximaNova', arial, sans-serif;

// ########
// Шрифты - размеры
// ########
$ls-main: .02em;
$ls-btn: .12em;
$ls-header: .16em;
$ls-form-link: .36em;
$ls-port: .04em;
$lh1: 1;
$lh-default: 1.2;
$lh-base: 28; // основа для
$lh-md-base: 20;
$lh-base-32: 32;
$lh-base-38: 38;
$lh-base-45: 45;
$lh-base-28: 28;
$lh-base-22: 22;
$lh-base-14: 14;
$lh-base-19: 19;
$fz9: 9;
$fz10: 10;
$fz12: 12;
$fz13: 13;
$fz15: 15;
$fz16: 16;
$fz17: 17;
$fz18: 18;
$fz19: 19;
$fz27: 27;
$fz30: 30;
$fz35: 35;
$fz31: 31;
$fz40: 40;
$fz48: 48;
$fz58: 58;
$fz61: 61;
$fz116: 116;
$fz-text: 20;
$fz-md-text: 14;
$fz-title: 68;
$fz-xl-title: 50;
$fz-md-title: 25;
