// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 100%; // Максимальная ширина контейнера контента
$container-padding: 26px; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 13; // Количество колонок в сетке
$grid-gap: 26px; // Расстояние между колонками
$grid-gap-vertical: 26px; // Расстояние между строками в сетке
$grid-col-width: $grid-container-width / $grid-cols; // Ширина одной
$grid-col-width-12: $grid-container-width / 12; // Ширина одной колонки

/* $breakpoints: (
  'xl': 1920px,
  'lg': 1366px,
  'md': 1024px,
  'sm': 768px,
  'xs': 480px
); */
$breakpoints: ('xxl': 1920px, 'xl': 1367px, 'lg': 1025px, 'md': 768px, 'sm': 480px, 'xs': 320px);

// ##########
// Цвета
// ##########
$color-black: #000;
$color-basic: white; // Основной цвет текста (применяется к body)
$color-placeholder: #777; // Основной цвет для placeholder
$color-input: $color-black; // Основной цвет input, select и textarea
$color-main: white; // Основной фирменный цвет
$color-border: #ccc; // Основной цвет границ таблиц, секций
$color-main-bg: #f3f1f1; // Основной бэкграунд сайта
$color-titles: #14181e;
$color-text: #373c43;
$color-text-2: #27292d;
$color-text-3: #0f1219;
$color-form-dark: #23262c;
$color-request-bg: #0f0f0f;
$color-red: #d53b30;
$color-red-dark: #4d2233;
$color-red-2: #ea2e44;
$color-red-bright: #df062f;
$color-red-dark-2: #2d0924;
$color-yellow-light: #f3e2c3;
$color-yellow-light-2: #f6f1e8;
$color-yellow-light-3: #f6f2e9;
$color-yellow-light-4: #f2ecd9;
$color-yellow: #ffe42e;
$color-yellow-2: #fff600;
$color-yellow-dark: #ffc822;
$color-orange-pale: #f89b72;
$color-purple: #261923;
$color-purple-2: #4a2132;
$color-green: #1a5f63;
$color-green-dark: #163d33;
$color-green-blue: #00ffc0;
$color-green-pale: #7aab93;
$color-grey: #777d82;
$color-grey-2: #44484f;
$color-grey-dark: #010101;
$color-grey-dark-2: #111317;
$color-grey-dark-3: #364246;
$color-grey-dark-4: #24262b;
$color-grey-dark-5: #14181b;
$color-grey-dark-6: #030304;
$color-grey-dark-7: #141f22;
$color-grey-dark-8: #2b2e33;
$color-grey-dark-9: #4a4d55;
$color-grey-dark-10: #666;
$color-grey-light: #859499;
$color-grey-light-2: #8b8b8b;
$color-grey-light-3: #91969f;
$color-pink: #e95866;
$color-pink-2: #c3424f;
$color-pink-3: #c4414f;
$color-pink-4: #ff53b0;
$color-grey-pink: #683e5e;
$color-dark-pink: #4c1630;
$color-violet: #231425;
$color-violet-2: #28185d;
$color-violet-3: #3f1370;
$color-pale-violet: #6440a1;
$color-violet-dark: #100d18;
$color-smoke-white: #e9f0f4;
$color-blue: #1eecf9;
$color-blue-2: #00f0ff;
$color-blue-light: #e6ecec;
$color-blue-border: #c9d4d6;
$color-project-def-dark: #070507;
$color-dark-border: #5a5a5a;
$color-brede: #f99f01;
$color-shilin: #60f;
$color-form-text-light: #b7bbbe;
$color-anchor-active: #8a9397;
$color-list-point: #232323;
$color-gold: #cda874;
$color-arbo-logo: #262424;

// ##########
// Transitions
// ##########
$ease-main: .3s ease;

// ##########
// Шрифты
// ##########
$font-main: 'Montserrat', Arial, sans-serif; // Основной шрифт сайта
$font-second: 'Roboto', Arial, sans-serif; // Дополнительный шрифт
$font-third: 'Corbel', Arial, sans-serif; // Дополнительный шрифт
$font-4: 'Journal', Arial, sans-serif; // Дополнительный шрифт
$font-site: 'ProximaNova', Arial, sans-serif;

// ########
// Шрифты - размеры
// ########
$ls-main: .02em;
$ls-btn: .12em;
$ls-header: .16em;
$ls-form-link: .36em;
$ls-port: .04em;
$lh1: 1;
$lh-default: 1.2;
$lh-base: 28px; // основа для
$lh-md-base: 20px;
$lh-base-32: 32px;
$lh-base-38: 38px;
$lh-base-45: 45px;
$lh-base-28: 28px;
$lh-base-22: 22px;
$lh-base-14: 14px;
$lh-base-19: 19px;
$fz9: 9px;
$fz10: 10px;
$fz12: 12px;
$fz13: 13px;
$fz15: 15px;
$fz16: 16px;
$fz17: 17px;
$fz18: 18px;
$fz27: 27px;
$fz30: 30px;
$fz35: 35px;
$fz31: 31px;
$fz40: 40px;
$fz58: 58px;
$fz61: 61px;
$fz116: 116px;
$fz-text: 20px;
$fz-md-text: 14px;
$fz-title: 68px;
$fz-xl-title: 50px;
$fz-md-title: 25px;
