.companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  $b: &;

  &__item {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 66px;
    height: 76px;

    @include screen('xl') {
      width: 33.33%;
    }

    @include screen('md') {
      margin-bottom: 24px;
      height: 28px;
    }
  }

  &__image {
    display: block;
    font-size: 0;
    line-height: 0;
    height: 100%;
    width: auto;

    @include screen('xl') {
      max-width: 100%;
    }
  }
}
