mixin mebeles()
  +b.mebeles&attributes(attributes)
    block

mixin mebeles-about()
  +b.SECTION.mebeles-about&attributes(attributes)
    +e.bg.js-sr_21
      +e.IMG.bg-image(src="assets/images/4mebeles/top-bg.jpg")
    +e.head
      .container.container_mebeles-inner.container_fxc
        +e.A.logo.js-sr_11(href="#")
          +e.IMG.logo-image(src="assets/images/4mebeles/4mebeles-logo.svg" alt="4mebeles")
        +mebeles-line._vertical.__line.js-sr_25
        +e.title.js-sr_4 ДИЗАЙН САЙТА И ЛОГОТИП
    +e.content
      .container.container_mebeles
        +e.describe
          +case-section._mebeles
            +case-section-heading('h3').js-sr_5 00
              +mebeles-line.__line.js-sr_26
            +case-section-text.js-sr_27 С самого начала мы старались сделать главную страницу сайта не похожей на мебельные магазины.
      +e.collage
        +e.PICTURE.back
          //- +e.SOURCE(srcset="assets/images/4mebeles/about-bg.png" media="(min-width: 1025px")
          //- +e.SOURCE(srcset="assets/images/4mebeles/about-bg-tablet.png" media="(min-width: 768px")
          //- +e.SOURCE(srcset="assets/images/4mebeles/about-bg-mobile.png" media="(min-width: 300px")
          +e.IMG.back-image(srcset="assets/images/4mebeles/about-bg.png")
        +e.mid
          +e.IMG.mid-image.js-sr_28(src="assets/images/4mebeles/site.png")
    block

mixin mebeles-logo()
  +b.SECTION.mebeles-logo&attributes(attributes)
    +e.content
      .container.container_mebeles-inner
        +case-section._mebeles._mebeles_v2.__describe
          +case-section-heading('h3').js-sr_1 01
            +mebeles-line.__line.js-sr_24
          +case-section-text.js-sr_14 Мы создали логотип компании. Знак олицетворяет 4 основных направления создания мебели — это гостиная, спальня, прихожая и кухня.
    +e.collage
      +e.back
        +e.IMG.point(src="assets/images/4mebeles/logo-point.png")
      +e.front.js-sr_5
        +e.IMG.image(src="assets/images/4mebeles/chair-logo.png")
    block


mixin mebeles-slider()
  +b.SECTION.mebeles-slider__&attributes(attributes).swiper(data-stopscroll)
    +e.container.swiper-wrapper(data-scrollsvg)
      +e.SVG.slide_1(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1192" preserveAspectRatio="xMidYMid slice" data-slide="0")
        defs
          clipPath#a
            circle.clip-path(cx="960" cy="596" r="1133" fill="none" data-clippath="1")
        g.path-image(clip-path="url(#a)" data-clipimage="1")
          image(width="1920" height="1192" xlink:href="assets/images/4mebeles/slide1.jpg")
      +e.SVG.slide_2(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1192" preserveAspectRatio="xMidYMid slice" data-slide="1")
        defs
          clipPath#b
            circle.clip-path(cx="960" cy="596" r="1133" fill="none" data-clippath="2")
        g.path-image(clip-path="url(#b)" data-clipimage="2")
          image(width="1920" height="1192" xlink:href="assets/images/4mebeles/slide2.jpg")
      +e.SVG.slide_3(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1192" preserveAspectRatio="xMidYMid slice" data-slide="2")
        defs
          clipPath#c
            circle.clip-path(cx="960" cy="596" r="1133" fill="none" data-clippath="3")
        g.path-image(clip-path="url(#c)" data-clipimage="3")
          image(width="1920" height="1192" xlink:href="assets/images/4mebeles/slide3.jpg")
      +e.SVG.slide_4(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1192" preserveAspectRatio="xMidYMid slice" data-slide="3")
        defs
          clipPath#d
            circle.clip-path(cx="960" cy="596" r="1133" fill="none" data-clippath="4")
        g.path-image(clip-path="url(#d)" data-clipimage="4")
          image(width="1920" height="1192" xlink:href="assets/images/4mebeles/slide4.jpg")
      //- +e.SVG.slide_1(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1192" preserveAspectRatio="xMidYMid slice" data-scrollsvg)
        defs
          clipPath#a
            circle.clip-path.clip-path_1.is-scale(cx="960" cy="596" r="1133" fill="none" data-clippath="1")
          clipPath#b
            circle.clip-path.clip-path_2(cx="960" cy="596" r="1133" fill="none" data-clippath="2")
          clipPath#c
            circle.clip-path.clip-path_3(cx="960" cy="596" r="1133" fill="none" data-clippath="3")
          clipPath#d
            circle.clip-path.clip-path_4(cx="960" cy="596" r="1133" fill="none" data-clippath="4")
        g.path-image.path-image_1.is-curr(clip-path="url(#a)" data-clipimage="1")
          image(width="1920" height="1192" xlink:href="assets/images/4mebeles/slide1.jpg")
        g.path-image.path-image_2(clip-path="url(#b)" data-clipimage="2")
          image(width="1920" height="1192" xlink:href="assets/images/4mebeles/slide2.jpg")
        g.path-image.path-image_3(clip-path="url(#c)" data-clipimage="3")
          image(width="1920" height="1192" xlink:href="assets/images/4mebeles/slide3.jpg")
        g.path-image.path-image_4(clip-path="url(#d)" data-clipimage="4")
          image(width="1920" height="1192" xlink:href="assets/images/4mebeles/slide4.jpg")
    block

mixin mebeles-mobile()
  +b.SECTION.mebeles-mobile&attributes(attributes)
    +e.content
      .container.container_mebeles-inner
        +case-section._mebeles._mebeles_v3.__describe
          +case-section-heading('h3').js-sr_1 02
            +mebeles-line.__line.js-sr_24
          +case-section-text.js-sr_14 Магазин удобно открывается и полностью функционален на мобильных устройствах.
    +e.phones.js-sr_29
      +e.IMG.image(src="assets/images/4mebeles/phones.png")
    block

mixin mebeles-line()
  +b.mebeles-line&attributes(attributes)
    block
