mixin phone-collage()
  +b.SECTION.phone-collage&attributes(attributes)
    +e.UL.list.js-sr_77
      +e.LI.item
        +e.IMG.image(src="assets/images/services/iphone-1.png")
      +e.LI.item
        +e.IMG.image(src="assets/images/services/iphone-2.png")
      +e.LI.item
        +e.IMG.image(src="assets/images/services/iphone-3.png")
      +e.LI.item
        +e.IMG.image(src="assets/images/services/iphone-4.png")
    block
