.request-form {
  display: block;
  font-family: $font-site;
  $b: &;

  body.is-dark &,.popup & {
    color: $color-basic;
  }

  input,textarea,select,button {
    font-family: $font-site;
  }

  ::placeholder {
    font-family: $font-site;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: $ls-btn;
  }

  &__title {
    font-size: $fz35;
    font-weight: 700;
    color: currentColor;
    line-height: $lh-default;
    margin-bottom: 100px;

    @include screen('lg') {
      margin-bottom: 104px;
    }

    @include screen('md') {
      font-size: $fz-md-title;
      letter-spacing: -$ls-main;
      margin-bottom: 43px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
  }

  &__form {
    width: 52.1%;
    margin-right: 50px;

    @include screen('xl') {
      margin-right: 0;
      width: 74.2%;
      margin-bottom: 92px;
    }

    @include screen('lg') {
      width: 90.5%;
      margin-bottom: 94px;
    }

    @include screen('md') {
      margin-bottom: 46px;
      width: 100%;
    }
  }

  .form {
    &__button {
      min-width: 338px;

      @include screen('lg') {
        margin-top: 63px;
      }

      @include screen('md') {
        margin-top: 35px;
        min-width: 0;
      }
    }
  }

  .inputbox + .inputbox {
    margin-top: 61px;

    @include screen('lg') {
      margin-top: 63px;
    }

    @include screen('md') {
      margin-top: 26px;
    }
  }

  &__links {
    display: block;
    box-sizing: border-box;
    padding-top: 17px;
    width: 37%;

    @include screen('xl') {
      padding-top: 14px;
      width: 100%;
    }

    @include screen('md') {
      padding-top: 0;
    }
  }

  &__line {
    width: 100%;
    font-size: $fz15;
    letter-spacing: $ls-form-link;

    @include screen('md') {
      font-size: $fz12;
    }

    &:not(:last-child) {
      margin-bottom: 78px;

      @include screen('xl') {
        margin-bottom: 80px;
      }

      @include screen('lg') {
        margin-bottom: 83px;
      }

      @include screen('md') {
        margin-bottom: 21px;
      }
    }

    .socials {
      @include screen('md') {
        margin-bottom: 49px;
      }
    }
  }

  &__link {
    color: currentColor;
    font-size: $fz15;
    letter-spacing: $ls-header;

    @include screen('md') {
      font-size: $fz12;
      line-height: 1.35;
    }
  }
}
