extends ../../layouts/case

block head
  - var pageTitle = 'Dezi | Next Level Agency'

block header
  - var headerClass = '_light'
  - var headerData = getData('headerNLA.json')

block content
  +nla(data-section="nla")
    +nla-lead
    +nla-case
    +nla-design
    +nla-logo
    +nla-portraits
    +svg-gradients
