.logo {
  display: block;

  @include rule(width, (xxl: 28, xl: 28, lg: 28, md: 21));
  @include rule(height, (xxl: 35, xl: 35, lg: 35, md: 26));

  $b: &;

  &__icon {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}
