extends ../../layouts/case

block head
  - var pageTitle = 'Dezi | Agrosynergies'

block header
  - var headerData = getData('headerAgrosyn.json')

block content
  +agrosyn(data-section="portfolio")
  +svg-gradients
