extends ../../layouts/case

block head
  - var pageTitle = 'Dezi | Venezia'

block content
  +venezia
    +venezia-lead
    +venezia-site
      +venezia-about
      +venezia-catalog
    +venezia-package
    +svg-gradients
