extends ../../layouts/case

block head
  - var pageTitle = 'Dezi | Venezia'

block header
  - var headerClass = '_light'
  - var headerData = getData('headerVenezia.json')

block content
  +venezia(data-section="venezia")
    +venezia-lead
    +venezia-site
      +venezia-applique
      +venezia-about
      +venezia-book
    +venezia-catalog
    +venezia-package
    +svg-gradients
