.content-zone {
  h1 {
    &:not(:last-child) {
      @include rule(margin-bottom, (xxl: 10, xl: 10, lg: 10, md: 10));
      // margin-bottom: 10px;
    }

    @include heading-1;
  }

  h2 {
    &:not(:last-child) {
      @include rule(margin-bottom, (xxl: 10, xl: 10, lg: 10, md: 10));
      // margin-bottom: 10px;
    }

    @include heading-2;
  }

  h3 {
    &:not(:last-child) {
      @include rule(margin-bottom, (xxl: 10, xl: 10, lg: 10, md: 10));
      // margin-bottom: 10px;
    }

    @include heading-3;
  }

  h4 {
    &:not(:last-child) {
      @include rule(margin-bottom, (xxl: 10, xl: 10, lg: 10, md: 10));
      // margin-bottom: 10px;
    }

    @include heading-4;
  }

  h5 {
    &:not(:last-child) {
      @include rule(margin-bottom, (xxl: 10, xl: 10, lg: 10, md: 10));
      // margin-bottom: 10px;
    }

    @include heading-5;
  }

  h6 {
    &:not(:last-child) {
      @include rule(margin-bottom, (xxl: 10, xl: 10, lg: 10, md: 10));
      // margin-bottom: 10px;
    }

    @include heading-6;
  }

  p {
    &:not(:last-child) {
      @include rule(margin-bottom, (xxl: 10, xl: 10, lg: 10, md: 10));
      // margin-bottom: 10px;
    }

    small {
      display: block;

      @include text-small;
    }

    @include text;
  }

  blockquote {
    margin: 0;
    // padding-left: 40px;
    border-left: 2px solid black;
    display: block;

    @include rule(padding-left, (xxl: 40, xl: 40, lg: 40, md: 40));

    &:not(:first-child) {
      // margin-top: 30px;
      @include rule(margin-top, (xxl: 30, xl: 30, lg: 30, md: 30));
    }

    &:not(:last-child) {
      // margin-bottom: 30px;
      @include rule(margin-bottom, (xxl: 30, xl: 30, lg: 30, md: 30));
    }
  }

  img {
    max-width: 100%;

    &:not(:first-child) {
      // margin-top: 30px;
      @include rule(margin-top, (xxl: 30, xl: 30, lg: 30, md: 30));
    }

    &:not(:last-child) {
      // margin-bottom: 30px;
      @include rule(margin-bottom, (xxl: 30, xl: 30, lg: 30, md: 30));
    }
  }

  > ul,> ol {
    &:not(:last-child) {
      // margin-bottom: 10px;
      @include rule(margin-bottom, (xxl: 10, xl: 10, lg: 10, md: 10));
    }
  }

  ul,ol {
    @include list;
  }

  ul {
    @include ullist;
  }

  ol {
    @include ollist;
  }

  a {
    @extend .link;
  }
}
