extends ../../layouts/case

block head
  - var pageTitle = 'Dezi | Redstone'

block header
  - var headerClass = '_light'
  - var headerData = getData('headerRedstone.json')

block content
  +redstone(data-section="redstone")
    +redstone-lead
    +redstone-secret
    +redstone-brand
