extends ../../layouts/case

block head
  - var pageTitle = 'Dezi | Redstone'

block header
  - var headerClass = '_light'

block content
  +redstone
    +redstone-lead
    +redstone-secret
    +redstone-brand
