extends ../../layouts/case

block head
  - var pageTitle = 'Dezi | Secret Place'

block content
  +splace
    +splace-lead
    +splace-about
    +splace-pages
    +splace-design
    +splace-look
    +splace-call
