mixin cosywood()
  +b.cosywood&attributes(attributes)
    +portfolio-section._light-txt
      .container.container_portfolio
        +e.wrapper_white
          +grid.grid_12.grid_nogap
            +col({xxl: 6, md: 12})
              +e.content
                +link()._normal.__link.js-sr_10(href="https://cosywood.co.uk") cosywood.co.uk
                +portfolio-section-title.js-sr_14 Логотип для английского производителя мебели
                +portfolio-section-text._big.js-sr_17 Мебель компании COSYWOOD — уникальная ручная работа и неповторимый стиль. Мы разработали для COSYWOOD лаконичный и емкий логотип, который очень похож по стилю на продукцию компании.
            +col({xxl: 6, md: 12})
              +e.image-wrapper_fxc._cw
                +e.IMG.cw-logo.js-sr_6(src="assets/images/cosywood/cw-logo.png")
        +e.text-block
          +portfolio-section-text.js-sr_3 <b>Кейс:</b> Дизайн логотипа адаптированный под разные носители
        +grid.grid_12.grid_nogap
          +col({xxl: 6, md: 12})
            +portfolio-section-image().js-sr_10(src="assets/images/cosywood/cw-img4.jpg")
          +col({xxl: 6, md: 12})
            +portfolio-section-image().js-sr_6(src="assets/images/cosywood/cw-img1.jpg")
        +e.text-block._big-pad.js-sr_1
          +portfolio-section-text._big2 COSYWOOD — английский производитель уникальной дизайнерской мебели, которая создается из дерева и металла, используемого вторично. Часть материала получается из старых домов, таким образом получая новую жизнь.
        +portfolio-section-image().js-sr_2(src="assets/images/cosywood/cw-img2.jpg")
        +e.text-block._big-pad.js-sr_1
          +portfolio-section-text._big2 COSYWOOD — английский производитель уникальной дизайнерской мебели, которая создается из дерева и металла, используемого вторично. Часть материала получается из старых домов, таким образом получая новую жизнь.
        +portfolio-section-image().js-sr_2(src="assets/images/cosywood/cw-img3.jpg")
        +e.text-block._big-pad.js-sr_1
          +portfolio-section-text._big2 Мы взяли за основу окружность, как олицетворение ствола дерева. Линии, которые рассекают ствол дерева на части, формируют букву W, а оставшаяся от кольца форма, похожа на букву C. Таким образом мы получили аббревиатуру названия компании. Знак легко может стать шаблоном для фирменного оттиска или трафарета.
    +portfolio-section
      +portfolio-section-image().js-sr_2(src="assets/images/cosywood/cw-img-big.jpg")
