mixin venezia()
  +b.venezia&attributes(attributes)
    block

mixin venezia-column-left()
  .venezia__col.venezia__col_left&attributes(attributes)
    block

mixin venezia-column-right()
  .venezia__col.venezia__col_right&attributes(attributes)
    block

mixin venezia-lead()
  +b.SECTION.venezia-lead&attributes(attributes)
    +e.media.js-sr_11
      +e.PICTURE.image
        source(srcset="assets/images/venezia/head-mobile.png" media="(max-width: 767px)")
        source(srcset="assets/images/venezia/head-middle.png" media="(max-width: 1366px)")
        +e.IMG(srcset="assets/images/venezia/head.png")
    +e.header
      .container.container_inner.container_flex
        +e.logo.js-sr_2
          +icon('venezia-logo').__logo-icon
        +e.A.link.js-sr_3(href="https://www.venecija.lv") www.venecija.lv
    +e.content
      .container.container_inner.container_flex
        +venezia-column-left
        +venezia-column-right
          +case-section.__section
            +case-section-heading().js-sr_4 Дизайн сайта и каталог для комплекса апартаментов — Венеция
            +case-section-text.js-sr_5 Венеция — комплекс апартаментов на первой линии Юрмалы. Мы создали функциональный, легкий и яркий веб-сайт, который знакомит потенциальных клиентов с проектом и его особенностями.
          +case-section.__section
            +case-section-heading().js-sr_1 Задачи
            +case-list([
              ['case-rocket', 'Рассказать о будущем проекта', '33', '33'],
              ['case-paint', 'Выгодно подать информацию об апартаментах', '31', '31'],
              ['case-map', 'Рассказать об окрестностях и инфраструктуре', '31', '27'],
            ]).venezia-lead__list

    block

mixin venezia-site()
  +b.SECTION.venezia-site&attributes(attributes)
    +e.bg
    block

mixin venezia-applique()
  +b.SECTION.venezia-applique&attributes(attributes)
    +e.mac_first
      +e.IMG.image(src="assets/images/venezia/imac-1.png")
      +e.screen
        +e.IMG.screen-img(src="assets/images/venezia/about.png")
      +e.nav
        +e.IMG.nav-img(src="assets/images/venezia/screen-navigation.png")
    +e.describe
      .container.container_inner.container_flex
        +venezia-column-left
        +venezia-column-right
          +case-section.venezia-applique__section
            +case-section-text.js-sr_2 Основные разделы сайта открываются поверх открытой страницы где бы не находился пользователь.
    +e.mac_second
      +e.IMG.image(src="assets/images/venezia/imac-2.png")

mixin venezia-about()
  +b.SECTION.venezia-about&attributes(attributes)
    .container.container_inner.container_flex
      +venezia-column-left
        +case-section.__section
          +case-section-heading().js-sr_1 Каталог апартаментов
          +case-section-text.js-sr_2 Мы бережно перерисовали все планы проекта и собрали их в лаконичный и информативный буклет.
      +venezia-column-right
        +e.plan.js-sr_6
          +e.IMG.plan-image(src="assets/images/venezia/plan.png")
    block

mixin venezia-magazine(img)
  +b.FIGURE.venezia-magazine&attributes(attributes)
    +e.IMG.image(src=img)
    +e.FIGCAPTION.name
      +e.text
        block

mixin venezia-book()
  +b.SECTION.venezia-book&attributes(attributes)
    +e.media.js-sr_3
      +e.IMG.image(src="assets/images/venezia/magazine.png")

mixin venezia-catalog()
  +b.SECTION.venezia-catalog&attributes(attributes)
    .container.container_inner
      +e.UL.list
        +e.LI.item.js-sr_9
          +venezia-magazine('assets/images/venezia/magazine-1.png') Разоврот об интерьере
        +e.LI.item.js-sr_9
          +venezia-magazine('assets/images/venezia/magazine-2.png') Карта окрестностей со всеми элементами ближайшей инфраструктуры
        +e.LI.item.js-sr_9
          +venezia-magazine('assets/images/venezia/magazine-3.png') Немного об окрестностях
        +e.LI.item.js-sr_9
          +venezia-magazine('assets/images/venezia/magazine-4.png') О гармонии и легкости
    block

mixin venezia-package()
  +b.SECTION.venezia-package&attributes(attributes)
    .container.container_inner.container_flex
      +venezia-column-left
        +case-section.__section
          +case-section-heading().js-sr_1 Упаковка
          +case-section-text.js-sr_2 Каждый каталог вручается потенциальным клиентам в фирменном пакете Venecija.
      +venezia-column-right
        +e.media
          +e.IMG.image_front(src="assets/images/venezia/package.png")
          +e.IMG.image_middle.js-sr_animate(src="assets/images/venezia/package-magazine.png")
          +e.IMG.image_back(src="assets/images/venezia/package-back-handle.png")
    block
