.venezia {
  $b: &;

  display: block;
  width: 100%;
  font-family: $font-second;
  color: $color-yellow-light-4;
  background-color: $color-violet;
  // margin-bottom: -1px;
  background-image: url('../images/venezia/bg-first.png');
  background-size: 100% auto;
  background-position: 0 10.9%;
  background-repeat: no-repeat;

  @include rule(margin-bottom, (xxl: -1, xl: -1, lg: -1, md: -1));

  @include screen('xl') {
    background-size: auto 79.0629vw;
    background-position: 50% 12.8%;
  }

  @include screen('lg') {
    background-size: auto 79.1015vw;
    background-position: 50% 12%;
  }

  @include screen('md') {
    background-size: auto 277.1875vw;
    background-position: -127.1875vw -44.6875vw;
  }

  .case-section {
    &__heading {
      font-family: $font-second;
      font-weight: 100;
      line-height: 1.2;
      letter-spacing: -.02em;
      // font-size: 47px;
      color: $color-pink;

      @include rule(font-size, (xxl: 47, xl: 47, lg: 35, md: 30));

      // @include screen('lg') {
      //   font-size: 35px;
      // }

      // @include screen('md') {
      //   font-size: 30px;
      // }
    }

    &__text {
      font-weight: 100;
      line-height: 1.38;
      // font-size: 21px;

      @include rule(font-size, (xxl: 21, xl: 21, lg: 18, md: 15));

      @include screen('lg') {
        // font-size: 18px;
        line-height: 1.46;
      }

      @include screen('md') {
        // font-size: 15px;
        line-height: 1.3;
        letter-spacing: -.004em;
      }
    }
  }

  .case-list {
    // font-size: 21px;
    line-height: 1.38;

    @include rule(font-size, (xxl: 21, xl: 21, lg: 18, md: 15));

    @include screen('lg') {
      // font-size: 18px;
      line-height: 1.46;
    }

    @include screen('md') {
      // font-size: 15px;
      line-height: 1.3;
    }

    &__item {
      // padding-left: 60px;
      @include rule(padding-left, (xxl: 60, xl: 60, lg: 58, md: 46));

      // @include screen('lg') {
      //   padding-left: 58px;
      // }

      // @include screen('md') {
      //   padding-left: 46px;
      // }

      &:not(:last-child) {
        // margin-bottom: 63px;
        @include rule(margin-bottom, (xxl: 63, xl: 63, lg: 28, md: 36));

        // @include screen('lg') {
        //   margin-bottom: 28px;
        // }

        // @include screen('md') {
        //   margin-bottom: 36px;
        // }
      }
    }

    &__icon {
      fill: url('#venezia-pink');

      @include screen('lg') {
        transform-origin: 0 50%;
        transform: translate3d(0, -50%, 0) scale(.76);
      }
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &-lead {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;

    @include screen('md') {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: calc((47 / 320) * 100vw);
    }

    &__media {
      display: block;
      position: relative;
      width: 100%;
      padding-top: 80.8%;
      margin-top: -51%;
      margin-left: -36.9%;

      @include screen('xl') {
        padding-top: 114%;
        margin-top: -72%;
        margin-left: -67.7%;
      }

      @include screen('lg') {
        padding-top: 114%;
        margin-top: -72%;
      }

      @include screen('md') {
        margin-top: 0;
        padding-top: 283.8%;
        margin-left: -105.8%;
        order: 2;
      }
    }

    &__image {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 241%;
      height: auto;

      @include screen('xl') {
        width: 335%;
      }

      @include screen('md') {
        width: 401.4%;
      }

      img {
        display: block;
        width: 100%;
        font-size: 0;
        line-height: 0;
      }
    }

    &__header {
      display: block;
      width: 100%;

      &:not(:last-child) {
        // margin-bottom: 134px;
        @include rule(margin-bottom, (xxl: 134, xl: 134, lg: 100, md: 64));

        // @include screen('lg') {
        //   margin-bottom: 100px;
        // }

        // @include screen('md') {
        //   margin-bottom: 64px;
        // }
      }

      .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      // padding-left: 9px;
      // width: 203px;
      // height: 184px;
      // box-shadow: 12px 21px 43px rgba(0, 0, 0, .32);
      box-shadow: .625vw 1.0937vw 2.2396vw rgba(0, 0, 0, .32);
      background-image: linear-gradient(-47deg, $color-grey-pink 0%, $color-pink-2 100%);

      @include rule(width, (xxl: 203, xl: 203, lg: 153, md: 102));
      @include rule(height, (xxl: 184, xl: 184, lg: 139, md: 92));
      @include rule(padding-left, (xxl: 9, xl: 9, lg: 6, md: 3));

      @include screen('xl') {
        box-shadow: .8785vw 1.5373vw 3.1478vw rgba(0, 0, 0, .32);
      }

      @include screen('lg') {
        box-shadow: 1.1718vw  2.0508vw 4.1992vw rgba(0, 0, 0, .32);
        // padding-left: 6px;
        // width: 153px;
        // height: 139px;
      }

      @include screen('md') {
        box-shadow: 3.75vw 6.5625vw 13.4375vw rgba(0, 0, 0, .32);
        // padding-left: 3px;
        // width: 102px;
        // height: 92px;
      }

      &:not(:last-child) {
        // margin-bottom: 128px;
        @include rule(margin-bottom, (xxl: 128, xl: 126, lg: 94, md: 42));

        // @include screen('xl') {
        //   margin-bottom: 126px;
        // }

        // @include screen('lg') {
        //   margin-bottom: 94px;
        // }

        // @include screen('md') {
        //   margin-bottom: 42px;
        // }
      }

      &-icon {
        // width: 164px;
        height: auto;
        fill: $color-basic;

        @include rule(width, (xxl: 164, xl: 164, lg: 123, md: 82));

        // @include screen('lg') {
        //   width: 123px;
        // }

        // @include screen('md') {
        //   width: 82px;
        // }
      }
    }

    &__link {
      position: relative;
      display: inline-block;
      // font-size: 14px;
      font-weight: 500;
      color: $color-basic;
      line-height: 1.2;
      letter-spacing: .54em;
      text-transform: uppercase;

      @include rule(font-size, (xxl: 14, xl: 14, lg: 10, md: 12));

      // @include screen('lg') {
      //   font-size: 10px;
      // }

      // @include screen('md') {
      //   font-size: 12px;
      // }

      &::before {
        @include pseudo;

        // bottom: -7px;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, $color-pink-2 15%, $color-pink-2 85%, rgba(0, 0, 0, 0) 100%);

        @include rule(bottom, (xxl: -7, xl: -7, lg: -5, md: -5));
        @include rule(height, (xxl: 1, xl: 1, lg: 1, md: 1));

        // @include screen('lg') {
        //   bottom: -5px;
        // }
      }
    }

    &__content {
      display: block;
      width: 100%;

      @include screen('md') {
        order: 3;
      }
    }

    &__section {
      position: relative;
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding-right: calc((50 / 1920) * 100vw);

      @include screen('xl') {
        padding-right: 0;
      }

      &:first-child::before {
        @include pseudo;

        top: 0;
        // left: -62px;
        // width: 122px;
        // height: 130px;
        background-image: url('../images/venezia/purple-box-small.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 0;
        z-index: 1;

        @include rule(width, (xxl: 122, xl: 122, lg: 101, md: 96));
        @include rule(height, (xxl: 130, xl: 130, lg: 107, md: 99));
        @include rule(left, (xxl: -62, xl: -62, lg: -48, md: -13));

        // @include screen('lg') {
        //   width: 101px;
        //   height: 107px;
        //   left: -48px;
        // }

        @include screen('md') {
          // width: 96px;
          // height: 99px;
          // left: -13px;
          top: auto;
          bottom: 100%;
          margin-bottom: calc((24 / 320) * 100vw);
        }
      }

      &:not(:last-child) {
        // margin-bottom: 168px;
        @include rule(margin-bottom, (xxl: 168, xl: 169, lg: 82, md: 62));

        // @include screen('xl') {
        //   margin-bottom: 169px;
        // }

        // @include screen('lg') {
        //   margin-bottom: 82px;
        // }

        // @include screen('md') {
        //   margin-bottom: 62px;
        // }
      }

      .case-section {
        &__heading {
          position: relative;
          z-index: 2;

          &:not(:last-child) {
            // margin-bottom: 51px;
            @include rule(margin-bottom, (xxl: 51, xl: 50, lg: 36, md: 37));

            // @include screen('xl') {
            //   margin-bottom: 50px;
            // }

            // @include screen('lg') {
            //   margin-bottom: 36px;
            // }

            // @include screen('md') {
            //   margin-bottom: 37px;
            // }
          }
        }
      }
    }

    &__list {
      // padding-top: 19px;

      @include rule(padding-top, (xxl: 19, xl: 19, lg: 2, md: 2));

      // @include screen('lg') {
      //   padding-top: 2px;
      // }
    }

    #{$b} {
      &__col {
        display: block;

        &_left {
          flex: 1;

          @include screen('md') {
            flex: none;
            width: 100%;
          }
        }

        &_right {
          width: 36.7%;

          @include screen('xl') {
            width: 45.6%;
          }

          @include screen('md') {
            width: 100%;
          }
        }
      }
    }
  }

  &-site {
    position: relative;
    display: block;
    width: 100%;
    background-image: linear-gradient(-47deg, $color-dark-pink 0%, $color-violet-3 100%);
    padding-top: 45.9%;
    padding-bottom: 23%;
    margin-top: -31.3%;
    z-index: 1;

    @include screen('xl') {
      padding-top: 48.1%;
      margin-top: -27.8%;
      padding-bottom: 21%;
    }

    @include screen('lg') {
      margin-top: -29%;
      padding-bottom: 1%;
    }

    @include screen('md') {
      margin-top: 9.8%;
      padding-top: 98.8%;
      padding-bottom: 0;
    }

    &::before {
      @include pseudo;

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(40, 24, 93, .77);
    }

    &::after {
      @include pseudo;

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: url('../images/venezia/bg-second.png');
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0 48.1%;
      opacity: .08;

      @include screen('xl') {
        background-image: url('../images/venezia/bg-second-2.png');
        background-size: 100% auto;
        background-position: 0 61.1%;
      }

      @include screen('lg') {
        background-image: url('../images/venezia/bg-second.png');
        background-size: 213% auto;
        background-position: 38% 80.5%;
      }
    }

    &__bg {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      overflow: hidden;
      background-image: url('../images/venezia/print.png');
      background-size: 66.25% auto;
      background-position: -59% 10.36458vw;
      background-repeat: no-repeat;

      @include screen('xl') {
        background-size: 93.1% auto;
        background-position: -694% -1.0249vw;
      }

      @include screen('lg') {
        background-position: -694% -1.3672vw;
      }

      @include screen('md') {
        background-size: 198.75% auto;
        background-position: 66.8% 6.875vw;
      }

      &::before,&::after {
        @include pseudo;

        right: 0;
        width: 100%;
        padding-top: 100%;
        transform-origin: 100% 50%;
        background-color: $color-violet;
      }

      &::before {
        top: 0;
        transform: skewY(45deg);
      }

      &::after {
        bottom: 0;
        transform: skewY(-45deg);
      }
    }
  }

  &-applique {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    z-index: 3;

    &__mac {
      position: relative;
      display: block;
      width: 69.375%;

      @include screen('xl') {
        width: 97.5%;
      }

      @include screen('md') {
        width: 208.1%;
      }

      &_first {
        margin-left: -10%;

        @include screen('xl') {
          margin-left: -34.5%;
        }

        @include screen('md') {
          margin-left: -68.2%;
          margin-right: -39.6%;
        }

        &::before,&::after {
          @include pseudo;
        }

        &::before {
          right: calc(-5.8vw - ((72 / 1920) * 100vw));
          // top: 102px;
          // width: 122px;
          // height: 130px;
          background-image: url('../images/venezia/purple-box-small.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 0 0;

          @include rule(top, (xxl: 102, xl: 102, lg: 71));
          @include rule(width, (xxl: 122, xl: 122, lg: 101, md: 103));
          @include rule(height, (xxl: 130, xl: 130, lg: 107, md: 105));

          @include screen('xl') {
            right: calc(-8.2vw - ((72 / 1366) * 100vw));
          }

          @include screen('lg') {
            // top: 71px;
            // width: 101px;
            // height: 107px;
            right: calc(-8.2vw - ((59 / 1024) * 100vw));
          }

          @include screen('md') {
            // width: 103px;
            // height: 105px;
            bottom: 100%;
            top: auto;
            margin-bottom: calc((171/320) * 100vw);
            right: 17%;
          }
        }

        &::after {
          // top: 260px;
          right: -5.8vw;
          // width: 1px;
          // height: 330px;
          background-color: $color-pink-3;

          @include rule(top, (xxl: 260, xl: 260, lg: 194, md: 194));
          @include rule(width, (xxl: 1, xl: 1, lg: 1, md: 1));
          @include rule(height, (xxl: 330, xl: 330, lg: 248, md: 248));

          @include screen('xl') {
            right: -8.2vw;
          }

          @include screen('lg') {
            // top: 194px;
            // width: 2px;
            right: -8.2vw;
            // height: 248px;
          }

          @include screen('md') {
            display: none;
          }
        }
      }

      &_second {
        position: absolute;
        top: 0;
        left: 70.8%;

        @include screen('xl') {
          left: 79.1%;
        }

        @include screen('md') {
          position: relative;
          top: auto;
          left: auto;
          margin-left: calc((25 / 320) * 100vw);
          margin-right: calc(-108.1% - ((25 / 320) * 100vw));
          margin-top: calc((52 / 320) * 100vw);
          order: 2;
        }
      }
    }

    &__image {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 100%;
    }

    &__screen {
      display: block;
      position: absolute;
      width: 45.8%;
      top: -38%;
      right: 18.4%;
      z-index: 1;

      @include screen('xl') {
        width: 45.7%;
        top: -37.8%;
        right: 11.9%;
      }

      @include screen('md') {
        width: 45.8%;
        right: 18%;
      }

      &-img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        font-size: 0;
        line-height: 0;
        z-index: 2;
      }
    }

    &__nav {
      display: block;
      position: absolute;
      width: 40.4%;
      top: 5.1%;
      right: 23.3%;
      z-index: 2;

      @include screen('xl') {
        top: 5.3%;
        right: 16.8%;
      }

      @include screen('md') {
        right: 22.9%;
      }

      &-img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        font-size: 0;
        line-height: 0;
        z-index: 2;
      }
    }

    &__describe {
      display: block;
      width: 100%;
      order: 2;
      margin-top: -4%;

      @include screen('xl') {
        margin-top: -5.2%;
      }

      @include screen('lg') {
        margin-top: -5.7%;
      }

      @include screen('md') {
        margin-top: 41%;
      }
    }

    &__section {
      // max-width: 460px;
      @include rule(margin-bottom, (xxl: 460, xl: 460, lg: 460));

      @include screen('md') {
        max-width: none;
      }
    }

    #{$b} {
      &__col {
        display: block;

        &_left {
          flex: 1;

          @include screen('md') {
            flex: none;
            width: 100%;
          }
        }

        &_right {
          width: 53.25%;

          @include screen('xl') {
            width: 38.5%;
          }

          @include screen('lg') {
            width: 38.8%;
          }

          @include screen('md') {
            width: 100%;
          }
        }
      }
    }
  }

  &-about {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
    padding-top: 17%;

    @include screen('xl') {
      padding-top: 6.8%;
    }

    @include screen('lg') {
      padding-top: 5.5%;
    }

    @include screen('md') {
      padding-top: 0;
      margin-top: -55%;
    }

    &__section {
      position: relative;
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding-left: 22.8%;
      padding-top: 40.1%;
      padding-right: 8%;

      @include screen('xl') {
        padding-left: 0;
        padding-top: 45.5%;
      }

      @include screen('md') {
        padding-top: 0;
        padding-right: 0;
      }

      &::after {
        @include pseudo;

        top: calc(100% + 5.1vw);
        left: 23.3%;
        // width: 1px;
        // height: 90px;
        background-color: $color-pink-3;

        @include rule(width, (xxl: 1, xl: 1, lg: 2, md: 1));
        @include rule(height, (xxl: 90, xl: 90, lg: 68, md: 57));

        @include screen('xl') {
          top: calc(100% + 5vw);
          left: 0;
        }

        @include screen('lg') {
          top: calc(100% + 4vw);
          // width: 2px;
          // height: 68px;
        }

        @include screen('md') {
          top: calc(100% + ((44 / 320) * 100vw));
          // width: 1px;
          // height: 57px;
        }
      }

      .case-section {
        &__heading {
          &:not(:last-child) {
            // margin-bottom: 59px;
            @include rule(margin-bottom, (xxl: 59, xl: 60, lg: 42, md: 38));

            // @include screen('xl') {
            //   margin-bottom: 60px;
            // }

            // @include screen('lg') {
            //   margin-bottom: 42px;
            // }

            // @include screen('md') {
            //   margin-bottom: 38px;
            // }
          }
        }
      }
    }

    &__plan {
      position: relative;
      width: 100%;
      padding-top: 87.6%;
      opacity: .8;

      @include screen('xl') {
        padding-top: 125.1%;
      }

      @include screen('md') {
        padding-top: 145.9%;
        margin-left: calc((67 / 320) * 100vw);
      }

      &-image {
        position: absolute;
        display: block;
        font-size: 0;
        line-height: 0;
        top: 0;
        left: 0;
        height: 100%;
      }
    }

    #{$b} {
      &__col {
        display: block;
        box-sizing: border-box;

        &_left {
          width: 44%;

          @include screen('xl') {
            width: 46%;
          }

          @include screen('md') {
            width: 100%;
            order: 2;
          }
        }

        &_right {
          width: 56%;

          @include screen('xl') {
            width: 54%;
          }

          @include screen('md') {
            width: 100%;
          }
        }
      }
    }
  }

  &-book {
    position: relative;
    display: block;
    width: 100%;
    z-index: 2;
    margin-top: -11.6%;

    @include screen('xl') {
      margin-top: -26%;
    }

    @include screen('lg') {
      margin-top: -29.5%;
    }

    @include screen('md') {
      margin-top: calc((76 / 320) * 100vw);
    }

    &__media {
      display: block;
      width: 82.3%;
      margin-left: auto;
      margin-right: auto;

      @include screen('xl') {
        width: 92.6%;
      }

      @include screen('md') {
        position: relative;
        padding-top: 100%;
        width: 246%;
        margin-left: -83.6%;
        margin-right: -62.4%;
      }
    }

    &__image {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 100%;
      height: auto;
      transform: translate3d(3.8%, 0, 0);

      @include screen('xl') {
        transform: translate3d(3.2%, 0, 0);
      }

      @include screen('md') {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &-catalog {
    position: relative;
    display: block;
    width: 100%;
    margin-top: -15.5%;
    z-index: 2;

    @include screen('xl') {
      margin-top: -14.3%;
    }

    @include screen('lg') {
      margin-top: 0;
      padding-top: 9.2%;
    }

    @include screen('md') {
      padding-top: 94.2%;
    }

    &__list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-content: flex-start;
      width: calc(100% + ((9 / 1920) * 100vw));
      margin-left: -9px;

      @include screen('xl') {
        width: 105.2%;
        margin-left: -3.6%;
        margin-right: -1.6%;
      }

      @include screen('md') {
        width: 116.8%;
        margin-left: -10.3%;
        margin-right: -6.7%;
      }
    }

    &__item {
      display: inline-block;
      width: 47.4%;
      // margin-bottom: 150px;
      @include rule(margin-bottom, (xxl: 150, xl: 120, lg: 84, md: 79));

      @include screen('xl') {
        width: 48%;
        // margin-bottom: 120px;
      }

      // @include screen('lg') {
      //   // margin-bottom: 84px;
      // }

      @include screen('md') {
        width: 100%;
        // margin-bottom: 79px;
      }

      &:nth-child(odd) {
        margin-right: 4%;

        @include screen('xl') {
          margin-right: 4%;
        }

        @include screen('md') {
          margin-right: 0;
        }
      }
    }
  }

  &-magazine {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;

    &__image {
      display: block;
      width: 100%;
      font-size: 0;
      line-height: 0;
      height: auto;
    }

    &__name {
      display: block;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      // font-size: 16px;
      font-weight: 100;
      line-height: 1.38;
      margin-top: -18.8%;
      padding-left: 3%;

      @include rule(font-size, (xxl: 16, xl: 16, lg: 18, md: 15));

      @include screen('xl') {
        margin-top: -13.6%;
      }

      @include screen('lg') {
        // font-size: 18px;
        line-height: 1.2;
        margin-top: -14.4%;
      }

      @include screen('md') {
        // font-size: 15px;
        padding-left: calc((25 / 320) * 100vw);
        padding-right: calc((18 / 320) * 100vw);
        margin-top: -16.4%;
      }
    }

    &__text {
      display: inline-block;
      // max-width: 400px;
      @include rule(max-width, (xxl: 400, xl: 400, lg: 400));

      @include screen('md') {
        max-width: 89%;
      }
    }
  }

  &-package {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 6.1%;
    // padding-bottom: 190px;
    @include rule(padding-bottom, (xxl: 190, xl: 190, lg: 142, md: 93));

    @include screen('xl') {
      padding-top: 8.6%;
    }

    @include screen('lg') {
      padding-top: 9.2%;
      // padding-bottom: 142px;
    }

    @include screen('md') {
      padding-top: 9%;
      // padding-bottom: 93px;
    }

    &::before {
      @include screen('md') {
        @include pseudo;

        top: 1.5%;
        right: 9%;
        width: calc((61 / 320) * 100vw);
        height: calc((65 / 320) * 100vw);
        background-image: url('../images/venezia/purple-box-small.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
      }
    }

    &::after {
      @include pseudo;

      top: 30.2%;
      // right: -160px;
      // width: 277px;
      // height: 277px;
      background-image: url('../images/venezia/purple-box.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 0;

      @include rule(right, (xxl: -160, xl: -114, lg: -114, md: -84));
      @include rule(width, (xxl: 277, xl: 198, lg: 198, md: 139));
      @include rule(height, (xxl: 277, xl: 204, lg: 204, md: 139));

      @include screen('xl') {
        // width: 198px;
        // height: 204px;
        top: 8.4%;
        // right: -114px;
      }

      @include screen('md') {
        // width: 139px;
        // height: 139px;
        top: 15%;
        // right: -84px;
      }
    }

    &__section {
      position: relative;
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding-left: 22.8%;
      padding-top: 38.2%;
      padding-right: 8%;

      @include screen('xl') {
        padding-top: 65.7%;
        padding-left: 0;
      }

      @include screen('md') {
        padding-top: 0;
      }

      &::after {
        @include screen('md') {
          @include pseudo;

          left: 0;
          width: calc((1 / 320) * 100vw);
          background-color: $color-pink-3;
          top: calc(100% + ((44 / 320) * 100vw));
          height: calc((57 / 320) * 100vw);
        }
      }

      .case-section {
        &__heading {
          position: relative;
          display: block;
          padding-right: 4vw;
          box-sizing: border-box;

          &::after {
            @include pseudo;

            top: 50%;
            left: 100%;
            // width: 191px;
            // height: 1px;
            background-color: $color-pink-3;
            margin-left: -3.4vw;

            @include rule(margin-top, (xl: 3, lg: 3, md: 3));
            @include rule(width, (xxl: 191, xl: 191, lg: 144, md: 144));
            @include rule(height, (xxl: 1, xl: 1, lg: 2, md: 2));

            @include screen('xl') {
              // margin-top: 3px;
              margin-left: -9.5vw;
            }

            // @include screen('lg') {
            //   // width: 144px;
            //   // height: 2px;
            // }

            @include screen('md') {
              display: none;
            }
          }

          &:not(:last-child) {
            // margin-bottom: 72px;
            @include rule(margin-bottom, (xxl: 72, xl: 72, lg: 52, md: 38));

            // @include screen('lg') {
            //   margin-bottom: 52px;
            // }

            // @include screen('md') {
            //   margin-bottom: 38px;
            // }
          }
        }
      }
    }

    &__media {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 111.5%;
      margin-left: -3%;

      @include screen('xl') {
        padding-top: 142.8%;
        margin-left: -6.8%;
      }

      @include screen('md') {
        padding-top: 185%;
        margin-left: -40%;
      }
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: auto;
      height: 100%;

      &_front {
        z-index: 3;
      }

      &_middle {
        z-index: 2;
        transition: transform .4s ease;
        transition-delay: .2s;
        transform: translate3d(0, 25%, 0);

        &.is-animate {
          transform: translate3d(0, 0, 0);
        }
      }

      &_back {
        z-index: 1;
      }
    }

    #{$b} {
      &__col {
        display: block;
        box-sizing: border-box;

        &_left {
          width: 44%;

          @include screen('xl') {
            width: 46%;
          }

          @include screen('md') {
            width: 100%;
          }
        }

        &_right {
          position: relative;
          width: 56%;

          @include screen('xl') {
            width: 54%;
          }

          @include screen('md') {
            width: 100%;
            margin-top: 68px;
          }

          &::before {
            @include pseudo;

            top: 10.8%;
            left: 3.8%;
            // width: 122px;
            // height: 130px;
            background-image: url('../images/venezia/purple-box-small.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0 0;

            @include rule(width, (xxl: 122, xl: 122, lg: 122, md: 122));
            @include rule(height, (xxl: 130, xl: 130, lg: 130, md: 130));

            @include screen('xl') {
              top: 20.8%;
              left: 3%;
            }

            @include screen('md') {
              display: none;
            }
          }
        }
      }
    }
  }
}
