mixin 5el-collage()
  +b.el5-collage&attributes(attributes)
    +e.IMG.bg.js-sr_21(src="assets/images/5element/red-bg.jpg")
    +e.mascot.js-sr_2
      +e.IMG.image(src="assets/images/5element/mascot.png")
    block
