.cdc-video {
  position: relative;
  display: block;
  width: 100%;
  $b: &;

  &__media {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 56.25%;

    #{$b}_tablet & {
      padding-top: 52%;
    }

    #{$b}_detail & {
      padding-top: 58.63%;
    }

    #{$b}_design & {
      padding-top: 48.4%;
    }
  }

  &__video {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include screen('md') {
      cursor: pointer;
    }
  }

  &__border {
    display: block;
    position: absolute;
    width: 101.8%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    // box-shadow: -25px 37px 54px rgba(0, 0, 0, .35);
    box-shadow: -1.3vw 1.9vw 2.8vw rgba(0, 0, 0, .35);
    border-radius: 2.2% / 3.8%;
    pointer-events: none;

    @include screen('xl') {
      box-shadow: -1.8vw 2.7vw 3.9vw rgba(0, 0, 0, .35);
    }

    @include screen('lg') {
      box-shadow: -2.5vw 3.7vw 5.4vw rgba(0, 0, 0, .35);
    }

    @include screen('md') {
      box-shadow: -3.9vw 5.8vw 8.4vw rgba(0, 0, 0, .35);
    }
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__preloader {
    position: absolute;
    display: block;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity $ease-main;

    &::before {
      @include pseudo;
      @include rule(width, (xxl: 50, xl: 50, lg: 50, md: 30));
      @include rule(height, (xxl: 50, xl: 50, lg: 50, md: 30));
      @include rule(border-width, (xxl: 4, xl: 4, lg: 4, md: 2));

      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      border-style: solid;
      border-color: $color-cdc-ironstone;
      border-top-color: transparent;
      border-bottom-color: transparent;
      box-sizing: border-box;
      border-radius: 50%;
      z-index: 1;
    }

    .is-loading & {
      opacity: 1;

      &::before {
        animation: preloadRotation 1s linear infinite;
      }
    }

    .is-loaded & {
      opacity: 0;
    }
  }

  &__play {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 2;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;

    @include rule(width, (xxl: 50, xl: 50, lg: 50, md: 30));
    @include rule(height, (xxl: 50, xl: 50, lg: 50, md: 30));

    @include screen('md') {
      opacity: 1;
    }

    &::before {
      top: 0;
      left: 0;
      border-color: transparent;
      border-left-color: $color-cdc-ironstone;
      border-style: solid;
      border-radius: 2px;

      @include pseudo;
      @include rule(border-bottom-width, (xxl: 25, xl: 25, lg: 25, md: 15));
      @include rule(border-top-width, (xxl: 25, xl: 25, lg: 25, md: 15));
      @include rule(border-left-width, (xxl: 50, xl: 50, lg: 50, md: 30));
      @include rule(border-right-width, (xxl: 50, xl: 50, lg: 50, md: 30));

      #{$b}__video.is-play ~ & {
        opacity: 0;
      }
    }
  }
}
