mixin header-navigation(activeIndex)
  - var items = [{link: 'about.html', name: 'about'}, {link: 'services.html', name: 'services'}, {link: 'cases.html', name: 'cases'}, {link: 'contacts.html', name: 'contacts'}];
  +b.header-navigation&attributes(attributes)
    +e.UL.list
      - for (var i = 0, l = items.length; i < l; i++ ) {
        - if (i === activeIndex) {
          +e.LI.item
            +link()(href=items[i].link).__link.is-active!= items[i].name
        - } else {
          +e.LI.item
            +link()(href=items[i].link).__link!= items[i].name
        - }
      - }
    +e.mail
      +link(href="mailto:ask@bsagency.design") ask@BSAGENCY.DESIGN
    block
