mixin header-navigation(activeIndex)
  - var items = [{link: '/about.html', name: 'О КОМПАНИИ'}, {link: '/services.html', name: 'УСЛУГИ'}, {link: '/cases.html', name: 'КЕЙСЫ'}, {link: '/contacts.html', name: 'КОНТАКТЫ'}];
  +b.header-navigation&attributes(attributes)
    +e.UL.list
    +e.mail
    block
