include _externalIncludes
include _internalIncludes

doctype html
html(lang='ru')
  include head
  body.is-dark
    block header
    - var hdCls = headerClass || ''

    +header(headerData)(class=hdCls)
      block headerAnchors
    block content
    +svg-gradients
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
