include _externalIncludes
include _internalIncludes

doctype html
html(lang='ru')
  include head
  body
    block header
    - var hdCls = headerClass || ''
    - var isMain = headerMain || false

    if isMain
      +header-main(headerData)(class=hdCls)
        block headerAnchors
    else
      +header(headerData)(class=hdCls)
        block headerAnchors
    block content
    +svg-gradients
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
