.media {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 44.5%;
  overflow: hidden;
  $b: &;

  @include screen('md') {
    padding-top: 56.25%;
  }

  &__title {
    position: absolute;
    display: block;
    top: 38.8%;
    left: 9%;
    z-index: 2;
    font-size: $fz-title;
    letter-spacing: -$ls-main;
    color: currentColor;
    line-height: .8;
    font-weight: 700;

    @include screen('xl') {
      font-size: 52px;
    }

    @include screen('lg') {
      font-size: 32px;
    }

    @include screen('md') {
      font-size: 18px;
    }
  }

  &__image {
    @include fill-img;

    font-size: 0;
    line-height: 0;
    display: block;
    z-index: 1;
  }

  &__video {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
