extends ../../layouts/default

block head
  - var pageTitle = 'Dezi | Услуги'

block header
  - var headerData = getData('headerServices.json')

block headerAnchors
  +anchors([{anchor: '#design', name: 'ГРАФДИЗАЙН', section: 'design', active: "is-active"}, {anchor: '#webdesign', name: 'веб-дизайн', section: 'webdesign'}, {anchor: '#uiapp', name: 'интерфейсы', section: 'uiapp'}, {anchor: '#services', name: 'услуги', section: 'services'}]).__anchors

block content
  +section()._switcher
    .container.container_services
      +page-switcher.js-sr_11
  +page-content()(data-boot-area)
    +section()(data-section="design")._gdesign._mb281
      +section-block._mb72
        .container.container_services
          +text-block._services
            +text-block-title._big._bg.js-sr_1
              +e.title-text Графический дизайн
              +e.title-bg
            +text-block-content
              +e.text_mb88.js-sr_2 Более 12 лет мы разрабатываем фирменные стили, рисуем красивые и запоминающиеся логотипы, помогаем компаниям создавать новый образ, или сопровождаем их в процессе ребрендинга, бережно сохраняя преемственность в получившемся результате.
              +e.links.js-sr_3
                +link-round('arrow-long')(href="#feedback")._arrow.__link.js-popup начать новый проект
      +projects-line
      +section-block
        .container.container_services
          +text-block._services
            +text-block-subtitle._mb100.js-sr_1 С ЧЕМ К НАМ ОБРАЩАТЬСЯ?
            +text-block-content._grid
              +e.col_desc
                +e.text_big._mb80.js-sr_2 Разработка логотипов, фирменных стилей, дизайн выставочных стендов, буклетов, упаковок и любой другой печатной продукции. Оформление графики в интерьерах, навигация внутри и снаружи зданий и все, что связано с графическим образом вашего бизнеса.
              +e.col_stretch.hide-md
                +e.links_mt-8.js-sr_3
                  +link-round('arrow-long')(href="#feedback")._arrow.__link.js-popup ЗАПОЛНИТЬ БРИФ

    +section()(data-section="webdesign")._wdesign._mb90
      .container.container_services
        +text-block._services._services_short
          +text-block-title._big._mb80.js-sr_1 Веб-дизайн и разработка
          +text-block-content
            +e.text_mb55.js-sr_2 Более 10 лет, мы развиваемся как студия, которая трепетно относится к образу компании в интернете. Мы прокачали запредельный скилл в веб-дизайне и готовы создавать как презентационные-имиджевые проекты, так и сложные интерфейсные решения, в которых логика и пользовательский опыт это результат сложной и комплексной работы массы специалистов.
            +e.links.js-sr_3
              +link-round('arrow-long')(href="#feedback")._arrow.__link.js-popup начать новый проект
      +phone-collage.__phones
    +section()(data-section="uiapp")._ui._mb230
      .container.container_services.container_services_sp
        +text-block._services
          +text-block-title._big._watch
            +e.title-text
              +e.SPAN.word_lg-white Интерфейсы
              +e.SPAN.word приложения
            +watch.__watch
          +text-block-content._grid
            +e.col_stretch
            +e.col_ui
              +e.text_mb70.js-sr_2
                p Интерфейсы программ и приложений отличаются неповторимой спецификой и при схожих с веб-дизайном принципах построения логики, несут в себе неповторимую специфику.
                p Мы предлагаем разработку приложений для iOS и Android а также создание дизайна интерфейсов везде где необходимы наши навыки.
              +e.links_ml-12.hide-md.js-sr_3
                +link-round('arrow-long')(href="#feedback")._arrow.__link.js-popup ПОЛУЧИТЬ СМЕТУ
    +section()(data-section="services")._services._mb236
      .container.container_services
        +text-block._features
          +text-block-content
            +grid.grid_12.grid_gap100
              each item in getData('services.json')
                +col({xxl: 4, xl: 6, lg: 12})
                  +text-block()._feature
                    +collage(item.bg, item.icon)(class=item.class + ' __collage js-sr js-sr_77')
                    +text-block-subtitle.js-sr_2!=item.title
                    +text-block-content.js-sr_3
                      +e.text!=item.text
  +section()._request._request_sv
    .container.container_services
      +request-form('Хотите классный проект?').__request
        +button('button')(type="submit")._gradient.__button НАЧАТЬ НОВЫЙ ПРОЕКТ
