.lavkin-design {
  display: block;
  width: 100%;
  box-sizing: border-box;
  $b: &;

  &__heading {
    position: relative;
    z-index: 2;
    width: 100%;

    @include display-grid;
    @include grid-template-columns(47% 53%);
    @include grid-template-rows(auto);

    @include screen('xl') {
      @include grid-template-columns(45% 55%);
    }

    @include screen('md') {
      width: 102%;
      margin-left: 0;
      margin-right: -2%;

      @include grid-template-columns(100%);
      @include grid-template-rows(auto auto);
    }

    &:not(:last-child) {
      @include rule(margin-bottom, (xxl: 530, xl: 470, lg: 344, md2: 91));
    }
  }

  &__column {
    display: block;
    box-sizing: border-box;

    @include grid-column(2, 3);
    @include grid-row(1, 2);
    @include rule(padding-left, (xxl: 30, xl: 20, lg: 20, md2: 0));

    @include screen('md') {
      @include grid-column(1, 2);
      @include grid-row(2, 3);
    }
  }

  &__text,&__title {
    @include rule(max-width, (xxl: 561, xl: 561, lg: 561));

    @include screen('md') {
      max-width: none;
    }
  }

  &__promo {

    &:not(:last-child) {
      @include rule(margin-bottom, (xxl: 135, xl: 159, lg: 116, md2: 63));
    }
  }

  &__describe {
    display: block;
    width: 100%;

    @include rule(max-width, (xxl: 1046, xl: 1046));

    @include screen('lg') {
      max-width: none;
    }

    &:not(:last-child) {
      @include rule(margin-bottom, (xxl: 170, xl: 108, lg: 108, md2: 42));
    }
  }

  &__collage {
    position: relative;
    display: block;
    left: 50%;
    transform: translate3d(-50%, 0, 0);

    @include rule(width, (xxl: 1924, xl: 1366, md2: 484));

    @include screen('md') {
      transform: translate3d(-45%, 0, 0);
    }

    &:not(:last-child) {
      @include rule(margin-bottom, (xxl: 80, xl: 66, lg: 66, md2: 40));
    }
  }

  &__subheading {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 31.2%;

    &:not(:last-child) {
      @include rule(margin-bottom, (xxl: 103, xl: 103, lg: 103, md2: 60));
    }

    &-text {
      @include rule(max-width, (xxl: 780, xl: 780));

      @include screen('lg') {
        max-width: none;
      }
    }
  }

  &__gallery {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    @include rule(margin-top, (xxl: -100, xl: -40, lg: -40, md2: -40));
  }

  &__image {
    position: relative;
    display: block;
    z-index: 2;
    width: 100%;
    flex: none;

    @include rule(margin-top, (xxl: 100, xl: 40, lg: 40, md2: 40));

    &_half {
      width: 46.8%;

      @include screen('xl') {
        width: 48.1%;
      }

      @include screen('md') {
        width: 100%;
      }
    }
  }

  &__onelove {
    @include rule(margin-top, (xxl: 66, xl: 66, lg: 66, md2: 40));
  }
}
