@keyframes lvkLogoL4070 {

  from {
    stroke-dasharray: 0 4070;
  }

  to {
    stroke-dasharray: 4070 4070;
  }
}

@keyframes lvkLogoL1640 {

  from {
    stroke-dasharray: 0 1640;
  }

  to {
    stroke-dasharray: 1640 1640;
  }
}

@keyframes lvkLogoL1850 {

  from {
    stroke-dasharray: 0 1850;
  }

  to {
    stroke-dasharray: 1850 1850;
  }
}

@keyframes lvkLogoLFade {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.lavkin-logo-layout {
  $b: &;

  &.js-sr {
    visibility: visible;
  }

  &__base {
    animation-duration: .3s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    #{$b}.js-sr & {
      opacity: 0;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoLFade;
    }
  }

  &__circle-c {
    animation-duration: .3s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    #{$b}.js-sr & {
      stroke-dasharray: 0 4070;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoL4070;
    }
  }

  &__circle-l1 {
    animation-duration: .3s;
    animation-delay: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    #{$b}.js-sr & {
      stroke-dasharray: 0 4070;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoL4070;
    }
  }

  &__circle-l2 {
    animation-duration: .3s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    #{$b}.js-sr & {
      stroke-dasharray: 0 4070;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoL4070;
    }
  }

  &__circle-r1 {
    animation-duration: .3s;
    animation-delay: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    #{$b}.js-sr & {
      stroke-dasharray: 0 4070;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoL4070;
    }
  }

  &__circle-r2 {
    animation-duration: .3s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    #{$b}.js-sr & {
      stroke-dasharray: 0 4070;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoL4070;
    }
  }

  &__line-v1 {
    animation-duration: .3s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    #{$b}.js-sr & {
      stroke-dasharray: 0 1640;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoL1640;
    }
  }

  &__line-v2 {
    animation-duration: .3s;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    #{$b}.js-sr & {
      stroke-dasharray: 0 1640;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoL1640;
    }
  }

  &__line-v3 {
    animation-duration: .3s;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    #{$b}.js-sr & {
      stroke-dasharray: 0 1640;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoL1640;
    }
  }

  &__line-s {
    animation-duration: .3s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    #{$b}.js-sr & {
      stroke-dasharray: 0 1640;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoL1640;
    }
  }

  &__line-h1 {
    animation-duration: .3s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    #{$b}.js-sr & {
      stroke-dasharray: 0 1850;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoL1850;
    }
  }

  &__line-h2 {
    animation-duration: .3s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    #{$b}.js-sr & {
      stroke-dasharray: 0 1850;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoL1850;
    }
  }
}
