@keyframes lvkLogoL4070-1 {

  0% {
    stroke-dasharray: 0 4070;
  }

  5% {
    stroke-dasharray: 0 4070;
  }

  35% {
    stroke-dasharray: 4070 4070;
  }

  100% {
    stroke-dasharray: 4070 4070;
  }
}

@keyframes lvkLogoL4070-2 {

  0% {
    stroke-dasharray: 0 4070;
  }

  10% {
    stroke-dasharray: 0 4070;
  }

  40% {
    stroke-dasharray: 4070 4070;
  }

  100% {
    stroke-dasharray: 4070 4070;
  }
}

@keyframes lvkLogoL4070-3 {

  0% {
    stroke-dasharray: 0 4070;
  }

  25% {
    stroke-dasharray: 0 4070;
  }

  55% {
    stroke-dasharray: 4070 4070;
  }

  100% {
    stroke-dasharray: 4070 4070;
  }
}

@keyframes lvkLogoL1640-1 {

  0% {
    stroke-dasharray: 0 1640;
  }

  70% {
    stroke-dasharray: 0 1640;
  }

  85% {
    stroke-dasharray: 1640 1640;
  }

  100% {
    stroke-dasharray: 1640 1640;
  }
}

@keyframes lvkLogoL1640-2 {

  0% {
    stroke-dasharray: 0 1640;
  }

  85% {
    stroke-dasharray: 0 1640;
  }

  100% {
    stroke-dasharray: 1640 1640;
  }
}

@keyframes lvkLogoL1850 {

  0% {
    stroke-dasharray: 0 1850;
  }

  70% {
    stroke-dasharray: 0 1850;
  }

  85% {
    stroke-dasharray: 1850 1850;
  }

  100% {
    stroke-dasharray: 1850 1850;
  }
}

@keyframes lvkLogoLFade {

  0% {
    opacity: 0;
  }

  55% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.lavkin-logo-layout {
  $b: &;

  &.js-sr {
    visibility: visible;
  }

  &__base {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: lvkLogoLFade;

    #{$b}.js-sr & {
      animation-play-state: paused;
    }

    #{$b}.is-animate & {
      animation-play-state: running;
    }
  }

  &__circle-c {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: lvkLogoL4070-1;

    #{$b}.js-sr & {
      animation-play-state: paused;
    }

    #{$b}.is-animate & {
      animation-play-state: running;
    }
  }

  &__circle-l1 {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: lvkLogoL4070-2;

    #{$b}.js-sr & {
      animation-play-state: paused;
    }

    #{$b}.is-animate & {
      animation-play-state: running;
    }
  }

  &__circle-l2 {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: lvkLogoL4070-3;

    #{$b}.js-sr & {
      animation-play-state: paused;
    }

    #{$b}.is-animate & {
      animation-play-state: running;
    }
  }

  &__circle-r1 {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: lvkLogoL4070-2;

    #{$b}.js-sr & {
      animation-play-state: paused;
    }

    #{$b}.is-animate & {
      animation-play-state: running;
    }
  }

  &__circle-r2 {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: lvkLogoL4070-3;

    #{$b}.js-sr & {
      animation-play-state: paused;
    }

    #{$b}.is-animate & {
      animation-play-state: running;
    }
  }

  &__line-v1 {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: lvkLogoL1640-1;

    #{$b}.js-sr & {
      animation-play-state: paused;
    }

    #{$b}.is-animate & {
      animation-play-state: running;
    }
  }

  &__line-v2 {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: lvkLogoL1640-2;

    #{$b}.js-sr & {
      animation-play-state: paused;
    }

    #{$b}.is-animate & {
      animation-play-state: running;
    }
  }

  &__line-v3 {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: lvkLogoL1640-2;

    #{$b}.js-sr & {
      animation-play-state: paused;
    }

    #{$b}.is-animate & {
      animation-play-state: running;
    }
  }

  &__line-s {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: lvkLogoL1640-1;

    #{$b}.js-sr & {
      animation-play-state: paused;
    }

    #{$b}.is-animate & {
      animation-play-state: running;
    }
  }

  &__line-h1 {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: lvkLogoL1850;

    #{$b}.js-sr & {
      animation-play-state: paused;
    }

    #{$b}.is-animate & {
      animation-play-state: running;
    }
  }

  &__line-h2 {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: lvkLogoL1850;

    #{$b}.js-sr & {
      animation-play-state: paused;
    }

    #{$b}.is-animate & {
      animation-play-state: running;
    }
  }
}
