@keyframes lvkLogoCOut {

  from {
    stroke-dasharray: 0 354;
  }

  to {
    stroke-dasharray: 354 354;
  }
}

@keyframes lvkLogoCIn {

  from {
    stroke-dasharray: 0 330;
  }

  to {
    stroke-dasharray: 330 330;
  }
}

@keyframes lvkLogoHat {

  from {
    stroke-dasharray: 0 360;
  }

  to {
    stroke-dasharray: 360 360;
  }
}

@keyframes lvkLogo30 {

  from {
    stroke-dasharray: 0 30;
  }

  to {
    stroke-dasharray: 30 30;
  }
}

@keyframes lvkLogo5 {

  from {
    stroke-dasharray: 0 5;
  }

  to {
    stroke-dasharray: 5 5;
  }
}

@keyframes lvkLogo10 {

  from {
    stroke-dasharray: 0 10;
  }

  to {
    stroke-dasharray: 10 10;
  }
}

@keyframes lvkLogo13 {

  from {
    stroke-dasharray: 0 13;
  }

  to {
    stroke-dasharray: 13 13;
  }
}

@keyframes lvkLogo16 {

  from {
    stroke-dasharray: 0 16;
  }

  to {
    stroke-dasharray: 16 16;
  }
}

@keyframes lvkLogo20 {

  from {
    stroke-dasharray: 0 20;
  }

  to {
    stroke-dasharray: 20 20;
  }
}

@keyframes lvkLogo23 {

  from {
    stroke-dasharray: 0 23;
  }

  to {
    stroke-dasharray: 23 23;
  }
}

@keyframes lvkLogo26 {

  from {
    stroke-dasharray: 0 26;
  }

  to {
    stroke-dasharray: 26 26;
  }
}

@keyframes lvkLogo32 {

  from {
    stroke-dasharray: 0 32;
  }

  to {
    stroke-dasharray: 32 32;
  }
}

@keyframes lvkLogoSwing {

  0% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes lvkLogoText {

  0% {
    transform: translateY(100%) translateZ(0);
  }

  100% {
    transform: translateY(0) translateZ(0);
  }
}

@keyframes lvkLogoFace {

  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.lavkin-logo {
  $b: &;

  transform-origin: 50% 25% 0;
  animation-duration: .528s;
  animation-delay: .429s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  overflow: hidden;

  &.js-sr {
    transform: rotate(2deg);
  }

  &.is-animate {
    animation-name: lvkLogoSwing;
    visibility: visible;
  }

  &__circle-out-line {
    animation-duration: .693s;
    animation-delay: .363s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 354;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoCOut;
    }
  }

  &__circle-inner {
    animation-duration: .693s;
    animation-delay: .363s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 330;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoCIn;
    }
  }

  &__hat {
    animation-duration: .627s;
    animation-delay: .429s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 360;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoHat;
    }
  }

  &__ear {
    animation-duration: .429s;
    animation-delay: .396s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 30;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo30;
    }
  }

  &__mouth-line {
    animation-duration: .231s;
    animation-delay: 1.155s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 13;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo13;
    }
  }

  &__text {
    transform-origin: 50% 100% 0;
    animation-fill-mode: forwards;
    animation-duration: .627s;
    animation-timing-function: linear;
    animation-delay: 1.386s;

    #{$b}.js-sr & {
      opacity: 0;
      transform: translateY(100%) translateZ(0);
    }

    #{$b}.is-animate & {
      opacity: 1;
      animation-name: lvkLogoText;
    }
  }

  &__face {
    transform-origin: 50% 25% 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: .132s;
    animation-delay: .528s;

    #{$b}.js-sr & {
      transform: scale(0);
    }

    #{$b}.is-animate & {
      animation-name: lvkLogoFace;
    }
  }

  &__left-shoulder-line {
    animation-duration: .231s;
    animation-delay: .792s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 20;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo20;
    }
  }

  &__right-shoulder {
    animation-duration: .259s;
    animation-delay: .83s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 20;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo20;
    }
  }

  &__left-top-hill-1 {
    animation-duration: .231s;
    animation-delay: 1.188s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 5;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo5;
    }
  }

  &__left-top-hill-2 {
    animation-duration: .198s;
    animation-delay: 1.122s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 10;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo10;
    }
  }

  &__left-top-hill-3 {
    animation-duration: .198s;
    animation-delay: 1.056s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 10;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo10;
    }
  }

  &__left-top-hill-4 {
    animation-duration: .155s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 16;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo16;
    }
  }

  &__left-top-hill-5 {
    animation-duration: .066s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 20;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo20;
    }
  }

  &__left-bottom-hill-1 {
    animation-duration: .297s;
    animation-delay: 1.254s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 30;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo30;
    }
  }

  &__left-bottom-hill-2 {
    animation-duration: .363s;
    animation-delay: 1.122s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 30;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo30;
    }
  }

  &__left-bottom-hill-3 {
    animation-duration: .297s;
    animation-delay: 1.089s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 30;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo30;
    }
  }

  &__left-bottom-hill-4 {
    animation-duration: .318s;
    animation-delay: 1.02s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 26;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo26;
    }
  }

  &__left-bottom-hill-5 {
    animation-duration: .231s;
    animation-delay: .924s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 26;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo26;
    }
  }

  &__left-bottom-hill-6 {
    animation-duration: .231s;
    animation-delay: .858s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 26;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo26;
    }
  }

  &__right-top-hill-1 {
    animation-duration: .066s;
    animation-delay: .925s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 5;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo5;
    }
  }

  &__right-top-hill-2 {
    animation-duration: .165s;
    animation-delay: .957s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 13;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo13;
    }
  }

  &__right-top-hill-3 {
    animation-duration: .198s;
    animation-delay: 1.056s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 23;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo23;
    }
  }

  &__right-top-hill-4 {
    animation-duration: .199s;
    animation-delay: 1.287s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 30;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo30;
    }
  }

  &__right-top-hill-5 {
    animation-duration: .24s;
    animation-delay: 1.386s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 32;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo32;
    }
  }

  &__right-top-hill-6 {
    animation-duration: .264s;
    animation-delay: 1.32s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 32;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo32;
    }
  }

  &__right-top-hill-7 {
    animation-duration: .198s;
    animation-delay: 1.485s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 32;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo32;
    }
  }

  &__right-bottom-hill-1 {
    animation-duration: .297s;
    animation-delay: 1.254s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 30;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo30;
    }
  }

  &__right-bottom-hill-2 {
    animation-duration: .33s;
    animation-delay: 1.122s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 30;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo30;
    }
  }

  &__right-bottom-hill-3 {
    animation-duration: .26s;
    animation-delay: 1.06s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 30;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo30;
    }
  }

  &__right-bottom-hill-4 {
    animation-duration: .231s;
    animation-delay: 1.023s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 30;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo30;
    }
  }

  &__right-bottom-hill-5 {
    animation-duration: .165s;
    animation-delay: .924s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    #{$b}.js-sr & {
      stroke-dasharray: 0 20;
    }

    #{$b}.is-animate & {
      animation-name: lvkLogo20;
    }
  }
}
