.lavkin {
  display: block;
  width: 100%;
  background-color: $color-lavkin-bg;
  font-family: $font-site;
  color: $color-basic;
  margin-bottom: -10px;

  $b: &;

  @include rule(padding-bottom, (xxl: 155, xl: 155, lg: 155, md2: 162));
}
