.marker-button {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 180px;
  // height: 180px;
  $b: &;

  @include rule(width, (xxl: 180, xl: 180, lg: 180, md: 111));
  @include rule(height, (xxl: 180, xl: 180, lg: 180, md: 111));

  @include screenOrientation(landscape) {
    width: calc(var(--vh, 1vh) * (11100 / 320));
    height: calc(var(--vh, 1vh) * (11100 / 320));
  }

  // @include screen('md') {
  //   width: 111px;
  //   height: 111px;
  // }

  .is-map-open & {
    pointer-events: none;
  }

  &__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: none;
    stroke: url('#buttons');
    // stroke-width: 2px;
    transition: all .3s ease-in-out;
    pointer-events: none;

    @include rule(stroke-width, (xxl: 2, xl: 2, lg: 2, md: 2));

    #{$b}:hover & {
      transform: scale(1.15) translateZ(0);
      transition-delay: 0;
    }

    .is-map-open & {
      transform: scale(5) translateZ(0);
      opacity: 0;
      transition-duration: .15s;
      transition-delay: 0;
    }

    .is-map-close & {
      transition-delay: .2s;
    }
  }

  &__img {
    display: block;
    // width: 25px;
    // height: 43px;
    transform-origin: 50% 100% 0;

    @include rule(width, (xxl: 25, xl: 25, lg: 25, md: 32));
    @include rule(height, (xxl: 43, xl: 43, lg: 43, md: 56));

    @include screen('md') {
      //   width: 32px;
      //   height: 56px;
      @include screenOrientation(landscape) {
        width: calc(var(--vh, 1vh) * (3200 / 320));
        height: calc(var(--vh, 1vh) * (5600 / 320));
      }
    }

    .is-map-open & {
      animation: iconBigger 1s cubic-bezier(.95, .05, .795, .035) forwards;
    }

    .is-map-close & {
      animation: iconSmaller .6s ease;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: url('#buttons');
  }
}
