mixin marker-button()
  +b.A.marker-button&attributes(attributes)
    +e.SVG.border(xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 174 174")
      path(d="M85,0A85,85,0,1,1,0,85,85,85,0,0,1,85,0Z")
    +e.img
      +icon('location').__icon
    block
