.socials {
  $b: &;

  display: block;

  &__item {
    @include screen('md') {
      text-align: right;
    }

    &:not(:last-child) {
      // margin-bottom: 27px;
      @include rule(margin-bottom, (xxl: 27, xl: 27, lg: 27, md: 14));
    }
  }

  &_line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    // margin-top: -19px;

    @include rule(margin-top, (xxl: -19, xl: -19, lg: -19, md: -19));

    @include screen('xl') {
      justify-content: flex-start;
    }

    @include screen('md') {
      flex-direction: column;
    }

    #{$b} {

      &__item {
        margin-top: 19px;

        @include rule(magin-top, (xxl: 19, xl: 19, lg: 19, md: 19));

        @include screen('md') {
          text-align: left;
        }

        &:not(:last-child) {
          // margin-right: 30px;
          margin-bottom: 0;

          @include rule(margin-right, (xxl: 30, xl: 70, lg: 70, md: 70));

          // @include screen('xl') {
          //   margin-right: 70px;
          // }
        }
      }
    }
  }
}
