.socials {
  $b: &;

  display: block;

  &__item {
    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  &_line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: -19px;

    @include screen('xl') {
      justify-content: flex-start;
    }

    @include screen('md') {
      flex-direction: column;
    }

    #{$b} {
      &__item {
        margin-top: 19px;

        &:not(:last-child) {
          margin-right: 30px;
          margin-bottom: 0;

          @include screen('xl') {
            margin-right: 70px;
          }
        }
      }
    }
  }
}
