mixin slider(pagination, buttons)
  +b.slider&attributes(attributes).swiper-container.js-slider
    .swiper-wrapper
      block
    if pagination
      +e.dots
        +e.dot
    if buttons
      +e.button._prev
      +e.button._next

mixin slide(tag)
  +e(tag || 'div').slide.swiper-slide&attributes(attributes)
    block

mixin slider-lead()
  +b.slider-lead&attributes(attributes).swiper-container.js-slider-lead
    .swiper-wrapper
      block
    +e.button
      +icon('circle-stroke').__border
      +icon('update').__icon
