.slider-lead {
  $b: &;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;

  .swiper-slide-wrapper {
    height: 100%;
  }

  &__slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    transition-timing-function: linear;
  }

  &__image {
    font-size: 0;
    line-height: 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    flex: none;
    transform: translate3d(40px, 0, 0);
    opacity: 0;
    transition: transform .4s ease-out, opacity .4s ease-out;

    .swiper-slide-active &,.swiper-slide-duplicate-active & {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__button {
    position: absolute;
    cursor: pointer;
    width: 176px;
    height: 176px;
    top: calc(50% + 80px);
    left: 28.5%;
    z-index: 4;
    border-radius: 50%;
    transition: background-color $ease-main;
    transform: translate3d(0, -50%, 0);

    @include screen('xl') {
      top: calc(50% + 112px);
      left: 27.8%;
    }

    &:hover {
      background-color: rgba($color-main, .2);
    }
  }

  &__border {
    position: absolute;
    top: 2px;
    left: 2px;
    stroke-width: 2px;
    stroke: url('#buttons');
    stroke-dasharray: 540;
    fill: none;
    width: calc(100% - 4px);
    height: calc(100% - 4px);

    #{$b}__button.is-animated & {
      animation: dash 4s linear forwards;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: calc(50% + 5px);
    transform: translate3d(-50%, -50%, 0);
    fill: $color-black;
    opacity: .46;
    width: 54px;
    height: 48px;
  }
}
