mixin slider(pagination, buttons)
  +b.slider&attributes(attributes).swiper-container.js-slider
    .swiper-wrapper
      block
    if pagination
      +e.dots
        +e.dot
    if buttons
      +e.button._prev
      +e.button._next

mixin slide(tag)
  +e(tag || 'div').slide.swiper-slide&attributes(attributes)
    block

mixin slider-bg()
  +b.slider_bg&attributes(attributes).swiper-container
    .swiper-wrapper
      block

mixin slider-lead()
  +b.slider-lead&attributes(attributes).swiper-container.js-slider-lead
    .swiper-wrapper
      block
    +e.button
      +e.SVG.border(xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 174 174")
        path(d="M85,0A85,85,0,1,1,0,85,85,85,0,0,1,85,0Z")
      +icon('update').__icon
