extends ../../layouts/default

block head
  - var pageTitle = 'Dezi | Тест'

block header
  - var headerData = getData('headerMain.json')
  - var headerMain = true

block content
  +b.MAIN.page
    //- +user-trap
    +b.popup-feedback
      #pagination
          button.button(style="width: 100px;" data-slide="0")
          button.button(style="width: 100px;" data-slide="1")
          button.button(style="width: 100px;" data-slide="2")
      +e.bg
        +slider-bg().js-bg-slider
          +e.IMG.image(src="assets/images/index/bg-slide-1-sq.jpg")
          +e.IMG.image(src="assets/images/index/bg-slide-2-sq.jpg")
          +e.IMG.image(src="assets/images/index/bg-slide-3-sq.jpg")

block scriptsbefore
  script(src='assets/scripts/libs/blotter.min.js')
  script(src='assets/scripts/libs/channelSplitMaterial.js')
