mixin berguskati()
  +b.berguskati&attributes(attributes)
    +b.SECTION.berguskati-lead
      .container.container_berguskati
        +e.H1.title.js-sr_14 BERGU SKATI <br> WEBSITE AND <br> ADVETISEMENT <br> CAMPAIGN
        +e.link.js-sr_10
          +b.A.berguskati-link(href="https://berguskati.lv") berguskati.lv
        +e.text.js-sr_2
          p Bergu Skati is a modern and luxurious private village located near Riga. Our client, Land & Home properties, wanted to reflect the huge potential of the freshly built settlement and show all its amazing features with a stylish and informative landing page.
          p After creating the landing page we engaged in an advertising campaign for the village, which resulted in the sale of almost all plots within 3 months.
        +e.phones.js-sr_32
          +e.IMG.image(src="assets/images/berguskati/phones.png" alt="@@")

    +b.SECTION.berguskati-landing
      .container.container_berguskati
        +e.page_left.hide-sm
          +e.info.js-sr_1
            +e.type Full HD 1920
            +e.type DESKTOP
            +e.counter 1 / 2
          +e.page-screen_left.js-sr_2
            +e.IMG.screen(src="assets/images/berguskati/landing-1.jpg" alt="@@")
        +e.page_right
          +e.description
            +e.logos
              +e.IMG.logo.js-sr_7(src="assets/images/berguskati/berguskati-logo-1.svg" width="90" height="74" alt="@@")
              +e.IMG.logo.js-sr_7(src="assets/images/berguskati/berguskati-logo-2.svg" width="91" height="75" alt="@@")
            +e.text.hide-sm.js-sr_2 Bergu Skati consists of two village projects that differ in layout, lot size and price. Each of the villages has its own landing page to separate the target traffic and be more convenient for the potential buyer.
            +e.counter.js-sr_3 2 / 2
          +e.page-screen_right.hide-sm.js-sr_4
            +e.IMG.screen(src="assets/images/berguskati/landing-2.jpg" alt="@@")
        +e.page_mobile.show-sm.js-sr_4
          +e.page-screen_mobile
            +e.IMG.screen(src="assets/images/berguskati/landing-sm.jpg" alt="@@")

    +b.SECTION.berguskati-promo
      .container.container_berguskati
        +e.head
          +e.H3.title.js-sr_1 Advertising Campaign and SMM Styling
          +e.info.hide-sm.js-sr_2 Youtube Ads Video
        +e.video.js-sr_14
          iframe.y-video(width="1904" height="800" src="https://www.youtube.com/embed/4dLx-O2bqn4?&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allowfullscreen)
        +b.UL.berguskati-statistic
          +e.LI.item.js-sr_8
            +e.name Impressions
            +e.data 300K+
          +e.LI.item.js-sr_8
            +e.name Click-through rate
            +e.data 12k+
          +e.LI.item.js-sr_8
            +e.name Campaign period
            +e.data 90 days
          +e.LI.item.js-sr_8
            +e.name Campaign result
            +e.data Sold out

    +b.berguskati-instagramm
      .container.container_berguskati
        +e.description
          +e.IMG.logo.js-sr_1(src="assets/images/berguskati/insta.svg" width="51" height="51" alt="instagramm")
          +e.info
            +e.H3.title.js-sr_2 Instagram Styling
            +e.text.js-sr_3 We worked extensively on social media throughout the advertising campaign. We created a new image of the company on Instagram and caught the right mood to help sell properties.

      +b.FIGURE.berguskati-collage
        +e.card_1.js-sr_7
          +e.IMG(src="assets/images/berguskati/collage-1.jpg" alt="@@")
        +e.card_2.js-sr_7
          +e.IMG(src="assets/images/berguskati/collage-2.jpg" alt="@@")
        +e.card_3.js-sr_7
          +e.IMG(src="assets/images/berguskati/collage-3.jpg" alt="@@")
        +e.card_4.js-sr_7
          +e.IMG(src="assets/images/berguskati/collage-4.jpg" alt="@@")
        +e.card_5.js-sr_7
          +e.IMG(src="assets/images/berguskati/collage-5.jpg" alt="@@")
        +e.card_6.js-sr_7
          +e.IMG(src="assets/images/berguskati/collage-6.jpg" alt="@@")

    +b.SECTION.berguskati-app
      .container.container_berguskati
        +e.row
          +e.landscape.js-sr_1
            +e.IMG(src="assets/images/berguskati/landscape.jpg" alt="@@")
          +e.icons.js-sr_2
            +e.IMG(src="assets/images/berguskati/icon-group.svg" alt="@@")
          +e.app.js-sr_3
            +e.IMG(src="assets/images/berguskati/app.jpg" alt="@@")

        +e.description
          +e.text.js-sr_1 While working on the project, one thought never left us:
          +e.H3.title.js-sr_2 After all, the best is <br> yet to come!
          +b.A.berguskati-link.js-sr_3(href="https://berguskati.lv") berguskati.lv



    block
