mixin user-trap()
  +b.user-trap&attributes(attributes)
    +e.SPAN.string#b-string-1 DELIVERING BESPOKE
    +e.SPAN.string#b-string-2 EXPERIENCES MAKING
    +e.SPAN.string#b-string-3 BRANDS BOOST UP
    +e.wrapper
    block
