.user-trap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  $b: &;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    transform: scale(var(--scale));

    @include screen('xl') {
      transform: scale(var(--scalexl));
    }

    @include screen('lg') {
      transform: scale(var(--scalelg));
    }

    @include screen('md') {
      transform: scale(var(--scalemd));
    }
  }

  &__string {
    display: none;
  }
}
