mixin user-trap()
  +b.user-trap&attributes(attributes)
    +e.loader
    +e.text
      +e.SPAN.string DELIVERING BESPOKE
      +e.SPAN.string EXPERIENCES MAKING
      +e.SPAN.string BRANDS BOOST UP
    +e.wrapper
    block
