.user-trap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: $font-archivo;
  position: relative;
  $b: &;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    // transform: scale(var(--scale));

    // @include screen('xl') {
    //   transform: scale(var(--scalexl));
    // }

    // @include screen('lg') {
    //   transform: scale(var(--scalelg));
    // }

    // @include screen('md') {
    //   transform: scale(var(--scalemd));
    // }

    .b-canvas {
      @include rule(margin-left, (xxl: (-240 * 1.03), xl: (-172 * 1.03), lg: (-120 * 1.03), md: (-48 * 1.03)));
    }

    .b-spaceword {
      @include rule(margin-left, (xxl: (-180 * 1.03), xl: (-129 * 1.03), lg: (-90 * 1.03), md: (-36 * 1.03)));
    }

    .b-string {
      @include rule(margin-right, (xxl: (-240 * 1.03), xl: (-172 * 1.03), lg: (-120 * 1.03), md: (-48 * 1.03)));

      &:not(:first-child) {
        @include rule(margin-top, (xxl: (-60 * 1.3), xl: (-43 * 1.3), lg: (-30 * 1.3), md: (-12 * 1.3)));
      }
    }
  }

  &__string {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
  }
}
