.nla {
  display: block;
  width: 100%;
  background-color: $color-grey-dark-5;
  color: $color-yellow-light-4;
  font-family: $font-second;
  font-weight: 100;
  line-height: 1.2;
  // margin-bottom: -1px;
  $b: &;

  @include rule(margin-bottom, (xxl: -1, xl: -1, lg: -1, md: -1));

  .container {
    position: relative;
    z-index: 2;
  }

  &__col {
    display: block;
    box-sizing: border-box;

    &_left {
      width: 43.3%;
      // margin-left: -4px;

      @include rule(margin-left, (xxl: -4, xl: -2, lg: -2));

      @include screen('xl') {
        // margin-left: -2px;
        width: 45%;
      }

      @include screen('md') {
        width: 100%;
        margin-left: 0;
      }
    }

    &_right {
      position: relative;
      flex: 1;

      @include screen('md') {
        flex: none;
        width: 100%;
      }
    }
  }

  .case-section {
    display: block;
    width: 100%;
    padding-right: 27.6%;

    @include screen('xl') {
      padding-right: 25.6%;
    }

    @include screen('lg') {
      padding-right: 19%;
    }

    @include screen('md') {
      padding-right: 0;
    }

    &__heading {
      // @include screen('lg') {
      //   font-size: 35px;
      // }

      // @include screen('md') {
      //   font-size: 30px;
      // }

      @include rule(font-size, (lg: 35, md: 30));
    }

    &__text {
      @include rule(font-size, (lg: 18, md: 15));
      // @include screen('lg') {
      //   font-size: 18px;
      // }

      // @include screen('md') {
      //   font-size: 15px;
      // }
    }
  }

  .case-list {
    // @include screen('lg') {
    //   font-size: 18px;
    // }

    // @include screen('md') {
    //   font-size: 15px;
    // }

    @include rule(font-size, (lg: 18, md: 15));

    &__item {
      // @include screen('lg') {
      //   padding-left: 74px;
      // }

      // @include screen('md') {
      //   padding-left: 62px;
      // }

      @include rule(padding-left, (lg: 74, md: 62));

      &:not(:last-child) {
        @include rule(margin-bottom, (lg: 51, md: 45));
        // @include screen('lg') {
        //   margin-bottom: 51px;
        // }

        // @include screen('md') {
        //   margin-bottom: 45px;
        // }
      }
    }

    &__icon {
      @include screen('lg') {
        transform-origin: 0 50%;
        transform: translate3d(0, -50%, 0) scale(.89);
      }

      @include screen('md') {
        transform-origin: 0 50%;
        transform: translate3d(0, -50%, 0) scale(.77);
      }
    }
  }

  &-lead {
    position: relative;
    width: 100%;
    padding-top: 5.8%;
    padding-bottom: 17.8%;
    z-index: 2;

    @include screen('xl') {
      padding-top: 5.6%;
    }

    @include screen('lg') {
      padding-top: 5.6%;
      padding-bottom: 24%;
    }

    @include screen('md') {
      padding-top: 11.5%;
      padding-bottom: 0;
      z-index: auto;
    }

    &__bg {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      padding-top: 56.46%;
      z-index: 1;

      @include screen('xl') {
        padding-top: 72.7%;
      }

      @include screen('lg') {
        padding-top: 77.4%;
      }

      @include screen('md') {
        padding-top: 250%;
      }

      &::before {
        @include pseudo;

        top: 0;
        left: 0;
        width: 100%;
        padding-top: 7.5%;
        background-image: linear-gradient(-148deg, $color-black 0%, $color-green 100%);
        transform-origin: 0 50%;
        transform: skewY(-9.6deg);
        opacity: .12;
        z-index: 3;

        @include screen('xl') {
          padding-top: 10%;
          transform: skewY(-8.8deg);
        }

        @include screen('lg') {
          padding-top: 10.6%;
          transform: skewY(-8.8deg);
        }

        @include screen('md') {
          padding-top: 31.25%;
          transform: skewY(-8.8deg);
        }
      }

      &::after {
        @include pseudo;

        top: 0;
        left: 0;
        width: 100%;
        padding-top: 24.3%;
        transform-origin: 100% 50%;
        background-image: linear-gradient(-148deg, $color-black 0%, $color-green-dark 100%);
        transform: skewY(9.2deg);
        z-index: 2;

        @include screen('xl') {
          padding-top: 27.5%;
        }

        @include screen('lg') {
          padding-top: 27.6%;
        }

        @include screen('md') {
          padding-top: 67.5%;
        }
      }

      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: 100% 50%;
        transform: skewY(9.2deg);
        background-image: linear-gradient(-148deg, $color-black 0%, $color-green-dark 100%);
        z-index: 1;
      }
    }

    &__logo {
      display: block;
      // width: 154px;

      @include rule(width, (xxl: 154, xl: 154, lg: 118, md: 92));
      @include rule(margin-top, (lg: -13));

      // @include screen('lg') {
      //   // width: 118px;
      //   // margin-top: -13px;
      // }

      @include screen('md') {
        margin-top: 0;
        // width: 92px;
        margin-left: auto;
        margin-right: auto;
      }

      &:not(:last-child) {
        // margin-bottom: 72px;
        @include rule(margin-bottom, (xxl: 72, xl: 72, lg: 36, md: 11));

        // @include screen('lg') {
        //   margin-bottom: 36px;
        // }

        // @include screen('md') {
        //   margin-bottom: 11px;
        // }
      }

      &-image {
        display: block;
        font-size: 0;
        line-height: 0;
        width: 100%;
        height: auto;
      }
    }

    &__media {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      // border-radius: 10px;
      overflow: hidden;
      z-index: 3;

      @include rule(border-radius, (xxl: 10, xl: 10, lg: 10, md: 5));

      @include screen('xl') {
        width: 127%;
      }

      @include screen('md') {
        position: relative;
        left: auto;
        right: auto;
        width: calc(100% + ((20 / 320) * 100vw));
        margin-left: calc((-10 / 320) * 100vw);
        margin-right: calc((-10 / 320) * 100vw);
        // border-radius: 5px;
        margin-top: calc((58 / 320) * 100vw);
        z-index: auto;
      }
    }

    &__image {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 100%;
      height: auto;
      // border-radius: 10px;

      @include rule(border-radius, (xxl: 10, xl: 10, lg: 10, md: 5));

      // @include screen('md') {
      //   border-radius: 5px;
      // }
    }

    &__link {
      display: inline-block;
      // font-size: 19px;
      font-weight: 500;
      line-height: 1.2;
      color: $color-red-2;

      @include rule(font-size, (xxl: 19, xl: 19, lg: 14, md: 11));

      @include screen('lg') {
        // font-size: 14px;
      }

      @include screen('md') {
        // font-size: 11px;
        width: 100%;
        text-align: center;
      }

      &:not(:last-child) {
        // margin-bottom: 90px;
        @include rule(margin-bottom, (xxl: 90, xl: 90, lg: 68, md: 70));

        // @include screen('lg') {
        //   margin-bottom: 68px;
        // }

        // @include screen('md') {
        //   margin-bottom: 70px;
        // }
      }
    }

    &__section {
      .case-section {
        &__heading {
          @include screen('md') {
            width: 100%;
            box-sizing: border-box;
            padding-right: calc((10 / 320) * 100vw);
          }

          &:not(:last-child) {
            // margin-bottom: 50px;
            @include rule(margin-bottom, (xxl: 50, xl: 50, lg: 34, md: 23));

            // @include screen('lg') {
            //   margin-bottom: 34px;
            // }

            // @include screen('md') {
            //   margin-bottom: 23px;
            // }
          }
        }
      }
    }
  }

  &-case {
    position: relative;
    width: 100%;
    margin-top: -15.9%;
    padding-top: 7.4%;
    z-index: 1;

    @include screen('xl') {
      margin-top: -14.3%;
      padding-top: 10.4%;
    }

    @include screen('lg') {
      margin-top: -16.5%;
      padding-top: 9.8%;
    }

    @include screen('md') {
      margin-top: -111%;
      padding-top: 18.7%;
      z-index: 2;
    }

    &::before {
      @include screen('md') {
        @include pseudo;

        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        padding-top: 100%;
        background: $color-grey-dark-7;
        transform-origin: 0 50%;
        transform: skewY(9deg);
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/nla/bg-first.png');
      background-repeat: no-repeat;
      background-position: 0 180.9%;
      background-size: 35.3% auto;

      @include screen('xl') {
        background-position: -8.4% 178.9%;
        background-size: 49.4% auto;
      }

      @include screen('lg') {
        background-position: -8.4% 172.9%;
        background-size: 49.4% auto;
        z-index: 1;
      }

      @include screen('md') {
        background-position: 10% 140.2%;
        background-size: 103% auto;
      }

      &::before {
        @include pseudo;

        top: 0;
        left: 0;
        width: 100%;
        padding-top: 32%;
        transform-origin: 0 50%;
        background-image: linear-gradient(-148deg, $color-black 0%, $color-green 100%);
        opacity: .12;
        transform: skewY(-9deg);
        z-index: 2;

        @include screen('xl') {
          padding-top: 44.6%;
        }

        @include screen('lg') {
          padding-top: 46.2%;
        }

        @include screen('md') {
          display: none;
        }
      }

      &::after {
        @include pseudo;

        background-color: $color-grey-dark-5;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 32%;
        transform-origin: 0 50%;
        transform: skewY(-9deg);
        z-index: 1;

        @include screen('xl') {
          padding-top: 44.6%;
        }

        @include screen('lg') {
          padding-top: 46.2%;
        }

        @include screen('md') {
          top: 17%;
          background: $color-grey-dark-7;
          padding-top: 92.8%;
        }
      }
    }

    &__list {
      // padding-top: 41px;

      @include rule(padding-top, (xxl: 41, xl: 41, lg: 16, md: 25));

      @include screen('lg') {
        // padding-top: 16px;
        margin-left: calc((1 / 1024) * 100vw);
      }

      @include screen('md') {
        // padding-top: 25px;
        margin-left: 0;
      }

      .case-list {
        &__icon {
          fill: url('#nla-red');

          &_case-star {
            @include rule(margin-top, (lg: -6, md: -6));
            // @include screen('lg') {
            //   margin-top: -6px;
            // }
          }
        }
      }
    }

    &__media {
      display: block;
      width: 82%;
      align-self: flex-end;
      margin-right: -16%;
      margin-top: -11%;

      @include screen('xl') {
        width: 88.1%;
        // margin-top: 110px;
        margin-right: -13.4%;
      }

      @include screen('lg') {
        // margin-top: 90px;
      }

      @include rule(margin-top, (xl: 110, lg: 90, md: 52));

      @include screen('md') {
        margin-right: 0;
        width: 100%;
        // margin-top: 52px;
      }
    }

    &__image {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 100%;
    }

    #{$b} {
      &__col {
        &_left {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
    }
  }

  &-design {
    position: relative;
    width: 100%;
    margin-top: -2.3%;
    padding-top: 3.2%;
    z-index: 1;

    @include screen('xl') {
      margin-top: -3.3%;
      padding-top: 6.5%;
    }

    @include screen('lg') {
      padding-top: 6.4%;
    }

    @include screen('md') {
      margin-top: -20.3%;
      padding-top: 9.8%;
      z-index: 3;
    }

    .container {
      z-index: 5;
    }

    &::before {
      @include pseudo;

      top: 0;
      left: 0;
      width: 100%;
      transform-origin: 0 50%;
      padding-top: 88.75%;
      background-image: linear-gradient(-148deg, $color-red-bright 0%, $color-red-dark-2 100%);
      z-index: 2;
      transform: skewY(-9.1deg);

      @include screen('xl') {
        padding-top: 101%;
      }

      @include screen('md') {
        padding-top: 218%;
      }
    }

    &__bg {
      position: absolute;
      display: block;
      width: 100%;
      top: 52.4%;
      left: 0;
      padding-top: 74.6%;
      background-color: $color-grey-dark-5;
      transform-origin: 100% 50%;
      transform: skewY(-13.5deg);
      overflow: hidden;
      z-index: 3;

      @include screen('xl') {
        top: 57.5%;
        padding-top: 105%;
        transform: skewY(-13.2deg);
      }

      @include screen('lg') {
        top: 56.2%;
        transform: skewY(-9.1deg);
      }

      @include screen('md') {
        top: 70%;
        padding-top: 224%;
        transform: skewY(-12.8deg);
      }

      &::after {
        @include pseudo;

        top: -7.4%;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/nla/bg-second.png');
        background-size: 100% auto;
        background-position: 0 0;
        background-repeat: no-repeat;
        opacity: .17;
        transform-origin: 100% 50%;
        transform: skewY(13.5deg);

        @include screen('xl') {
          top: -14%;
          background-image: url('../images/nla/bg-second-2.png');
          transform: skewY(13.2deg);
        }

        @include screen('lg') {
          top: 20.8%;
          transform: skewY(9.1deg);
        }

        @include screen('md') {
          top: -7%;
          background-size: 300% auto;
          background-position: 22.5% 0;
          background-image: url('../images/nla/bg-second.png');
          transform: skewY(12.8deg);
          opacity: .32;
        }
      }
    }

    &__media {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 110%;
      margin-left: -19%;
      z-index: 4;
      // margin-top: 12px;

      @include rule(margin-top, (xxl: 12, xl: 94, lg: 56, md: 39));

      @include screen('xl') {
        padding-top: 105.6%;
        // margin-right: -13.1%;
        // margin-top: 94px;
      }

      @include screen('lg') {
        padding-top: 99.9%;
        // width: 130%;
        // margin-left: 0%;
        // margin-right: -30%;
        // margin-top: 56px;
      }

      @include screen('md') {
        padding-top: 191.4%;
        // width: 213%;
        // margin-left: -45%;
        // margin-right: -68%;
        margin-left: -100%;
        // margin-top: 39px;
      }
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 107%;
      transform-origin: 50% 37% 0;
      transition: transform 1s ease;

      @include screen('xl') {
        top: -18%;
        height: 129%;
      }

      @include screen('lg') {
        top: -20%;
        height: 135%;
      }

      @include screen('md') {
        top: -26.8%;
        height: 128%;
      }
    }

    .case-section {
      @include screen('xl') {
        padding-right: 19.8%;
      }

      @include screen('lg') {
        padding-right: 10.2%;
      }

      @include screen('md') {
        padding-right: 0;
      }
    }

    &__section {
      .case-section {
        &__heading {
          &:not(:last-child) {
            @include rule(margin-bottom, (xxl: 32, xl: 34, lg: 19, md: 24));
            // margin-bottom: 32px;

            // @include screen('xl') {
            //   margin-bottom: 34px;
            // }

            // @include screen('lg') {
            //   margin-bottom: 19px;
            // }

            // @include screen('md') {
            //   margin-bottom: 24px;
            // }
          }
        }
      }
    }
  }

  &-logo {
    position: relative;
    display: block;
    width: 100%;
    margin-top: -34.8%;
    padding-top: 4.1%;
    z-index: 1;

    @include screen('xl') {
      margin-top: -33%;
      padding-top: 6.4%;
    }

    @include screen('lg') {
      margin-top: -39.5%;
      padding-top: 6.4%;
    }

    @include screen('md') {
      margin-top: -60.5%;
      padding-top: 10%;
      z-index: 4;
    }

    &__logo {
      display: block;
      width: 82.5%;
      margin-left: calc((-10 / 1920) * 100vw);

      @include screen('xl') {
        width: 108.8%;
        margin-left: -4%;
        margin-right: -4.8%;
      }

      @include screen('md') {
        width: 94.5%;
        margin-left: auto;
        margin-right: auto;
      }

      &-image {
        display: block;
        font-size: 0;
        line-height: 0;
        width: 100%;
      }
    }

    &__dude {
      display: block;
      width: 67.8%;
      margin-left: 14.5%;

      @include screen('xl') {
        width: 87.7%;
        margin-left: 0;
      }

      @include screen('md') {
        width: 100%;
      }

      &-image {
        display: block;
        font-size: 0;
        line-height: 0;
        width: 100%;
      }
    }

    .case-section {
      @include screen('xl') {
        padding-right: calc((20 / 1366) * 100vw);
      }

      @include screen('lg') {
        padding-right: 0;
        width: calc(100% + ((30 / 1024) * 100vw));
        margin-left: 0;
        margin-right: calc((-30 / 1024) * 100vw);
      }

      @include screen('md') {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }

    &__section {
      &:not(:last-child) {
        // margin-bottom: 224px;
        @include rule(margin-bottom, (xxl: 224, xl: 224, lg: 104, md: 50));

        // @include screen('lg') {
        //   margin-bottom: 104px;
        // }

        // @include screen('md') {
        //   margin-bottom: 50px;
        // }
      }

      .case-section {
        &__heading {
          &:not(:last-child) {
            // margin-bottom: 32px;
            @include rule(margin-bottom, (xxl: 32, xl: 32, lg: 20, md: 24));

            // @include screen('lg') {
            //   margin-bottom: 20px;
            // }

            // @include screen('md') {
            //   margin-bottom: 24px;
            // }
          }
        }
      }
    }

    #{$b} {
      &__col {
        &_left {
          padding-bottom: 21.8%;

          @include screen('xl') {
            padding-bottom: 27.8%;
          }

          @include screen('md') {
            padding-bottom: calc((86 / 320) * 100vw);
          }
        }

        &_right {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;

          @include screen('xl') {
            align-items: flex-end;
          }
        }
      }
    }
  }

  &-portraits {
    position: relative;
    display: block;
    width: 100%;
    z-index: 2;
    margin-top: -5.7%;
    // padding-bottom: 108px;

    @include rule(padding-bottom, (xxl: 108, xl: 146, lg: 113, md: 72));

    @include screen('xl') {
      margin-top: -6.2%;
      // padding-bottom: 146px;
    }

    // @include screen('lg') {
    //   // padding-bottom: 113px;
    // }

    @include screen('md') {
      margin-top: -12.4%;
      // padding-bottom: 72px;
      z-index: 5;
    }

    &__gallery {
      display: block;
      width: 100%;
      overflow: hidden;

      &:not(:last-child) {
        // margin-bottom: 113px;
        @include rule(margin-bottom, (xxl: 113, xl: 82, lg: 61, md: 46));

        // @include screen('xl') {
        //   margin-bottom: 82px;
        // }

        // @include screen('lg') {
        //   margin-bottom: 61px;
        // }

        // @include screen('md') {
        //   margin-bottom: 46px;
        // }
      }
    }

    &__list {
      display: flex;
      justify-content: flex-start;
      width: auto;
      transform: translate3d(-3.333vw, 0, 0);

      @include screen('xl') {
        transform: translate3d(-4.539vw, 0, 0);
      }

      @include screen('lg') {
        transform: translate3d(-4.6875vw, 0, 0);
      }

      @include screen('md') {
        transform: translate3d(-11.5625vw, 0, 0);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    &__item {
      display: flex;
      justify-content: flex-start;

      &:not(:last-child) {
        // margin-right: 10px;
        @include rule(margin-right, (xxl: 10, xl: 7, lg: 6));

        // @include screen('xl') {
        //   margin-right: 7px;
        // }

        // @include screen('lg') {
        //   margin-right: 6px;
        // }

        @include screen('md') {
          margin-right: 0;
          margin-bottom: 6px;
        }
      }
    }

    &__image {
      display: block;
      font-size: 0;
      line-height: 0;
      width: auto;
      // height: 255px;

      @include rule(height, (xxl: 255, xl: 214, lg: 160, md: 128));

      // @include screen('xl') {
      //   height: 214px;
      // }

      // @include screen('lg') {
      //   height: 160px;
      // }

      // @include screen('md') {
      //   height: 128px;
      // }

      &:not(:last-child) {
        // margin-right: 10px;
        @include rule(margin-right, (xxl: 10, xl: 7, lg: 6, md: 6));

        // @include screen('xl') {
        //   margin-right: 7px;
        // }

        // @include screen('lg') {
        //   margin-right: 6px;
        // }
      }
    }

    .case-section {
      padding-right: 0;
    }

    &__section {
      // max-width: 620px;

      @include rule(max-width, (xxl: 620, xl: 620, lg: 554, md: 554));

      // @include screen('lg') {
      //   max-width: 554px;
      // }

      .case-section {
        &__heading {
          &:not(:last-child) {
            // margin-bottom: 54px;
            @include rule(margin-bottom, (xxl: 54, xl: 56, lg: 37, md: 24));

            // @include screen('xl') {
            //   margin-bottom: 56px;
            // }

            // @include screen('lg') {
            //   margin-bottom: 37px;
            // }

            // @include screen('md') {
            //   margin-bottom: 24px;
            // }
          }
        }
      }
    }
  }
}
